Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-audit, npm-format, npm-lint, npm-check

Path conditions:
  pyright-backend: any of: ^services/backend/ and \.py$
  pyright-mcp-auth: any of: ^services/mcp-auth/ and \.py$
  pyright-mcp-resource: any of: ^services/mcp-resource/ and \.py$
  pyright-sdk: any of: ^packages/taskmanager-sdk/ and \.py$
  npm-audit: any of: ^services/frontend/(package\.json|package-lock\.json)$
  npm-format: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-lint: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-check: any of: ^services/frontend/.*\.(js|ts|svelte)$

Add user settings page for email and password management (#171)
  services/backend/app/api/auth.py
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/routes/settings/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Update calendar to start week on Monday and show 3-week view
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/utils/dates.ts
  services/frontend/src/routes/settings/+page.svelte
Due: npm-format, npm-lint, npm-check

Fix E2E test to expect Monday-first calendar ordering
  services/frontend/tests/e2e/calendar-drag-drop.spec.ts
Due: npm-format, npm-lint, npm-check

Update calendar to start week on Monday and show 3-week view (#172)
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/utils/dates.ts
  services/frontend/src/routes/settings/+page.svelte
  services/frontend/tests/e2e/calendar-drag-drop.spec.ts
Due: npm-format, npm-lint, npm-check

Add API key authentication for programmatic access
  services/backend/alembic/versions/0008_add_api_keys.py
  services/backend/app/api/api_keys.py
  services/backend/app/core/errors.py
  services/backend/app/core/security.py
  services/backend/app/dependencies.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/api_key.py
  services/backend/app/models/user.py
  services/backend/tests/test_api_keys.py
Due: pyright-backend

Fix security and robustness issues in API key authentication
  services/backend/alembic/versions/0009_add_api_keys_composite_index.py
  services/backend/app/api/api_keys.py
  services/backend/app/core/rate_limit.py
  services/backend/app/dependencies.py
  services/backend/tests/test_api_keys.py
Due: pyright-backend

Add API key authentication for programmatic access (#173)
  services/backend/alembic/versions/0008_add_api_keys.py
  services/backend/alembic/versions/0009_add_api_keys_composite_index.py
  services/backend/app/api/api_keys.py
  services/backend/app/core/errors.py
  services/backend/app/core/rate_limit.py
  services/backend/app/core/security.py
  services/backend/app/dependencies.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/api_key.py
  services/backend/app/models/user.py
  services/backend/tests/test_api_keys.py
Due: pyright-backend

Add API key management page for frontend
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/api-keys/+page.svelte
Due: npm-format, npm-lint, npm-check

Fix dark mode text color in API keys empty state
  services/frontend/src/routes/api-keys/+page.svelte
Due: npm-format, npm-lint, npm-check

Add API key management page (#174)
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/api-keys/+page.svelte
Due: npm-format, npm-lint, npm-check

Add centralized database query helpers to reduce duplication
  services/backend/app/api/api_keys.py
  services/backend/app/api/attachments.py
  services/backend/app/api/projects.py
  services/backend/app/api/recurring_tasks.py
  services/backend/app/api/todos.py
  services/backend/app/db/queries.py
Due: pyright-backend

Add documentation and comprehensive tests for database query helpers
  services/backend/app/db/queries.py
  services/backend/tests/test_db_queries.py
Due: pyright-backend

Add centralized database query helpers to reduce duplication (#175)
  services/backend/app/api/api_keys.py
  services/backend/app/api/attachments.py
  services/backend/app/api/projects.py
  services/backend/app/api/recurring_tasks.py
  services/backend/app/api/todos.py
  services/backend/app/db/queries.py
  services/backend/tests/test_db_queries.py
Due: pyright-backend

Add autonomy_tier field for agent task execution risk levels
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/alembic/versions/0010_add_autonomy_tier.py
  services/backend/app/api/todos.py
  services/backend/app/models/todo.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-resource, pyright-sdk

Add validation, tests, and documentation for autonomy_tier
  services/backend/alembic/versions/0010_add_autonomy_tier.py
  services/backend/app/models/todo.py
  services/backend/tests/test_todos.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-resource

Add autonomy_tier field for agent task execution risk levels (#176)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/alembic/versions/0010_add_autonomy_tier.py
  services/backend/app/api/todos.py
  services/backend/app/models/todo.py
  services/backend/tests/test_todos.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-resource, pyright-sdk

Use API key authentication for MCP Resource Server
  .env.example
  docker-compose.yml
  services/backend/app/api/attachments.py
  services/backend/app/api/categories.py
  services/backend/app/api/projects.py
  services/backend/app/api/search.py
  services/backend/app/api/todos.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-resource

Use API key authentication for MCP Resource Server (#177)
  .env.example
  docker-compose.yml
  services/backend/app/api/attachments.py
  services/backend/app/api/categories.py
  services/backend/app/api/projects.py
  services/backend/app/api/search.py
  services/backend/app/api/todos.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-resource

Add task dependency feature for task relationships
  services/backend/alembic/versions/0011_add_task_dependencies.py
  services/backend/app/api/todos.py
  services/backend/app/core/errors.py
  services/backend/app/models/todo.py
  services/frontend/src/lib/components/DependencyList.svelte
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/stores/todos.ts
  services/frontend/src/lib/types.ts
Due: pyright-backend, npm-format, npm-lint, npm-check

Add WebAuthn/passkey authentication support
  services/backend/alembic/versions/0011_add_webauthn_credentials.py
  services/backend/app/api/webauthn.py
  services/backend/app/config.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/user.py
  services/backend/app/models/webauthn_credential.py
  services/backend/pyproject.toml
  services/backend/uv.lock
  services/frontend/src/lib/api/webauthn.ts
  services/frontend/src/routes/login/+page.svelte
  services/frontend/src/routes/settings/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Fix code review issues for task dependency feature
  services/backend/alembic/versions/0011_add_task_dependencies.py
  services/backend/app/api/todos.py
  services/backend/tests/test_task_dependencies.py
  services/frontend/src/lib/components/DependencyList.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Add task dependency feature for task relationships (#178)
  services/backend/alembic/versions/0011_add_task_dependencies.py
  services/backend/app/api/todos.py
  services/backend/app/core/errors.py
  services/backend/app/models/todo.py
  services/backend/tests/test_task_dependencies.py
  services/frontend/src/lib/components/DependencyList.svelte
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/stores/todos.ts
  services/frontend/src/lib/types.ts
Due: pyright-backend, npm-format, npm-lint, npm-check

Address PR review comments for WebAuthn implementation
  services/backend/app/api/webauthn.py
Due: pyright-backend

Fix migration conflict by rebasing WebAuthn migration
  services/backend/alembic/versions/0012_add_webauthn_credentials.py
Due: pyright-backend

Add CIMD (Client ID Metadata Document) authentication support
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/mcp_auth/cimd.py
  services/mcp-auth/mcp_auth/jwt_auth.py
  services/mcp-auth/mcp_auth/taskmanager_oauth_provider.py
  services/mcp-auth/pyproject.toml
  services/mcp-auth/tests/test_cimd.py
  services/mcp-auth/tests/test_device_flow.py
  services/mcp-auth/uv.lock
Due: pyright-mcp-auth

Fix Svelte 5 event handler syntax in login page
  services/frontend/src/routes/login/+page.svelte
Due: npm-format, npm-lint, npm-check

Fix Svelte 5 reactivity in login page
  services/frontend/src/routes/login/+page.svelte
Due: npm-format, npm-lint, npm-check

Add project-level progress tracking with statistics
  services/backend/app/api/projects.py
  services/backend/tests/test_projects.py
  services/frontend/src/lib/stores/projects.ts
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/projects/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Add WebAuthn/Passkey authentication support (#179)
  services/backend/alembic/versions/0012_add_webauthn_credentials.py
  services/backend/app/api/webauthn.py
  services/backend/app/config.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/user.py
  services/backend/app/models/webauthn_credential.py
  services/backend/pyproject.toml
  services/backend/uv.lock
  services/frontend/src/lib/api/webauthn.ts
  services/frontend/src/routes/login/+page.svelte
  services/frontend/src/routes/settings/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Address security concerns in CIMD authentication
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/mcp_auth/cimd.py
  services/mcp-auth/mcp_auth/jwt_auth.py
  services/mcp-auth/mcp_auth/taskmanager_oauth_provider.py
  services/mcp-auth/tests/test_cimd.py
Due: pyright-mcp-auth

Add CIMD (Client ID Metadata Document) authentication support (#180)
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/mcp_auth/cimd.py
  services/mcp-auth/mcp_auth/jwt_auth.py
  services/mcp-auth/mcp_auth/taskmanager_oauth_provider.py
  services/mcp-auth/pyproject.toml
  services/mcp-auth/tests/test_cimd.py
  services/mcp-auth/tests/test_device_flow.py
  services/mcp-auth/uv.lock
Due: pyright-mcp-auth

Fix code review issues for project stats feature
  services/backend/alembic/versions/0012_add_project_stats_index.py
  services/backend/app/api/projects.py
  services/frontend/src/lib/stores/projects.ts
  services/frontend/src/routes/projects/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Fix migration conflict with main branch
  services/backend/alembic/versions/0013_add_project_stats_index.py
Due: pyright-backend

Include webauthn migration for complete local chain
  services/backend/alembic/versions/0012_add_webauthn_credentials.py
Due: pyright-backend

test'
  services/backend/app/api/todos.py
  services/backend/demo.yaml
  services/backend/demo_config.json
  services/frontend/src/lib/api/client.ts
Due: pyright-backend, npm-format, npm-lint, npm-check

Fix GitHub OAuth callback to handle error responses from GitHub
  services/backend/app/api/oauth/github.py
Due: pyright-backend

Fix security vulnerabilities in GitHub OAuth implementation
  services/backend/app/api/oauth/github.py
  services/backend/app/services/token_encryption.py
  services/backend/tests/test_github_oauth.py
Due: pyright-backend

Add GitHub OAuth sign-in feature
  .env.example
  services/backend/alembic/versions/0006_add_oauth_providers.py
  services/backend/app/api/oauth/github.py
  services/backend/app/config.py
  services/backend/app/core/errors.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/oauth_provider.py
  services/backend/app/models/user.py
  services/backend/app/services/github_oauth.py
  services/backend/tests/test_github_oauth.py
  services/frontend/src/routes/login/+page.svelte
  services/frontend/src/routes/register/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Add MCP Email Server for FastMail integration
  docker-compose.yml
  services/mcp-email/Dockerfile
  services/mcp-email/mcp_email/__init__.py
  services/mcp-email/mcp_email/server.py
  services/mcp-email/pyproject.toml
  services/mcp-email/tests/__init__.py
  services/mcp-email/tests/test_server.py
  services/mcp-email/uv.lock
Due: none

Add project-level progress tracking with statistics (#181)
  services/backend/alembic/versions/0013_add_project_stats_index.py
  services/backend/app/api/projects.py
  services/backend/tests/test_projects.py
  services/frontend/src/lib/stores/projects.ts
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/projects/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check
