Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, eslint, prettier-check, npm-audit

pyright-backend:
  name: pyright (backend)
  entry: bash -c 'cd services/backend && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp-auth:
  name: pyright (mcp-auth)
  entry: bash -c 'cd services/mcp-auth && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp-resource:
  name: pyright (mcp-resource)
  entry: bash -c 'cd services/mcp-resource && uv run pyright'
  language: system
  pass_filenames: false

pyright-sdk:
  name: pyright (taskmanager-sdk)
  entry: bash -c 'cd packages/taskmanager-sdk && uv run pyright'
  language: system
  pass_filenames: false

eslint:
  name: eslint (web-app)
  entry: bash -c 'cd services/web-app && npm run lint'
  language: system
  pass_filenames: false

prettier-check:
  name: prettier (web-app)
  entry: bash -c 'cd services/web-app && npm run format:check'
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (frontend)
  entry: bash -c 'cd frontend && npm audit --production --audit-level=high'
  language: system
  pass_filenames: false

Optimize GitHub Actions to reduce usage and duplication (#117)
  .github/workflows/node-security.yml
  .github/workflows/precommit.yml
  .github/workflows/python-ci.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

Fix SvelteKit cookie forwarding and database schema compatibility
  COOKIE_FIX_SUMMARY.md
  DATABASE_SCHEMA_FIX.md
  DEPLOYMENT_FIX.md
  QUICK_FIX.md
  backend/app/config.py
  backend/app/models/recurring_task.py
  backend/app/models/todo.py
  frontend/src/hooks.server.ts
  frontend/src/lib/api/client.ts
  frontend/src/routes/login/+page.svelte
  todo_errors.png
Due: none

Fix SvelteKit cookie forwarding and database schema compatibility (#118)
  COOKIE_FIX_SUMMARY.md
  DATABASE_SCHEMA_FIX.md
  DEPLOYMENT_FIX.md
  QUICK_FIX.md
  backend/app/config.py
  backend/app/models/recurring_task.py
  backend/app/models/todo.py
  frontend/src/hooks.server.ts
  frontend/src/lib/api/client.ts
  frontend/src/routes/login/+page.svelte
  todo_errors.png
Due: none

Fix SvelteKit calendar drag-and-drop functionality
  backend/app/api/todos.py
  frontend/src/app.scss
  frontend/src/lib/components/DragDropCalendar.svelte
  frontend/src/routes/+page.svelte
Due: none

Fix calendar drag-and-drop race condition causing todos to disappear
  frontend/src/lib/components/DragDropCalendar.svelte
Due: none

Delete debug png
  todo_errors.png
Due: none

Fix IDOR vulnerability and calendar race condition
  backend/app/api/todos.py
  frontend/src/lib/components/DragDropCalendar.svelte
Due: none

Fix SvelteKit calendar drag-and-drop race condition (#119)
  backend/app/api/todos.py
  frontend/src/app.scss
  frontend/src/lib/components/DragDropCalendar.svelte
  frontend/src/routes/+page.svelte
  todo_errors.png
Due: none

Fix SvelteKit frontend dev environment and calendar edit functionality
  frontend/.env.example
  frontend/.env.production
  frontend/.gitignore
  frontend/src/lib/stores/projects.ts
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/projects/+page.svelte
Due: none

Fix SvelteKit frontend dev environment and calendar edit functionality (#120)
  frontend/.env.example
  frontend/.env.production
  frontend/.gitignore
  frontend/src/lib/stores/projects.ts
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/projects/+page.svelte
Due: none

Standardize API response formats across backend and frontend
  services/backend/app/api/recurring_tasks.py
  services/backend/app/api/todos.py
  services/backend/app/api/trash.py
  services/backend/tests/test_trash.py
  services/frontend/src/lib/stores/projects.ts
  services/frontend/src/lib/stores/todos.ts
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/oauth-clients/+page.svelte
  services/frontend/src/routes/trash/+page.svelte
Due: pyright-backend

Address code review feedback for API standardization PR
  CLAUDE.md
  services/backend/tests/test_recurring_tasks.py
  services/backend/tests/test_todos.py
Due: pyright-backend

Add comprehensive CI testing for backend and frontend
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/test.yml
Due: none

Fix backend CI: Install dev dependencies for pytest
  .github/workflows/backend-ci.yml
Due: none

Fix frontend TypeScript errors for CI
  services/frontend/package-lock.json
  services/frontend/package.json
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/+layout.server.ts
  services/frontend/src/routes/projects/+page.svelte
  services/frontend/tests/e2e/auth-flow.spec.ts
Due: none

Fix TypeScript errors in DragDropCalendar component
  services/frontend/src/lib/components/DragDropCalendar.svelte
Due: none

Fix backend type errors and trash API tests
  services/backend/app/api/auth.py
  services/backend/app/api/oauth/authorize.py
  services/backend/app/api/oauth/device.py
  services/backend/app/api/oauth/token.py
  services/backend/app/api/search.py
  services/backend/tests/test_trash.py
Due: pyright-backend

prettify front end
  services/frontend/README.md
  services/frontend/package-lock.json
  services/frontend/package.json
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/components/ProjectForm.svelte
  services/frontend/src/lib/components/ThemeToggle.svelte
  services/frontend/src/lib/components/TodoForm.svelte
  services/frontend/src/lib/stores/projects.ts
  services/frontend/src/lib/stores/todos.ts
  services/frontend/src/lib/utils/colors.ts
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/oauth-clients/+page.svelte
  services/frontend/src/routes/oauth/authorize/+page.svelte
  services/frontend/src/routes/oauth/device/+page.svelte
  services/frontend/src/routes/oauth/device/denied/+page.svelte
  services/frontend/src/routes/oauth/device/success/+page.svelte
  services/frontend/src/routes/register/+page.svelte
  services/frontend/src/routes/trash/+page.svelte
  services/frontend/tests/README.md
  services/frontend/tests/REQUIRED_TEST_IDS.md
  services/frontend/tests/TEST_SUMMARY.md
  services/frontend/tests/e2e/calendar-drag-drop.spec.ts
Due: none

Update TaskManager SDK to support FastAPI backend
  .pre-commit-config.yaml
  packages/taskmanager-sdk/README.md
  packages/taskmanager-sdk/pyproject.toml
  packages/taskmanager-sdk/taskmanager_sdk/__init__.py
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/test_client.py
Due: pyright-sdk

Fix MCP server authentication with FastAPI backend
  docker-compose.yml
  services/backend/alembic/versions/0002_fix_access_tokens_schema.py
  services/backend/app/api/oauth/clients.py
  services/backend/app/dependencies.py
Due: pyright-backend

Add OAuth token verification endpoint for health checks
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/app/api/oauth/token.py
  services/mcp-auth/mcp_auth/auth_server.py
Due: pyright-backend, pyright-mcp-auth, pyright-sdk

Fix timezone handling and client loading for MCP auth
  services/backend/app/api/oauth/token.py
  services/mcp-auth/mcp_auth/auth_server.py
Due: pyright-backend, pyright-mcp-auth

dependency update
  packages/taskmanager-sdk/uv.lock
Due: none

sdk fastapi migration (#128)
  .pre-commit-config.yaml
  docker-compose.yml
  packages/taskmanager-sdk/README.md
  packages/taskmanager-sdk/pyproject.toml
  packages/taskmanager-sdk/taskmanager_sdk/__init__.py
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/test_client.py
  packages/taskmanager-sdk/uv.lock
  services/backend/alembic/versions/0002_fix_access_tokens_schema.py
  services/backend/app/api/oauth/clients.py
  services/backend/app/api/oauth/token.py
  services/backend/app/dependencies.py
  services/mcp-auth/mcp_auth/auth_server.py
Due: pyright-backend, pyright-mcp-auth, pyright-sdk

Remove __pycache__ files
  packages/taskmanager-sdk/taskmanager_sdk/__pycache__/__init__.cpython-313.pyc
  packages/taskmanager-sdk/taskmanager_sdk/__pycache__/client.cpython-313.pyc
  packages/taskmanager-sdk/taskmanager_sdk/__pycache__/config.cpython-313.pyc
  packages/taskmanager-sdk/taskmanager_sdk/__pycache__/exceptions.cpython-313.pyc
  packages/taskmanager-sdk/taskmanager_sdk/__pycache__/models.cpython-313.pyc
  packages/taskmanager-sdk/tests/__pycache__/__init__.cpython-313.pyc
  packages/taskmanager-sdk/tests/__pycache__/conftest.cpython-313-pytest-9.0.2.pyc
  packages/taskmanager-sdk/tests/__pycache__/test_client.cpython-313-pytest-9.0.2.pyc
  packages/taskmanager-sdk/tests/__pycache__/test_exceptions.cpython-313-pytest-9.0.2.pyc
  packages/taskmanager-sdk/tests/__pycache__/test_models.cpython-313-pytest-9.0.2.pyc
Due: none

Fix MCP auth server OAuth client lookup for token refresh
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/app/api/oauth/clients.py
  services/backend/app/dependencies.py
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/mcp_auth/taskmanager_oauth_provider.py
  services/mcp-auth/uv.lock
Due: pyright-backend, pyright-mcp-auth, pyright-sdk

Add system OAuth client endpoint for dynamic client registration
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/app/api/oauth/clients.py
  services/mcp-auth/mcp_auth/auth_server.py
Due: pyright-backend, pyright-mcp-auth, pyright-sdk

Fix OAuth authorization flow with backend-rendered consent pages
  .env.example
  docker-compose.yml
  services/backend/app/api/auth.py
  services/backend/app/api/oauth/authorize.py
  services/backend/app/config.py
  services/backend/app/templates/login.html
  services/backend/app/templates/oauth_authorize.html
  services/backend/pyproject.toml
  services/backend/uv.lock
  services/frontend/src/hooks.server.ts
  services/frontend/src/routes/+layout.svelte
  services/frontend/src/routes/oauth/authorize/+page.svelte
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/mcp_auth/taskmanager_oauth_provider.py
Due: pyright-backend, pyright-mcp-auth

CI fixes
  .github/workflows/backend-ci.yml
  .pre-commit-config.yaml
  services/backend/alembic/versions/0002_fix_access_tokens_schema.py
  services/backend/app/api/auth.py
  services/backend/app/api/oauth/authorize.py
  services/frontend/src/routes/+layout.svelte
Due: pyright-backend

Fix OAuth authorization flow with backend-rendered consent pages (#129)
  .env.example
  .github/workflows/backend-ci.yml
  .pre-commit-config.yaml
  docker-compose.yml
  packages/taskmanager-sdk/taskmanager_sdk/__pycache__/__init__.cpython-313.pyc
  packages/taskmanager-sdk/taskmanager_sdk/__pycache__/client.cpython-313.pyc
  packages/taskmanager-sdk/taskmanager_sdk/__pycache__/config.cpython-313.pyc
  packages/taskmanager-sdk/taskmanager_sdk/__pycache__/exceptions.cpython-313.pyc
  packages/taskmanager-sdk/taskmanager_sdk/__pycache__/models.cpython-313.pyc
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/__pycache__/__init__.cpython-313.pyc
  packages/taskmanager-sdk/tests/__pycache__/conftest.cpython-313-pytest-9.0.2.pyc
  packages/taskmanager-sdk/tests/__pycache__/test_client.cpython-313-pytest-9.0.2.pyc
  packages/taskmanager-sdk/tests/__pycache__/test_exceptions.cpython-313-pytest-9.0.2.pyc
  packages/taskmanager-sdk/tests/__pycache__/test_models.cpython-313-pytest-9.0.2.pyc
  services/backend/alembic/versions/0002_fix_access_tokens_schema.py
  services/backend/app/api/auth.py
  services/backend/app/api/oauth/authorize.py
  services/backend/app/api/oauth/clients.py
  services/backend/app/config.py
  services/backend/app/dependencies.py
  services/backend/app/templates/login.html
  services/backend/app/templates/oauth_authorize.html
  services/backend/pyproject.toml
  services/backend/uv.lock
  services/frontend/src/hooks.server.ts
  services/frontend/src/routes/+layout.svelte
  services/frontend/src/routes/oauth/authorize/+page.svelte
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/mcp_auth/taskmanager_oauth_provider.py
  services/mcp-auth/uv.lock
Due: pyright-backend, pyright-mcp-auth, pyright-sdk

Fix Playwright E2E tests with isolated test database and backend
  services/backend/alembic/env.py
  services/backend/scripts/reset_test_db.py
  services/backend/scripts/start_test_server.sh
  services/frontend/package.json
  services/frontend/playwright.config.ts
  services/frontend/src/hooks.server.ts
  services/frontend/src/routes/register/+page.svelte
  services/frontend/tests/README.md
  services/frontend/tests/e2e/auth-flow.spec.ts
Due: pyright-backend

Fix Playwright E2E tests and add registration form validation
  services/frontend/playwright.config.ts
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/routes/login/+page.svelte
  services/frontend/src/routes/register/+page.svelte
  services/frontend/tests/e2e/auth-flow.spec.ts
  services/frontend/tests/e2e/calendar-drag-drop.spec.ts
  services/frontend/tests/e2e/todo-flow.spec.ts
  services/frontend/tests/helpers/test-utils.ts
Due: none

Fix/playwright e2e tests (#135)
  services/backend/alembic/env.py
  services/backend/scripts/reset_test_db.py
  services/backend/scripts/start_test_server.sh
  services/frontend/package.json
  services/frontend/playwright.config.ts
  services/frontend/src/hooks.server.ts
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/routes/login/+page.svelte
  services/frontend/src/routes/register/+page.svelte
  services/frontend/tests/README.md
  services/frontend/tests/e2e/auth-flow.spec.ts
  services/frontend/tests/e2e/calendar-drag-drop.spec.ts
  services/frontend/tests/e2e/todo-flow.spec.ts
  services/frontend/tests/helpers/test-utils.ts
Due: pyright-backend

Fix broken security workflow and remove remaining Astro references
  .github/workflows/security.yml
  CLAUDE.md
  README.md
Due: none

Remove Astro configuration from development tools
  .gitignore
  .prettierrc
  .vscode/extensions.json
  .vscode/launch.json
  services/backend/.pre-commit-config.yaml
Due: none

Path conditions:
  pyright-backend: any of: ^services/backend/ and \.py$
  pyright-mcp-auth: any of: ^services/mcp-auth/ and \.py$
  pyright-mcp-resource: any of: ^services/mcp-resource/ and \.py$
  pyright-sdk: any of: ^packages/taskmanager-sdk/ and \.py$
  eslint: any of: ^services/web-app/.*\.(js|ts|astro)$
  prettier-check: any of: ^services/web-app/
  npm-audit: any of: ^frontend/(package\.json|package-lock\.json)$
