Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-audit, npm-format, npm-lint, npm-check

Path conditions:
  pyright-backend: any of: ^services/backend/ and \.py$
  pyright-mcp-auth: any of: ^services/mcp-auth/ and \.py$
  pyright-mcp-resource: any of: ^services/mcp-resource/ and \.py$
  pyright-sdk: any of: ^packages/taskmanager-sdk/ and \.py$
  npm-audit: any of: ^services/frontend/(package\.json|package-lock\.json)$
  npm-format: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-lint: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-check: any of: ^services/frontend/.*\.(js|ts|svelte)$

Display deadline_type in task views and listings (#236)
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/utils/deadline.ts
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/home/+page.svelte
  services/frontend/src/routes/task/[id]/+page.svelte
  services/frontend/tests/e2e/deadline-type.spec.ts
Due: npm-format, npm-lint, npm-check

Improve mobile calendar with week strip + day detail view
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
Due: npm-format, npm-lint, npm-check

Update package-lock.json after npm install
  services/frontend/package-lock.json
Due: npm-audit

Address PR review feedback on mobile calendar
  services/frontend/src/lib/components/DragDropCalendar.svelte
Due: npm-format, npm-lint, npm-check

Add deadline_type filtering/sorting and MCP refresh token migration
  docs/deadline-type.md
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/alembic/versions/0022_add_mcp_token_tables.py
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
  services/frontend/src/lib/components/DeadlineTypeFilter.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/+page.svelte
  services/mcp-auth/tests/test_refresh_tokens.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-format, npm-lint, npm-check

Improve mobile calendar with week strip + day detail view (#238)
  services/frontend/package-lock.json
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
Due: npm-audit, npm-format, npm-lint, npm-check

Fix Prettier formatting on aria-label indentation
  services/frontend/src/routes/+page.svelte
Due: npm-format, npm-lint, npm-check

Address code review: accessibility, key collision, tests
  services/frontend/src/routes/+page.svelte
  services/frontend/tests/e2e/list-view-ux.spec.ts
Due: npm-format, npm-lint, npm-check

Fix 5 frontend UX issues: legend, tooltips, card density, layout, label
  services/frontend/src/routes/+page.svelte
Due: npm-format, npm-lint, npm-check

Address PR review feedback: validation, timezone, user_id, Svelte 5
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/alembic/versions/0022_add_mcp_token_tables.py
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
  services/frontend/src/lib/components/DeadlineTypeFilter.svelte
  services/frontend/src/routes/+page.svelte
Due: pyright-backend, pyright-sdk, npm-format, npm-lint, npm-check

Fix ambiguous locator in "No date" Playwright test
  services/frontend/tests/e2e/list-view-ux.spec.ts
Due: npm-format, npm-lint, npm-check

Fix CI: use CASCADE schema drop in test teardown
  services/backend/tests/conftest.py
Due: pyright-backend

Fix 5 frontend UX issues: legend, tooltips, card density, layout, label (#237)
  services/frontend/src/routes/+page.svelte
  services/frontend/tests/e2e/list-view-ux.spec.ts
Due: npm-format, npm-lint, npm-check

Add deadline_type filtering/sorting and MCP refresh token migration (#239)
  docs/deadline-type.md
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/alembic/versions/0022_add_mcp_token_tables.py
  services/backend/app/api/todos.py
  services/backend/tests/conftest.py
  services/backend/tests/test_todos.py
  services/frontend/src/lib/components/DeadlineTypeFilter.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/+page.svelte
  services/mcp-auth/tests/test_refresh_tokens.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-format, npm-lint, npm-check

Fix MCP auth timezone mismatch and add postgres storage tests
  packages/mcp-auth-framework/mcp_auth_framework/storage/postgres.py
  packages/mcp-auth-framework/tests/__init__.py
  packages/mcp-auth-framework/tests/test_postgres_storage.py
  services/backend/alembic/versions/0022_add_mcp_token_tables.py
Due: pyright-backend

Address PR review feedback
  packages/mcp-auth-framework/tests/test_postgres_storage.py
  services/backend/alembic/versions/0022_add_mcp_token_tables.py
Due: pyright-backend

Fix MCP auth timezone mismatch causing token introspection failures (#240)
  packages/mcp-auth-framework/mcp_auth_framework/storage/postgres.py
  packages/mcp-auth-framework/tests/__init__.py
  packages/mcp-auth-framework/tests/test_postgres_storage.py
  services/backend/alembic/versions/0022_add_mcp_token_tables.py
Due: pyright-backend

Highlight current day in calendar and show subtasks in free slots
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
Due: npm-format, npm-lint, npm-check

Address code review: use sliced each, fix stale reference, fix formatting
  services/frontend/src/lib/components/DragDropCalendar.svelte
Due: npm-format, npm-lint, npm-check

Highlight current day in calendar and show subtasks in free slots (#241)
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
Due: npm-format, npm-lint, npm-check

Implement cleanupTodos test helper via API
  services/frontend/tests/helpers/test-utils.ts
Due: npm-format, npm-lint, npm-check

Warn on failed todo deletions during cleanup
  services/frontend/tests/helpers/test-utils.ts
Due: npm-format, npm-lint, npm-check

Implement cleanupTodos test helper via API (#242)
  services/frontend/tests/helpers/test-utils.ts
Due: npm-format, npm-lint, npm-check

Add batch task creation endpoint and MCP tool
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-backend, pyright-mcp-resource, pyright-sdk

Add MCP relay server for inter-session message passing (#242)
  Makefile
  docker-compose.yml
  services/mcp-relay/Dockerfile
  services/mcp-relay/mcp_relay/__init__.py
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/pyproject.toml
  services/mcp-relay/tests/__init__.py
  services/mcp-relay/tests/test_server.py
  services/mcp-relay/uv.lock
Due: none

Fix naive datetimes, add DTZ ruff rule, and test batch atomicity
  packages/mcp-auth-framework/pyproject.toml
  packages/mcp-resource-framework/pyproject.toml
  packages/taskmanager-sdk/pyproject.toml
  pyproject.toml
  services/backend/alembic/versions/0022_add_mcp_token_tables.py
  services/backend/app/api/todos.py
  services/backend/pyproject.toml
  services/backend/scripts/seed_test_data.py
  services/backend/tests/test_todos.py
  services/mcp-auth/pyproject.toml
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/pyproject.toml
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-backend, pyright-mcp-resource

Address PR review: add OAuth auth, input validation, and DoS protections
  docker-compose.yml
  services/mcp-relay/Dockerfile
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/pyproject.toml
  services/mcp-relay/tests/test_server.py
  services/mcp-relay/uv.lock
Due: none

Add batch task creation endpoint and MCP tool (#243)
  packages/mcp-auth-framework/pyproject.toml
  packages/mcp-resource-framework/pyproject.toml
  packages/taskmanager-sdk/pyproject.toml
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  pyproject.toml
  services/backend/alembic/versions/0022_add_mcp_token_tables.py
  services/backend/app/api/todos.py
  services/backend/pyproject.toml
  services/backend/scripts/seed_test_data.py
  services/backend/tests/test_todos.py
  services/mcp-auth/pyproject.toml
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/pyproject.toml
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-backend, pyright-mcp-resource, pyright-sdk

Add MCP relay server for inter-session message passing (#244)
  Makefile
  docker-compose.yml
  services/mcp-relay/Dockerfile
  services/mcp-relay/mcp_relay/__init__.py
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/pyproject.toml
  services/mcp-relay/tests/__init__.py
  services/mcp-relay/tests/test_server.py
  services/mcp-relay/uv.lock
Due: none

Add project filter persistence and auto-set project on new tasks (#223, #224)
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/components/TodoForm.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/tests/e2e/project-filter.spec.ts
Due: npm-format, npm-lint, npm-check

Validate localStorage value and clear stale project filters
  services/frontend/src/routes/+page.svelte
  services/frontend/tests/e2e/project-filter.spec.ts
Due: npm-format, npm-lint, npm-check

Fix TodoForm initial state and test timing issues
  services/frontend/src/lib/components/TodoForm.svelte
  services/frontend/tests/e2e/project-filter.spec.ts
Due: npm-format, npm-lint, npm-check

Add per-user wiki with markdown pages, task linking, and [[wiki links]]
  services/backend/alembic/env.py
  services/backend/alembic/versions/18109dd3e9b6_add_wiki_pages_and_todo_wiki_links.py
  services/backend/app/api/wiki.py
  services/backend/app/core/errors.py
  services/backend/app/db/database.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/user.py
  services/backend/app/models/wiki_page.py
  services/backend/tests/test_wiki.py
  services/frontend/package-lock.json
  services/frontend/package.json
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/stores/wiki.ts
  services/frontend/src/lib/types.ts
  services/frontend/src/lib/utils/markdown.ts
  services/frontend/src/routes/task/[id]/+page.svelte
  services/frontend/src/routes/wiki/+page.svelte
  services/frontend/src/routes/wiki/[slug]/+page.svelte
  services/frontend/src/routes/wiki/[slug]/edit/+page.svelte
  services/frontend/src/routes/wiki/new/+page.svelte
Due: pyright-backend, npm-audit, npm-format, npm-lint, npm-check

Add project filter persistence and auto-set project on new tasks (#245)
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/components/TodoForm.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/tests/e2e/project-filter.spec.ts
Due: npm-format, npm-lint, npm-check

Fix CI pyright error and address PR review feedback
  services/backend/app/api/wiki.py
  services/backend/app/core/errors.py
  services/backend/tests/test_wiki.py
  services/frontend/src/lib/utils/markdown.ts
  services/frontend/src/routes/wiki/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Address remaining wiki PR review feedback
  services/backend/app/api/wiki.py
  services/backend/app/models/todo.py
  services/backend/app/models/wiki_page.py
  services/backend/tests/test_wiki.py
  services/frontend/tests/e2e/wiki.spec.ts
  services/frontend/tests/helpers/test-utils.ts
Due: pyright-backend, npm-format, npm-lint, npm-check

Add per-user wiki with markdown pages and task linking (#246)
  services/backend/alembic/env.py
  services/backend/alembic/versions/18109dd3e9b6_add_wiki_pages_and_todo_wiki_links.py
  services/backend/app/api/wiki.py
  services/backend/app/core/errors.py
  services/backend/app/db/database.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/todo.py
  services/backend/app/models/user.py
  services/backend/app/models/wiki_page.py
  services/backend/tests/test_wiki.py
  services/frontend/package-lock.json
  services/frontend/package.json
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/stores/wiki.ts
  services/frontend/src/lib/types.ts
  services/frontend/src/lib/utils/markdown.ts
  services/frontend/src/routes/task/[id]/+page.svelte
  services/frontend/src/routes/wiki/+page.svelte
  services/frontend/src/routes/wiki/[slug]/+page.svelte
  services/frontend/src/routes/wiki/[slug]/edit/+page.svelte
  services/frontend/src/routes/wiki/new/+page.svelte
  services/frontend/tests/e2e/wiki.spec.ts
  services/frontend/tests/helpers/test-utils.ts
Due: pyright-backend, npm-audit, npm-format, npm-lint, npm-check

Add wiki tools to MCP resource server
  .husky/pre-commit
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-mcp-resource, pyright-sdk

Add wiki tools to MCP resource server (#247)
  .husky/pre-commit
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-mcp-resource, pyright-sdk

Add wiki search snippets, append mode, revisions, batch linking, and slug feedback
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/alembic/versions/0023_add_wiki_revisions_and_soft_delete.py
  services/backend/app/api/wiki.py
  services/backend/app/models/__init__.py
  services/backend/app/models/wiki_page.py
  services/backend/tests/test_wiki.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-backend, pyright-mcp-resource, pyright-sdk
