Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-tokens, pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-audit, npm-format, npm-lint, npm-check, docker-uv-no-sync

no-hardcoded-tokens:
  name: no hardcoded tokens
  language: pygrep
  entry: (?i)(token|bearer)\w*\s*[=:]\s*["']?[a-zA-Z0-9_./-]{16,}

pyright-backend:
  name: pyright (backend)
  entry: bash -c 'cd services/backend && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp-auth:
  name: pyright (mcp-auth)
  entry: bash -c 'cd services/mcp-auth && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp-resource:
  name: pyright (mcp-resource)
  entry: bash -c 'cd services/mcp-resource && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

pyright-sdk:
  name: pyright (taskmanager-sdk)
  entry: bash -c 'cd packages/taskmanager-sdk && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm audit --production --audit-level=high'
  language: system
  pass_filenames: false

npm-format:
  name: npm format (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run format'
  language: system
  pass_filenames: false

npm-lint:
  name: npm lint (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run lint'
  language: system
  pass_filenames: false

npm-check:
  name: npm check (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && [ -f .env ] || cp .env.example .env && npm run check'
  language: system
  pass_filenames: false

docker-uv-no-sync:
  name: uv run --no-sync in Docker runtime commands
  entry: ./scripts/check-docker-uv-run.sh
  language: script
  pass_filenames: false

infra: pin uv Dockerfile base images to versioned tag (0.6.6)
  services/backend/Dockerfile
  services/mcp-auth/Dockerfile
  services/mcp-relay/Dockerfile
  services/mcp-resource/Dockerfile
Due: no-hardcoded-tokens, docker-uv-no-sync

feat: add pipeline instrumentation and metrics logging for PR workflow
  packages/pipeline-metrics/pipeline_metrics/__init__.py
  packages/pipeline-metrics/pipeline_metrics/events.py
  packages/pipeline-metrics/pipeline_metrics/logger.py
  packages/pipeline-metrics/pipeline_metrics/py.typed
  packages/pipeline-metrics/pipeline_metrics/summary.py
  packages/pipeline-metrics/pyproject.toml
  packages/pipeline-metrics/tests/__init__.py
  packages/pipeline-metrics/tests/test_pipeline_metrics.py
  packages/pipeline-metrics/uv.lock
  scripts/precommit_metrics_wrapper.sh
Due: no-hardcoded-tokens

feat: add pipeline instrumentation and metrics logging for PR workflow (#377)
  packages/pipeline-metrics/pipeline_metrics/__init__.py
  packages/pipeline-metrics/pipeline_metrics/events.py
  packages/pipeline-metrics/pipeline_metrics/logger.py
  packages/pipeline-metrics/pipeline_metrics/py.typed
  packages/pipeline-metrics/pipeline_metrics/summary.py
  packages/pipeline-metrics/pyproject.toml
  packages/pipeline-metrics/tests/__init__.py
  packages/pipeline-metrics/tests/test_pipeline_metrics.py
  packages/pipeline-metrics/uv.lock
  scripts/precommit_metrics_wrapper.sh
Due: no-hardcoded-tokens

infra: pin uv Dockerfile base images to versioned tag (0.6.6) (#376)
  services/backend/Dockerfile
  services/mcp-auth/Dockerfile
  services/mcp-relay/Dockerfile
  services/mcp-resource/Dockerfile
Due: no-hardcoded-tokens, docker-uv-no-sync

feat(mcp-resource): summary-by-default for get_tasks/search_tasks
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-mcp-resource

feat(mcp-resource): summary-by-default for get_tasks/search_tasks (#379)
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-mcp-resource

Path conditions:
  no-hardcoded-tokens: any file but: (?x)^(
  package-lock\.json|
  .*\.lock|
  \.env\.example|
  \.secrets\.baseline|
  \.pre-commit-config\.yaml|
  .*test.*|
  .*spec.*|
  .*/oauth/.*|
  .*/oauth_provider.*|
  .*/auth_server\.py|
  .*/taskmanager_sdk/.*
)$

  pyright-backend: any of: ^services/backend/ and \.py$
  pyright-mcp-auth: any of: ^services/mcp-auth/ and \.py$
  pyright-mcp-resource: any of: ^services/mcp-resource/ and \.py$
  pyright-sdk: any of: ^packages/taskmanager-sdk/ and \.py$
  npm-audit: any of: ^services/frontend/(package\.json|package-lock\.json)$
  npm-format: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-lint: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-check: any of: ^services/frontend/.*\.(js|ts|svelte)$
  docker-uv-no-sync: any of: (Dockerfile|docker-compose\.yml)$
