Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-tokens, pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-audit, npm-format, npm-lint, npm-check, docker-uv-no-sync

Path conditions:
  no-hardcoded-tokens: any file but: (?x)^(
  package-lock\.json|
  .*\.lock|
  \.env\.example|
  \.secrets\.baseline|
  \.pre-commit-config\.yaml|
  .*test.*|
  .*spec.*|
  .*/oauth/.*|
  .*/oauth_provider.*|
  .*/auth_server\.py|
  .*/taskmanager_sdk/.*
)$

  pyright-backend: any of: ^services/backend/ and \.py$
  pyright-mcp-auth: any of: ^services/mcp-auth/ and \.py$
  pyright-mcp-resource: any of: ^services/mcp-resource/ and \.py$
  pyright-sdk: any of: ^packages/taskmanager-sdk/ and \.py$
  npm-audit: any of: ^services/frontend/(package\.json|package-lock\.json)$
  npm-format: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-lint: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-check: any of: ^services/frontend/.*\.(js|ts|svelte)$
  docker-uv-no-sync: any of: (Dockerfile|docker-compose\.yml)$

fix: address code review feedback and test failures for task dedup
  services/backend/app/api/todos.py
  services/backend/app/core/errors.py
  services/backend/tests/test_todos.py
  services/backend/tests/test_wiki.py
Due: no-hardcoded-tokens, pyright-backend

feat: add snippets feature for quick dated log entries
  services/backend/alembic/versions/0026_add_snippets.py
  services/backend/app/api/__init__.py
  services/backend/app/api/snippets.py
  services/backend/app/core/errors.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/snippet.py
  services/backend/app/models/user.py
  services/backend/tests/test_snippets.py
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/stores/snippets.ts
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/snippets/+page.svelte
  services/frontend/src/routes/snippets/[id]/+page.svelte
  services/frontend/src/routes/snippets/[id]/edit/+page.svelte
  services/frontend/src/routes/snippets/new/+page.svelte
  services/frontend/tests/e2e/snippets.spec.ts
  services/frontend/tests/helpers/test-utils.ts
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

Add task deduplication to prevent duplicate active todos (#270)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/app/api/todos.py
  services/backend/app/core/errors.py
  services/backend/tests/test_todos.py
  services/backend/tests/test_wiki.py
  services/mcp-resource/mcp_resource/server.py
Due: no-hardcoded-tokens, pyright-backend, pyright-mcp-resource, pyright-sdk

fix(snippets): use SQLAlchemy .contains() for JSONB tag filter and fix Prettier formatting
  services/backend/app/api/snippets.py
  services/frontend/src/lib/components/Navigation.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

Add Snippets feature for dated log entries (#272)
  services/backend/alembic/versions/0026_add_snippets.py
  services/backend/app/api/__init__.py
  services/backend/app/api/snippets.py
  services/backend/app/core/errors.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/snippet.py
  services/backend/app/models/user.py
  services/backend/tests/test_snippets.py
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/stores/snippets.ts
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/snippets/+page.svelte
  services/frontend/src/routes/snippets/[id]/+page.svelte
  services/frontend/src/routes/snippets/[id]/edit/+page.svelte
  services/frontend/src/routes/snippets/new/+page.svelte
  services/frontend/tests/e2e/snippets.spec.ts
  services/frontend/tests/helpers/test-utils.ts
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

feat(mcp): add Snippets support to SDK and MCP resource server
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/conftest.py
  packages/taskmanager-sdk/tests/test_client.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-mcp-resource, pyright-sdk

fix: address CI review feedback for snippet tools
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-mcp-resource

Add Snippets support to SDK and MCP resource server (#273)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/conftest.py
  packages/taskmanager-sdk/tests/test_client.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-mcp-resource, pyright-sdk

refactor(mcp): reduce tool count by removing low-value tools and adding resources
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-mcp-resource

refactor(mcp): reduce tool count by removing low-value tools and adding resources (#274)
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-mcp-resource

fix(oauth): enforce PKCE for public OAuth clients (task #458)
  services/backend/app/api/oauth/token.py
  services/backend/app/core/errors.py
  services/backend/tests/test_oauth.py
Due: no-hardcoded-tokens, pyright-backend

fix(oauth): update test_token_endpoint_public_client_skips_secret to use PKCE
  services/backend/tests/test_oauth.py
Due: pyright-backend

fix(oauth): validate redirect_uri in POST /authorize handler (task #457)
  services/backend/app/api/oauth/authorize.py
  services/backend/tests/test_oauth_authorize.py
Due: pyright-backend

fix(oauth): use TEST_CODE_VERIFIER constant in new PKCE tests
  services/backend/tests/test_oauth.py
Due: pyright-backend

fix(oauth): validate redirect_uri in POST /authorize handler (task #457) (#276)
  services/backend/app/api/oauth/authorize.py
  services/backend/tests/test_oauth_authorize.py
Due: pyright-backend

feat(backend): auto-classify tasks on creation when action_type is inferrable (task #440)
  services/backend/alembic/versions/18109dd3e9b6_add_wiki_pages_and_todo_wiki_links.py
  services/backend/app/api/todos.py
  services/backend/app/api/wiki.py
  services/backend/app/main.py
  services/backend/tests/test_client_credentials_identity.py
  services/backend/tests/test_registration_codes.py
  services/backend/tests/test_todos.py
Due: no-hardcoded-tokens, pyright-backend

fix(oauth): enforce PKCE for public OAuth clients (task #458) (#275)
  services/backend/app/api/oauth/token.py
  services/backend/app/core/errors.py
  services/backend/tests/test_oauth.py
Due: no-hardcoded-tokens, pyright-backend

fix(backend): use exact normalized-tag matching to prevent false-positive classification
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
Due: no-hardcoded-tokens, pyright-backend

feat(backend): auto-classify tasks on creation (task #440) (#277)
  services/backend/alembic/versions/18109dd3e9b6_add_wiki_pages_and_todo_wiki_links.py
  services/backend/app/api/todos.py
  services/backend/app/api/wiki.py
  services/backend/app/main.py
  services/backend/tests/test_client_credentials_identity.py
  services/backend/tests/test_registration_codes.py
  services/backend/tests/test_todos.py
Due: no-hardcoded-tokens, pyright-backend

fix: add dark mode support to OAuth pages
  services/frontend/src/routes/+layout.svelte
  services/mcp-auth/mcp_auth/templates/authorization_callback.html
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

fix: add dark mode support to OAuth pages (#278)
  services/frontend/src/routes/+layout.svelte
  services/mcp-auth/mcp_auth/templates/authorization_callback.html
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

fix(mcp): apply limit parameter in list_todos backend query (task #499)
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
Due: no-hardcoded-tokens, pyright-backend

fix(mcp): include resolved category in create_task/create_tasks responses (task #439)
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-mcp-resource

fix(mcp): include resolved category in create_task/create_tasks responses (task #439) (#280)
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-mcp-resource

feat: add per-subsystem health check across backend, SDK, and MCP (task #500)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/test_client.py
  services/backend/app/main.py
  services/backend/tests/test_health.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-backend, pyright-mcp-resource, pyright-sdk

fix: address review feedback on health check
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/test_client.py
  services/backend/app/main.py
  services/backend/tests/test_health.py
Due: no-hardcoded-tokens, pyright-backend, pyright-sdk

feat: add per-subsystem health check (task #500) (#281)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/test_client.py
  services/backend/app/main.py
  services/backend/tests/test_health.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-backend, pyright-mcp-resource, pyright-sdk

feat(frontend): use priority colors for task card left borders
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/routes/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

fix(frontend): strip HTML from RSS summaries, improve read state UX
  services/frontend/src/lib/utils/markdown.ts
  services/frontend/src/routes/home/+page.svelte
  services/frontend/src/routes/news/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

style: fix Prettier formatting in DragDropCalendar
  services/frontend/src/lib/components/DragDropCalendar.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

Use priority colors for task card left borders (#282)
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/routes/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

fix: address review feedback on home page article links
  services/frontend/src/routes/home/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

fix(frontend): strip HTML from RSS summaries, improve read state UX (#283)
  services/frontend/src/lib/utils/markdown.ts
  services/frontend/src/routes/home/+page.svelte
  services/frontend/src/routes/news/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

feat: add show_on_calendar to projects
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/alembic/versions/0027_add_show_on_calendar_to_projects.py
  services/backend/app/api/projects.py
  services/backend/app/api/todos.py
  services/backend/app/models/project.py
  services/backend/tests/test_projects.py
  services/backend/tests/test_todos.py
  services/frontend/src/lib/components/ProjectForm.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/home/+page.svelte
  services/mcp-resource/mcp_resource/server.py
Due: no-hardcoded-tokens, pyright-backend, pyright-mcp-resource, pyright-sdk, npm-format, npm-lint, npm-check

fix: address review feedback and prettier formatting
  services/backend/app/models/project.py
  services/frontend/src/lib/components/ProjectForm.svelte
  services/frontend/src/routes/+page.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

feat: add show_on_calendar to projects (#284)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/alembic/versions/0027_add_show_on_calendar_to_projects.py
  services/backend/app/api/projects.py
  services/backend/app/api/todos.py
  services/backend/app/models/project.py
  services/backend/tests/test_projects.py
  services/backend/tests/test_todos.py
  services/frontend/src/lib/components/ProjectForm.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/home/+page.svelte
  services/mcp-resource/mcp_resource/server.py
Due: no-hardcoded-tokens, pyright-backend, pyright-mcp-resource, pyright-sdk, npm-format, npm-lint, npm-check

Add install script for MCP token refresh cron job
  scripts/install-cron.sh
Due: no-hardcoded-tokens

feat: add news/RSS feed tools to MCP server and Python SDK
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/conftest.py
  packages/taskmanager-sdk/tests/test_client.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-mcp-resource, pyright-sdk

Widen OAuth authorization page layout for better readability
  services/backend/app/templates/oauth_authorize.html
  services/frontend/src/lib/components/OAuthResultCard.svelte
  services/frontend/src/routes/oauth/authorize/+page.svelte
  services/frontend/src/routes/oauth/device/+page.svelte
  services/mcp-auth/mcp_auth/templates/authorization_callback.html
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

Reorganize menu bar: group Wiki+Snippets under Library dropdown, move Trash to user menu
  services/frontend/src/lib/components/Navigation.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check
