Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-audit, npm-format, npm-lint, npm-check

Path conditions:
  pyright-backend: any of: ^services/backend/ and \.py$
  pyright-mcp-auth: any of: ^services/mcp-auth/ and \.py$
  pyright-mcp-resource: any of: ^services/mcp-resource/ and \.py$
  pyright-sdk: any of: ^packages/taskmanager-sdk/ and \.py$
  npm-audit: any of: ^services/frontend/(package\.json|package-lock\.json)$
  npm-format: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-lint: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-check: any of: ^services/frontend/.*\.(js|ts|svelte)$

Add deadline_type enum field to task data model
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/taskmanager_sdk/models.py
  services/backend/alembic/versions/0020_add_deadline_type.py
  services/backend/app/api/todos.py
  services/backend/app/models/todo.py
  services/frontend/src/lib/types.ts
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-resource, pyright-sdk, npm-format, npm-lint, npm-check

Add deadline_type validation in MCP resource server create_task
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-mcp-resource

Add default value to SDK Todo.deadline_type for API consistency
  packages/taskmanager-sdk/taskmanager_sdk/models.py
  packages/taskmanager-sdk/tests/conftest.py
  packages/taskmanager-sdk/tests/test_models.py
Due: pyright-sdk

Add use_enum_values config and enum validation tests for todo schemas
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
Due: pyright-backend

Fix CI failures and address code review feedback
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/conftest.py
  packages/taskmanager-sdk/tests/test_client.py
  services/backend/alembic/versions/0021_add_deadline_type.py
Due: pyright-backend, pyright-sdk

Add deadline_type support to MCP update_task and use shared constant
  packages/taskmanager-sdk/taskmanager_sdk/__init__.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-mcp-resource, pyright-sdk

Fix: Missing validation in MCP resource server (#223)
  packages/taskmanager-sdk/taskmanager_sdk/__init__.py
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/taskmanager_sdk/models.py
  packages/taskmanager-sdk/tests/conftest.py
  packages/taskmanager-sdk/tests/test_client.py
  packages/taskmanager-sdk/tests/test_models.py
  services/backend/alembic/versions/0021_add_deadline_type.py
  services/backend/app/api/todos.py
  services/backend/app/models/todo.py
  services/backend/tests/test_todos.py
  services/frontend/src/lib/types.ts
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-backend, pyright-mcp-resource, pyright-sdk, npm-format, npm-lint, npm-check

Assert deadline_type is included in SDK request payloads
  packages/taskmanager-sdk/tests/test_client.py
Due: pyright-sdk

Fix: Inconsistent nullability between SDK and API models (#222)
  packages/taskmanager-sdk/tests/test_client.py
Due: pyright-sdk

Fix 9 Dependabot security vulnerabilities
  packages/mcp-auth-framework/uv.lock
  packages/mcp-resource-framework/uv.lock
  services/frontend/package-lock.json
Due: npm-audit

Fix 9 Dependabot security vulnerabilities (#226)
  packages/mcp-auth-framework/uv.lock
  packages/mcp-resource-framework/uv.lock
  services/frontend/package-lock.json
Due: npm-audit

Redesign frontend with warm editorial aesthetic
  services/frontend/src/app.html
  services/frontend/src/app.scss
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/home/+page.svelte
  services/frontend/src/routes/login/+page.svelte
  services/frontend/src/routes/register/+page.svelte
Due: npm-format, npm-lint, npm-check

Fix PR review issues: dedupe auth styles, accessibility, dark mode
  services/frontend/src/app.scss
  services/frontend/src/routes/login/+page.svelte
  services/frontend/src/routes/register/+page.svelte
Due: npm-format, npm-lint, npm-check

Redesign frontend with warm editorial aesthetic (#227)
  services/frontend/src/app.html
  services/frontend/src/app.scss
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/home/+page.svelte
  services/frontend/src/routes/login/+page.svelte
  services/frontend/src/routes/register/+page.svelte
Due: npm-format, npm-lint, npm-check

Fix MCP auth: allow service account tokens and commit tokens before response
  services/backend/app/api/oauth/token.py
  services/backend/app/dependencies.py
  services/backend/tests/test_dependencies.py
Due: pyright-backend

Fix MCP auth: allow service account tokens and commit tokens before response (#228)
  services/backend/app/api/oauth/token.py
  services/backend/app/dependencies.py
  services/backend/tests/test_dependencies.py
Due: pyright-backend

Write Playwright E2E frontend tests for deadline_type feature (Task #386)
  services/frontend/package-lock.json
  services/frontend/src/lib/components/TodoForm.svelte
  services/frontend/tests/e2e/deadline-type.spec.ts
  services/frontend/tests/helpers/test-utils.ts
Due: npm-audit, npm-format, npm-lint, npm-check

Fix MCP OAuth token lifetimes and metadata
  services/backend/app/api/oauth/token.py
  services/backend/app/config.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-resource

Add device_code grant type to OAuth metadata
  services/mcp-resource/mcp_resource/server.py
Due: pyright-mcp-resource

fix: format deadline-type test file with Prettier
  services/frontend/tests/e2e/deadline-type.spec.ts
Due: npm-format, npm-lint, npm-check

Update OAuth pages to match warm editorial design system
  services/backend/app/templates/login.html
  services/backend/app/templates/oauth_authorize.html
  services/frontend/src/routes/oauth/authorize/+page.svelte
  services/frontend/src/routes/oauth/device/+page.svelte
  services/frontend/src/routes/oauth/device/denied/+page.svelte
  services/frontend/src/routes/oauth/device/success/+page.svelte
  services/mcp-auth/mcp_auth/templates/authorization_callback.html
Due: npm-format, npm-lint, npm-check

Fix MCP OAuth token lifetimes and metadata (#230)
  services/backend/app/api/oauth/token.py
  services/backend/app/config.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-resource

Self-host fonts and extract shared OAuth result component
  services/backend/app/main.py
  services/backend/app/static/fonts/outfit-latin-ext.woff2
  services/backend/app/static/fonts/outfit-latin.woff2
  services/backend/app/templates/login.html
  services/backend/app/templates/oauth_authorize.html
  services/frontend/src/app.html
  services/frontend/src/app.scss
  services/frontend/src/lib/components/OAuthResultCard.svelte
  services/frontend/src/routes/oauth/device/denied/+page.svelte
  services/frontend/src/routes/oauth/device/success/+page.svelte
  services/frontend/static/fonts/newsreader-italic-latin-ext.woff2
  services/frontend/static/fonts/newsreader-italic-latin.woff2
  services/frontend/static/fonts/newsreader-latin-ext.woff2
  services/frontend/static/fonts/newsreader-latin.woff2
  services/frontend/static/fonts/outfit-latin-ext.woff2
  services/frontend/static/fonts/outfit-latin.woff2
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/mcp_auth/static/fonts/outfit-latin-ext.woff2
  services/mcp-auth/mcp_auth/static/fonts/outfit-latin.woff2
  services/mcp-auth/mcp_auth/templates/authorization_callback.html
Due: pyright-backend, pyright-mcp-auth, npm-format, npm-lint, npm-check

Write Playwright E2E frontend tests for deadline_type feature (Task #386) (#229)
  services/frontend/package-lock.json
  services/frontend/src/lib/components/TodoForm.svelte
  services/frontend/tests/e2e/deadline-type.spec.ts
  services/frontend/tests/helpers/test-utils.ts
Due: npm-audit, npm-format, npm-lint, npm-check

Fix mcp-auth pyright error: use spread in Starlette constructor
  services/mcp-auth/mcp_auth/auth_server.py
Due: pyright-mcp-auth

Update OAuth pages to match warm editorial design (#232)
  services/backend/app/main.py
  services/backend/app/static/fonts/outfit-latin-ext.woff2
  services/backend/app/static/fonts/outfit-latin.woff2
  services/backend/app/templates/login.html
  services/backend/app/templates/oauth_authorize.html
  services/frontend/src/app.html
  services/frontend/src/app.scss
  services/frontend/src/lib/components/OAuthResultCard.svelte
  services/frontend/src/routes/oauth/authorize/+page.svelte
  services/frontend/src/routes/oauth/device/+page.svelte
  services/frontend/src/routes/oauth/device/denied/+page.svelte
  services/frontend/src/routes/oauth/device/success/+page.svelte
  services/frontend/static/fonts/newsreader-italic-latin-ext.woff2
  services/frontend/static/fonts/newsreader-italic-latin.woff2
  services/frontend/static/fonts/newsreader-latin-ext.woff2
  services/frontend/static/fonts/newsreader-latin.woff2
  services/frontend/static/fonts/outfit-latin-ext.woff2
  services/frontend/static/fonts/outfit-latin.woff2
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/mcp_auth/static/fonts/outfit-latin-ext.woff2
  services/mcp-auth/mcp_auth/static/fonts/outfit-latin.woff2
  services/mcp-auth/mcp_auth/templates/authorization_callback.html
Due: pyright-backend, pyright-mcp-auth, npm-format, npm-lint, npm-check

Add .claude to .gitignore and fix pre-commit secret detection false positives
  .gitignore
  .husky/pre-commit
Due: none

Add .claude to .gitignore and fix pre-commit secret detection false positives (#233)
  .gitignore
  .husky/pre-commit
Due: none

Display deadline_type in task views and listings
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/utils/deadline.ts
  services/frontend/src/routes/home/+page.svelte
  services/frontend/src/routes/task/[id]/+page.svelte
Due: npm-format, npm-lint, npm-check

fix: format files with Prettier to pass lint check
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/utils/deadline.ts
  services/frontend/src/routes/home/+page.svelte
  services/frontend/src/routes/task/[id]/+page.svelte
Due: npm-format, npm-lint, npm-check

Display deadline_type in task views and listings (#234)
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/utils/deadline.ts
  services/frontend/src/routes/home/+page.svelte
  services/frontend/src/routes/task/[id]/+page.svelte
Due: npm-format, npm-lint, npm-check

Fix CI tests and address code review feedback
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/components/SearchModal.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/tests/e2e/auth-flow.spec.ts
  services/frontend/tests/e2e/ux-improvements.spec.ts
Due: npm-format, npm-lint, npm-check

Fix failing E2E test selectors and add wait conditions
  services/frontend/tests/e2e/ux-improvements.spec.ts
Due: npm-format, npm-lint, npm-check

Fix 7 frontend UX issues: search, calendar, toasts, user menu
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/components/SearchModal.svelte
  services/frontend/src/lib/components/Toasts.svelte
  services/frontend/src/lib/stores/ui.ts
  services/frontend/src/routes/+layout.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/home/+page.svelte
Due: npm-format, npm-lint, npm-check

Fix Prettier formatting in E2E test file
  services/frontend/tests/e2e/ux-improvements.spec.ts
Due: npm-format, npm-lint, npm-check

Fix calendar overflow reactivity and stabilize flaky E2E tests
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/tests/e2e/deadline-type.spec.ts
  services/frontend/tests/e2e/ux-improvements.spec.ts
Due: npm-format, npm-lint, npm-check

Fix 7 frontend UX issues: search, calendar, toasts, user menu (#235)
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/components/SearchModal.svelte
  services/frontend/src/lib/components/Toasts.svelte
  services/frontend/src/lib/stores/ui.ts
  services/frontend/src/routes/+layout.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/home/+page.svelte
  services/frontend/tests/e2e/auth-flow.spec.ts
  services/frontend/tests/e2e/deadline-type.spec.ts
  services/frontend/tests/e2e/ux-improvements.spec.ts
Due: npm-format, npm-lint, npm-check

Display deadline_type in task views and listings
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/utils/deadline.ts
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/home/+page.svelte
  services/frontend/src/routes/task/[id]/+page.svelte
Due: npm-format, npm-lint, npm-check

Fix empty calendar-task-meta div, remove dead CSS, add display tests
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/tests/e2e/deadline-type.spec.ts
Due: npm-format, npm-lint, npm-check

Fix UTC date bug and unscoped locators in deadline type display tests
  services/frontend/tests/e2e/deadline-type.spec.ts
Due: npm-format, npm-lint, npm-check
