Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-tokens, pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-audit, npm-format, npm-lint, npm-check, docker-uv-no-sync

no-hardcoded-tokens:
  name: no hardcoded tokens
  language: pygrep
  entry: (?i)(token|bearer)\w*\s*[=:]\s*["']?[a-zA-Z0-9_./-]{16,}

pyright-backend:
  name: pyright (backend)
  entry: bash -c 'cd services/backend && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp-auth:
  name: pyright (mcp-auth)
  entry: bash -c 'cd services/mcp-auth && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp-resource:
  name: pyright (mcp-resource)
  entry: bash -c 'cd services/mcp-resource && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

pyright-sdk:
  name: pyright (taskmanager-sdk)
  entry: bash -c 'cd packages/taskmanager-sdk && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm audit --production --audit-level=high'
  language: system
  pass_filenames: false

npm-format:
  name: npm format (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run format'
  language: system
  pass_filenames: false

npm-lint:
  name: npm lint (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run lint'
  language: system
  pass_filenames: false

npm-check:
  name: npm check (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && [ -f .env ] || cp .env.example .env && npm run check'
  language: system
  pass_filenames: false

docker-uv-no-sync:
  name: uv run --no-sync in Docker runtime commands
  entry: ./scripts/check-docker-uv-run.sh
  language: script
  pass_filenames: false

feat(frontend): make toast notifications navigate to updated items on click (#355)
  services/frontend/src/lib/components/Toasts.svelte
  services/frontend/src/lib/services/eventHandlers.ts
  services/frontend/src/lib/stores/ui.ts
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/tasks/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

fix(mcp-relay): use constant-time comparison for debug token
  services/mcp-relay/mcp_relay/debug.py
Due: no-hardcoded-tokens

fix(mcp-auth): gate token debug logging behind env var and redact secrets (task #607)
  services/mcp-auth/mcp_auth/auth_server.py
Due: pyright-mcp-auth

fix(mcp-relay): use constant-time comparison for debug token (#356)
  services/mcp-relay/mcp_relay/debug.py
Due: no-hardcoded-tokens

refactor(backend): remove redundant in-function imports in dependencies.py
  services/backend/app/dependencies.py
Due: no-hardcoded-tokens, pyright-backend

fix(frontend): move wiki content styles to global scope for preview panes
  services/frontend/src/app.scss
  services/frontend/src/routes/wiki/[slug]/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

fix(frontend): move wiki-link styles to global scope, remove stale comment
  services/frontend/src/app.scss
  services/frontend/src/routes/wiki/[slug]/+page.svelte
  services/frontend/src/routes/wiki/[slug]/edit/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

fix(frontend): wiki preview missing content styles (#359)
  services/frontend/src/app.scss
  services/frontend/src/routes/wiki/[slug]/+page.svelte
  services/frontend/src/routes/wiki/[slug]/edit/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

fix(docker): require explicit Grafana admin password configuration (task #613)
  .env.example
  docker-compose.yml
Due: no-hardcoded-tokens, docker-uv-no-sync

fix(mcp-relay): disable debug UI by default and require auth token (task #608)
  docker-compose.yml
  services/mcp-relay/mcp_relay/server.py
Due: no-hardcoded-tokens, docker-uv-no-sync

fix(mcp-relay): disable debug UI by default and require auth token (task #608) (#361)
  docker-compose.yml
  services/mcp-relay/mcp_relay/server.py
Due: no-hardcoded-tokens, docker-uv-no-sync

fix(docker): require explicit Grafana admin password configuration (task #613) (#360)
  .env.example
  docker-compose.yml
Due: no-hardcoded-tokens, docker-uv-no-sync

fix(mcp-auth): redact response body and Authorization header; add tests
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/tests/test_token_debug_logging.py
Due: pyright-mcp-auth

fix(mcp-auth): gate token debug logging behind env var and redact secrets (#362)
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/tests/test_token_debug_logging.py
Due: pyright-mcp-auth

refactor(backend): remove redundant in-function imports in dependencies.py (#363)
  services/backend/app/dependencies.py
Due: no-hardcoded-tokens, pyright-backend

feat(mcp-relay): add Redis backend for persistent message storage
  services/mcp-relay/mcp_relay/api.py
  services/mcp-relay/mcp_relay/debug.py
  services/mcp-relay/mcp_relay/redis_store.py
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/pyproject.toml
  services/mcp-relay/tests/test_api.py
  services/mcp-relay/tests/test_cli.py
  services/mcp-relay/tests/test_debug.py
  services/mcp-relay/tests/test_redis_store.py
  services/mcp-relay/tests/test_server.py
  services/mcp-relay/uv.lock
Due: no-hardcoded-tokens

feat(mcp-relay): add Redis persistence and fix debug API availability
  .env.example
  docker-compose.yml
  services/mcp-relay/Dockerfile
  services/mcp-relay/mcp_relay/debug.py
  services/mcp-relay/mcp_relay/redis_store.py
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/mcp_relay/types.py
  services/mcp-relay/pyproject.toml
  services/mcp-relay/uv.lock
Due: no-hardcoded-tokens, docker-uv-no-sync

fix(mcp-relay): redact credentials from Redis URL in log output
  services/mcp-relay/mcp_relay/server.py
Due: no-hardcoded-tokens

feat(mcp-relay): add Redis persistence and fix debug API (#364)
  .env.example
  docker-compose.yml
  services/mcp-relay/Dockerfile
  services/mcp-relay/mcp_relay/api.py
  services/mcp-relay/mcp_relay/debug.py
  services/mcp-relay/mcp_relay/redis_store.py
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/mcp_relay/types.py
  services/mcp-relay/pyproject.toml
  services/mcp-relay/tests/test_api.py
  services/mcp-relay/tests/test_cli.py
  services/mcp-relay/tests/test_debug.py
  services/mcp-relay/tests/test_redis_store.py
  services/mcp-relay/tests/test_server.py
  services/mcp-relay/uv.lock
Due: no-hardcoded-tokens, docker-uv-no-sync

docs(backend): fix deadline_type enum values in README (task #621)
  services/backend/README.md
Due: no-hardcoded-tokens

docs: fix MCP tool names and wiki tool count in README.md (task #620)
  README.md
Due: no-hardcoded-tokens

fix(mcp-auth): raise error for confidential clients without secret (task #610)
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/tests/test_transform_client_data.py
Due: pyright-mcp-auth

refactor(backend): extract _build_wiki_page_response helper in wiki.py (task #617)
  services/backend/app/api/wiki.py
Due: no-hardcoded-tokens, pyright-backend

docs: fix MCP tool names and wiki tool count in README.md (task #620) (#366)
  README.md
Due: no-hardcoded-tokens

docs(backend): fix deadline_type enum values in README (task #621) (#365)
  services/backend/README.md
Due: no-hardcoded-tokens

refactor(backend): extract _build_wiki_page_response helper in wiki.py (task #617) (#368)
  services/backend/app/api/wiki.py
Due: no-hardcoded-tokens, pyright-backend

docs(mcp-auth): update transform_client_data docstring for new None case
  services/mcp-auth/mcp_auth/auth_server.py
Due: pyright-mcp-auth

fix(mcp-auth): raise error for confidential clients without secret (#367)
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/tests/test_transform_client_data.py
Due: pyright-mcp-auth

test(backend): add dedicated tests for CSRFMiddleware (task #615)
  services/backend/tests/test_csrf.py
Due: pyright-backend

docs(frontend): update tests README and TEST_SUMMARY to reflect executable tests (task #622)
  services/frontend/tests/README.md
  services/frontend/tests/TEST_SUMMARY.md
Due: none

test(backend): add tests for GET /api/categories endpoint (task #614)
  services/backend/tests/test_categories.py
Due: pyright-backend

test(backend): add tests for PUT /api/auth/email and PUT /api/auth/password (task #609)
  services/backend/tests/test_auth.py
Due: pyright-backend

test(backend): add dedicated tests for CSRFMiddleware (task #615) (#369)
  services/backend/tests/test_csrf.py
Due: pyright-backend

style(frontend): fix prettier formatting in TEST_SUMMARY.md
  services/frontend/tests/TEST_SUMMARY.md
Due: none

test(backend): add tests for GET /api/categories endpoint (task #614) (#371)
  services/backend/tests/test_categories.py
Due: pyright-backend

fix(frontend): correct test counts in README and TEST_SUMMARY
  services/frontend/tests/README.md
  services/frontend/tests/TEST_SUMMARY.md
Due: none

test(backend): add tests for PUT /api/auth/email and PUT /api/auth/password (task #609) (#372)
  services/backend/tests/test_auth.py
Due: pyright-backend

docs(frontend): update tests README and TEST_SUMMARY to reflect executable tests (task #622) (#370)
  services/frontend/tests/README.md
  services/frontend/tests/TEST_SUMMARY.md
Due: none

Path conditions:
  no-hardcoded-tokens: any file but: (?x)^(
  package-lock\.json|
  .*\.lock|
  \.env\.example|
  \.secrets\.baseline|
  \.pre-commit-config\.yaml|
  .*test.*|
  .*spec.*|
  .*/oauth/.*|
  .*/oauth_provider.*|
  .*/auth_server\.py|
  .*/taskmanager_sdk/.*
)$

  pyright-backend: any of: ^services/backend/ and \.py$
  pyright-mcp-auth: any of: ^services/mcp-auth/ and \.py$
  pyright-mcp-resource: any of: ^services/mcp-resource/ and \.py$
  pyright-sdk: any of: ^packages/taskmanager-sdk/ and \.py$
  npm-audit: any of: ^services/frontend/(package\.json|package-lock\.json)$
  npm-format: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-lint: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-check: any of: ^services/frontend/.*\.(js|ts|svelte)$
  docker-uv-no-sync: any of: (Dockerfile|docker-compose\.yml)$
