Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-tokens, pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-audit, npm-format, npm-lint, npm-check, docker-uv-no-sync

Path conditions:
  no-hardcoded-tokens: any file but: (?x)^(
  package-lock\.json|
  .*\.lock|
  \.env\.example|
  \.secrets\.baseline|
  \.pre-commit-config\.yaml|
  .*test.*|
  .*spec.*|
  .*/oauth/.*|
  .*/oauth_provider.*|
  .*/auth_server\.py|
  .*/taskmanager_sdk/.*
)$

  pyright-backend: any of: ^services/backend/ and \.py$
  pyright-mcp-auth: any of: ^services/mcp-auth/ and \.py$
  pyright-mcp-resource: any of: ^services/mcp-resource/ and \.py$
  pyright-sdk: any of: ^packages/taskmanager-sdk/ and \.py$
  npm-audit: any of: ^services/frontend/(package\.json|package-lock\.json)$
  npm-format: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-lint: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-check: any of: ^services/frontend/.*\.(js|ts|svelte)$
  docker-uv-no-sync: any of: (Dockerfile|docker-compose\.yml)$

fix(scripts): refresh MCP token every 30 min and remove early-exit skip (#313)
  scripts/install-cron.sh
  scripts/mcp-refresh-token.sh
Due: no-hardcoded-tokens

feat(frontend): auto-link URLs and [[Wiki Links]] in task descriptions
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/utils/markdown.ts
  services/frontend/src/routes/task/[id]/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

feat(mcp-relay): add CLI tool for interacting with relay channels
  services/mcp-relay/mcp_relay/cli.py
  services/mcp-relay/pyproject.toml
  services/mcp-relay/tests/test_cli.py
  services/mcp-relay/uv.lock
Due: no-hardcoded-tokens

feat(wiki): add dedicated move/reparent endpoint and UI
  services/backend/app/api/wiki.py
  services/backend/tests/test_wiki.py
  services/frontend/src/lib/api/client.ts
  services/frontend/src/lib/components/WikiMoveModal.svelte
  services/frontend/src/lib/stores/wiki.ts
  services/frontend/src/routes/wiki/[slug]/+page.svelte
  services/frontend/tests/e2e/wiki.spec.ts
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

fix(frontend): fix URL truncation and wiki link key mismatch in renderRichText
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/utils/markdown.ts
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

fix(wiki): address code review feedback for move modal
  services/frontend/src/lib/components/WikiMoveModal.svelte
  services/frontend/src/lib/stores/wiki.ts
  services/frontend/src/routes/wiki/[slug]/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

feat(frontend): auto-link URLs and [[Wiki Links]] in task descriptions (#314)
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/utils/markdown.ts
  services/frontend/src/routes/task/[id]/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

Add wiki page move endpoint and UI modal (#316)
  services/backend/app/api/wiki.py
  services/backend/tests/test_wiki.py
  services/frontend/src/lib/api/client.ts
  services/frontend/src/lib/components/WikiMoveModal.svelte
  services/frontend/src/lib/stores/wiki.ts
  services/frontend/src/routes/wiki/[slug]/+page.svelte
  services/frontend/tests/e2e/wiki.spec.ts
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

feat: add wiki page notification subscriptions
  services/backend/alembic/env.py
  services/backend/alembic/versions/0029_add_wiki_notifications.py
  services/backend/app/api/notifications.py
  services/backend/app/api/wiki.py
  services/backend/app/db/database.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/notification.py
  services/backend/tests/test_notifications.py
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/stores/notifications.ts
  services/frontend/src/lib/stores/wiki.ts
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/notifications/+page.svelte
  services/frontend/src/routes/wiki/[slug]/+page.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

fix: address CI failures and code review issues
  services/backend/alembic/versions/0029_add_wiki_notifications.py
  services/backend/app/api/wiki.py
  services/backend/app/models/notification.py
  services/backend/tests/test_notifications.py
  services/frontend/src/routes/notifications/+page.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

style: format frontend files with Prettier
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/stores/notifications.ts
  services/frontend/src/lib/utils/markdown.ts
  services/frontend/src/routes/notifications/+page.svelte
  services/frontend/src/routes/wiki/[slug]/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

fix: make WikiMoveModal state reactive with $state()
  services/frontend/src/lib/components/WikiMoveModal.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

Add wiki page subscriptions and notification system (#317)
  services/backend/alembic/env.py
  services/backend/alembic/versions/0029_add_wiki_notifications.py
  services/backend/app/api/notifications.py
  services/backend/app/api/wiki.py
  services/backend/app/db/database.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/notification.py
  services/backend/tests/test_notifications.py
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/components/WikiMoveModal.svelte
  services/frontend/src/lib/stores/notifications.ts
  services/frontend/src/lib/stores/wiki.ts
  services/frontend/src/lib/types.ts
  services/frontend/src/lib/utils/markdown.ts
  services/frontend/src/routes/notifications/+page.svelte
  services/frontend/src/routes/wiki/[slug]/+page.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

fix(mcp-relay): address code and security review feedback
  services/mcp-relay/mcp_relay/cli.py
  services/mcp-relay/tests/test_cli.py
Due: no-hardcoded-tokens

Add CLI tool for MCP Relay debug API (#315)
  services/mcp-relay/mcp_relay/cli.py
  services/mcp-relay/pyproject.toml
  services/mcp-relay/tests/test_cli.py
  services/mcp-relay/uv.lock
Due: no-hardcoded-tokens

docs: fix CI workflow filenames in CLAUDE.md and SECURITY.md inaccuracies (task #485)
  CLAUDE.md
  SECURITY.md
Due: no-hardcoded-tokens

docs: fix SDK README and QUICK_START.md inaccuracies (task #486)
  QUICK_START.md
  packages/taskmanager-sdk/README.md
Due: no-hardcoded-tokens

docs: fix CI workflow filenames in CLAUDE.md and SECURITY.md inaccuracies (task #485) (#318)
  CLAUDE.md
  SECURITY.md
Due: no-hardcoded-tokens

fix(security): replace SHA-256 key derivation with HKDF for token encryption (task #474)
  services/backend/app/services/token_encryption.py
  services/backend/tests/test_github_oauth.py
Due: no-hardcoded-tokens, pyright-backend

docs: update due_date example to use future date 2026-12-25
  packages/taskmanager-sdk/README.md
Due: no-hardcoded-tokens

fix(security): prevent X-Forwarded-For IP spoofing in rate limiter (task #468)
  .pre-commit-config.yaml
  services/backend/app/config.py
  services/backend/app/dependencies.py
  services/backend/tests/test_dependencies.py
Due: no-hardcoded-tokens, pyright-backend

Fix SDK README and QUICK_START.md inaccuracies (#319)
  QUICK_START.md
  packages/taskmanager-sdk/README.md
Due: no-hardcoded-tokens

fix(security): replace SHA-256 key derivation with HKDF for token encryption (task #474) (#320)
  services/backend/app/services/token_encryption.py
  services/backend/tests/test_github_oauth.py
Due: no-hardcoded-tokens, pyright-backend

fix(security): address code review suggestions for XFF spoofing fix
  .pre-commit-config.yaml
  services/backend/app/config.py
  services/backend/app/dependencies.py
  services/backend/tests/test_dependencies.py
Due: no-hardcoded-tokens, pyright-backend

Fix X-Forwarded-For IP spoofing in rate limiter (#321)
  .pre-commit-config.yaml
  services/backend/app/config.py
  services/backend/app/dependencies.py
  services/backend/tests/test_dependencies.py
Due: no-hardcoded-tokens, pyright-backend

docs(mcp-auth): update README project structure and delete stale TODO.md (task #484)
  services/mcp-auth/README.md
  services/mcp-auth/TODO.md
Due: no-hardcoded-tokens

refactor(frontend): dedupe todayStr() and move date utils to dates.ts (task #479)
  services/frontend/package-lock.json
  services/frontend/src/lib/utils/dates.ts
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/tasks/+page.svelte
Due: no-hardcoded-tokens, npm-audit, npm-format, npm-lint, npm-check

feat(security): make Lakera Guard fail-open/fail-closed configurable (task #470)
  packages/mcp-resource-framework/mcp_resource_framework/security/lakera_guard.py
  packages/mcp-resource-framework/tests/test_lakera_guard.py
Due: no-hardcoded-tokens

docs(mcp-auth): update README project structure and delete stale TODO.md (task #484) (#322)
  services/mcp-auth/README.md
  services/mcp-auth/TODO.md
Due: no-hardcoded-tokens

Add AI-generated summaries for RSS feed articles
  .env.example
  services/backend/alembic/versions/0030_add_ai_summary_to_articles.py
  services/backend/app/api/news.py
  services/backend/app/config.py
  services/backend/app/models/article.py
  services/backend/app/services/article_summarizer.py
  services/backend/app/services/scheduler.py
  services/backend/pyproject.toml
  services/backend/tests/test_article_summarizer.py
  services/backend/tests/test_news.py
  services/backend/uv.lock
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/news/+page.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

feat(security): make Lakera Guard fail-open/fail-closed configurable (task #470) (#324)
  packages/mcp-resource-framework/mcp_resource_framework/security/lakera_guard.py
  packages/mcp-resource-framework/tests/test_lakera_guard.py
Due: no-hardcoded-tokens

refactor(frontend): dedupe todayStr() and move date utils to dates.ts (task #479) (#323)
  services/frontend/package-lock.json
  services/frontend/src/lib/utils/dates.ts
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/tasks/+page.svelte
Due: no-hardcoded-tokens, npm-audit, npm-format, npm-lint, npm-check

refactor(sdk): add _build_params() helper and dedupe patterns (task #476)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/test_client.py
Due: pyright-sdk

fix: address CI review feedback for AI summary feature
  services/backend/app/api/news.py
  services/backend/tests/test_news.py
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/news/+page.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

fix(sdk): preserve original OAuth form endpoint behavior in _make_form_request
  packages/taskmanager-sdk/taskmanager_sdk/client.py
Due: pyright-sdk

fix: move rate limit record before API call to prevent TOCTOU bypass
  services/backend/app/api/news.py
Due: no-hardcoded-tokens, pyright-backend

refactor(sdk): add _build_params() helper and dedupe patterns (task #476) (#326)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/test_client.py
Due: pyright-sdk

Add AI-generated summaries for RSS feed articles (#325)
  .env.example
  services/backend/alembic/versions/0030_add_ai_summary_to_articles.py
  services/backend/app/api/news.py
  services/backend/app/config.py
  services/backend/app/models/article.py
  services/backend/app/services/article_summarizer.py
  services/backend/app/services/scheduler.py
  services/backend/pyproject.toml
  services/backend/tests/test_article_summarizer.py
  services/backend/tests/test_news.py
  services/backend/uv.lock
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/news/+page.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

fix(frontend): add table styles for wiki markdown content
  services/frontend/src/app.scss
Due: no-hardcoded-tokens

chore(frontend): fix prettier formatting in +page.svelte and news/+page.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/news/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check
