Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-tokens, pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-audit, npm-format, npm-lint, npm-check, docker-uv-no-sync

no-hardcoded-tokens:
  name: no hardcoded tokens
  language: pygrep
  entry: (?i)(token|bearer)\w*\s*[=:]\s*["']?[a-zA-Z0-9_./-]{16,}

pyright-backend:
  name: pyright (backend)
  entry: bash -c 'cd services/backend && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp-auth:
  name: pyright (mcp-auth)
  entry: bash -c 'cd services/mcp-auth && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp-resource:
  name: pyright (mcp-resource)
  entry: bash -c 'cd services/mcp-resource && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

pyright-sdk:
  name: pyright (taskmanager-sdk)
  entry: bash -c 'cd packages/taskmanager-sdk && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm audit --production --audit-level=high'
  language: system
  pass_filenames: false

npm-format:
  name: npm format (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run format'
  language: system
  pass_filenames: false

npm-lint:
  name: npm lint (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run lint'
  language: system
  pass_filenames: false

npm-check:
  name: npm check (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && [ -f .env ] || cp .env.example .env && npm run check'
  language: system
  pass_filenames: false

docker-uv-no-sync:
  name: uv run --no-sync in Docker runtime commands
  entry: ./scripts/check-docker-uv-run.sh
  language: script
  pass_filenames: false

feat: add MCP Relay admin debug UI (#339)
  docker-compose.yml
  services/backend/app/api/relay.py
  services/backend/app/config.py
  services/backend/app/main.py
  services/backend/tests/test_relay.py
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/routes/admin/relay/+page.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check, docker-uv-no-sync

fix(oauth): register dynamic clients as public in backend (#340)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/tests/test_client_registration.py
Due: pyright-mcp-auth, pyright-sdk

fix(oauth): include is_public in ClientCreateResponse
  services/backend/app/api/oauth/clients.py
Due: pyright-backend

test(oauth): add regression tests for is_public in ClientCreateResponse
  services/backend/tests/test_oauth.py
Due: pyright-backend

fix(oauth): include is_public in ClientCreateResponse (#341)
  services/backend/app/api/oauth/clients.py
  services/backend/tests/test_oauth.py
Due: pyright-backend

refactor(mcp-auth): simplify _validate_url_ssrf with guard clauses (task #482)
  services/mcp-auth/mcp_auth/cimd.py
  services/mcp-auth/tests/test_cimd.py
Due: no-hardcoded-tokens, pyright-mcp-auth

refactor(mcp-auth): extract _store_mcp_tokens helper in auth_server.py (task #481)
  packages/mcp-auth-framework/mcp_auth_framework/responses.py
  services/mcp-auth/mcp_auth/auth_server.py
Due: no-hardcoded-tokens, pyright-mcp-auth

refactor(backend): extract duplicated patterns in todos.py (task #475)
  services/backend/app/api/todos.py
  services/backend/tests/test_relay.py
Due: no-hardcoded-tokens, pyright-backend

chore(backend): fix dead code and cleanup items, add CONTRIBUTING.md (task #492)
  CONTRIBUTING.md
  services/backend/app/api/auth.py
  services/backend/app/api/todos.py
  services/backend/app/api/wiki.py
  services/backend/tests/test_relay.py
Due: no-hardcoded-tokens, pyright-backend

refactor(mcp-auth): simplify _validate_url_ssrf with guard clauses (task #482) (#342)
  services/mcp-auth/mcp_auth/cimd.py
  services/mcp-auth/tests/test_cimd.py
Due: no-hardcoded-tokens, pyright-mcp-auth

refactor(mcp-auth): extract _store_mcp_tokens helper in auth_server.py (task #481) (#343)
  packages/mcp-auth-framework/mcp_auth_framework/responses.py
  services/mcp-auth/mcp_auth/auth_server.py
Due: no-hardcoded-tokens, pyright-mcp-auth

fix(backend): make _verify_parent_allows_children a plain function
  services/backend/app/api/todos.py
Due: no-hardcoded-tokens, pyright-backend

chore(backend): fix dead code and cleanup items, add CONTRIBUTING.md (task #492) (#345)
  CONTRIBUTING.md
  services/backend/app/api/auth.py
  services/backend/app/api/todos.py
  services/backend/app/api/wiki.py
  services/backend/tests/test_relay.py
Due: no-hardcoded-tokens, pyright-backend

refactor(backend): extract duplicated patterns in todos.py (#344)
  services/backend/app/api/todos.py
Due: no-hardcoded-tokens, pyright-backend

docs: consolidate project structure trees into README.md (task #489)
  CLAUDE.md
  QUICK_START.md
  README.md
Due: no-hardcoded-tokens

fix(backend): use set_config() instead of SET LOCAL for tab_id
  services/backend/app/dependencies.py
  services/backend/tests/test_event_bus.py
Due: no-hardcoded-tokens, pyright-backend

docs: add WebAuthn/Passkeys documentation (task #488)
  docs/webauthn.md
Due: no-hardcoded-tokens

docs: add wiki feature documentation (task #487)
  README.md
  docs/wiki.md
Due: no-hardcoded-tokens

feat(frontend): highlight current date in calendar view (task #124)
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

docs: consolidate project structure trees into README.md (task #489) (#347)
  CLAUDE.md
  QUICK_START.md
  README.md
Due: no-hardcoded-tokens

test: use pop() instead of clear() for dependency override cleanup
  services/backend/tests/test_event_bus.py
Due: pyright-backend

fix(frontend): fix wrong CSS fallback color and add code comment
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

docs(wiki): fix append param casing and clarify soft-delete retention
  docs/wiki.md
Due: no-hardcoded-tokens

docs(webauthn): fix rate limit documentation accuracy
  docs/webauthn.md
Due: no-hardcoded-tokens

fix(backend): use set_config() instead of SET LOCAL for tab_id (#348)
  services/backend/app/dependencies.py
  services/backend/tests/test_event_bus.py
Due: no-hardcoded-tokens, pyright-backend

feat(frontend): highlight current date in calendar view (#351)
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

docs: add wiki feature documentation (#350)
  README.md
  docs/wiki.md
Due: no-hardcoded-tokens

docs(webauthn): fix /register/verify response status code (200 not 201)
  docs/webauthn.md
Due: no-hardcoded-tokens

docs: add WebAuthn/Passkeys documentation (#349)
  docs/webauthn.md
Due: no-hardcoded-tokens

docs: update frontend and backend README files (task #490)
  services/backend/README.md
  services/frontend/README.md
Due: no-hardcoded-tokens

chore(deps): update frontend npm and Python service packages (task #491)
  packages/taskmanager-sdk/uv.lock
  services/backend/uv.lock
  services/frontend/package-lock.json
  services/mcp-auth/uv.lock
  services/mcp-resource/uv.lock
Due: no-hardcoded-tokens, npm-audit

docs: fix registration codes section placement and news endpoint order
  services/backend/README.md
Due: no-hardcoded-tokens

docs: update frontend and backend README files (#352)
  services/backend/README.md
  services/frontend/README.md
Due: no-hardcoded-tokens

chore(deps): update frontend npm and Python service packages (#353)
  packages/taskmanager-sdk/uv.lock
  services/backend/uv.lock
  services/frontend/package-lock.json
  services/mcp-auth/uv.lock
  services/mcp-resource/uv.lock
Due: no-hardcoded-tokens, npm-audit

feat(backend): move rate limiter and OAuth state to PostgreSQL (task #467)
  services/backend/alembic/env.py
  services/backend/alembic/versions/0032_add_shared_state_table.py
  services/backend/app/api/auth.py
  services/backend/app/api/news.py
  services/backend/app/api/oauth/github.py
  services/backend/app/api/webauthn.py
  services/backend/app/core/rate_limit.py
  services/backend/app/dependencies.py
  services/backend/app/models/__init__.py
  services/backend/app/models/shared_state.py
  services/backend/tests/conftest.py
  services/backend/tests/test_api_keys.py
  services/backend/tests/test_auth.py
  services/backend/tests/test_event_bus.py
  services/backend/tests/test_github_oauth.py
  services/backend/tests/test_rate_limit.py
Due: no-hardcoded-tokens, pyright-backend

fix: resolve concurrency race conditions in rate limiter and OAuth state
  services/backend/app/api/oauth/github.py
  services/backend/app/core/rate_limit.py
  services/backend/tests/test_rate_limit.py
Due: no-hardcoded-tokens, pyright-backend

feat(backend): move rate limiter and OAuth state to PostgreSQL (#354)
  services/backend/alembic/env.py
  services/backend/alembic/versions/0032_add_shared_state_table.py
  services/backend/app/api/auth.py
  services/backend/app/api/news.py
  services/backend/app/api/oauth/github.py
  services/backend/app/api/webauthn.py
  services/backend/app/core/rate_limit.py
  services/backend/app/dependencies.py
  services/backend/app/models/__init__.py
  services/backend/app/models/shared_state.py
  services/backend/tests/conftest.py
  services/backend/tests/test_api_keys.py
  services/backend/tests/test_auth.py
  services/backend/tests/test_event_bus.py
  services/backend/tests/test_github_oauth.py
  services/backend/tests/test_rate_limit.py
Due: no-hardcoded-tokens, pyright-backend

feat(frontend): make toast notifications navigate to updated items on click
  services/frontend/src/lib/components/Toasts.svelte
  services/frontend/src/lib/services/eventHandlers.ts
  services/frontend/src/lib/stores/ui.ts
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/tasks/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

fix(frontend): address code review — wiki race condition and toast a11y
  services/frontend/src/lib/components/Toasts.svelte
  services/frontend/src/lib/services/eventHandlers.ts
  services/frontend/src/lib/stores/ui.ts
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

Path conditions:
  no-hardcoded-tokens: any file but: (?x)^(
  package-lock\.json|
  .*\.lock|
  \.env\.example|
  \.secrets\.baseline|
  \.pre-commit-config\.yaml|
  .*test.*|
  .*spec.*|
  .*/oauth/.*|
  .*/oauth_provider.*|
  .*/auth_server\.py|
  .*/taskmanager_sdk/.*
)$

  pyright-backend: any of: ^services/backend/ and \.py$
  pyright-mcp-auth: any of: ^services/mcp-auth/ and \.py$
  pyright-mcp-resource: any of: ^services/mcp-resource/ and \.py$
  pyright-sdk: any of: ^packages/taskmanager-sdk/ and \.py$
  npm-audit: any of: ^services/frontend/(package\.json|package-lock\.json)$
  npm-format: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-lint: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-check: any of: ^services/frontend/.*\.(js|ts|svelte)$
  docker-uv-no-sync: any of: (Dockerfile|docker-compose\.yml)$
