Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-tokens, pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-audit, npm-format, npm-lint, npm-check, docker-uv-no-sync

Path conditions:
  no-hardcoded-tokens: any file but: (?x)^(
  package-lock\.json|
  .*\.lock|
  \.env\.example|
  \.secrets\.baseline|
  \.pre-commit-config\.yaml|
  .*test.*|
  .*spec.*|
  .*/oauth/.*|
  .*/oauth_provider.*|
  .*/auth_server\.py|
  .*/taskmanager_sdk/.*
)$

  pyright-backend: any of: ^services/backend/ and \.py$
  pyright-mcp-auth: any of: ^services/mcp-auth/ and \.py$
  pyright-mcp-resource: any of: ^services/mcp-resource/ and \.py$
  pyright-sdk: any of: ^packages/taskmanager-sdk/ and \.py$
  npm-audit: any of: ^services/frontend/(package\.json|package-lock\.json)$
  npm-format: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-lint: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-check: any of: ^services/frontend/.*\.(js|ts|svelte)$
  docker-uv-no-sync: any of: (Dockerfile|docker-compose\.yml)$

fix(frontend): add table styles for wiki markdown content (#327)
  services/frontend/src/app.scss
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/news/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

feat: add unified search across tasks, wiki, snippets, and articles
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/test_client.py
  services/backend/app/api/unified_search.py
  services/backend/app/main.py
  services/backend/tests/test_unified_search.py
  services/frontend/src/lib/components/SearchModal.svelte
  services/frontend/src/routes/+layout.svelte
  services/frontend/src/routes/tasks/+page.svelte
  services/mcp-resource/mcp_resource/server.py
Due: no-hardcoded-tokens, pyright-backend, pyright-mcp-resource, pyright-sdk, npm-format, npm-lint, npm-check

fix: address review feedback for unified search
  services/backend/app/api/unified_search.py
  services/frontend/src/lib/components/SearchModal.svelte
  services/frontend/src/routes/tasks/+page.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

feat: add unified search across tasks, wiki, snippets, and articles (#328)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/test_client.py
  services/backend/app/api/unified_search.py
  services/backend/app/main.py
  services/backend/tests/test_unified_search.py
  services/frontend/src/lib/components/SearchModal.svelte
  services/frontend/src/routes/+layout.svelte
  services/frontend/src/routes/tasks/+page.svelte
  services/mcp-resource/mcp_resource/server.py
Due: no-hardcoded-tokens, pyright-backend, pyright-mcp-resource, pyright-sdk, npm-format, npm-lint, npm-check

fix: patch SvelteKit vuln, fix flaky test, fix husky audit hook
  .husky/pre-commit
  services/frontend/package-lock.json
  services/mcp-resource/tests/test_lakera_guard.py
Due: no-hardcoded-tokens, pyright-mcp-resource, npm-audit

fix: patch SvelteKit vuln, fix flaky test, fix husky audit hook (#329)
  .husky/pre-commit
  services/frontend/package-lock.json
  services/mcp-resource/tests/test_lakera_guard.py
Due: no-hardcoded-tokens, pyright-mcp-resource, npm-audit

docs(mcp-resource): update README with all 43 tools and fix project structure (task #483)
  services/mcp-resource/README.md
Due: no-hardcoded-tokens

docs(mcp-resource): update README with all 43 tools and fix project structure (task #483) (#330)
  services/mcp-resource/README.md
Due: no-hardcoded-tokens

feat(security): add HTTP security headers to backend and frontend (task #473)
  services/backend/app/core/security_headers.py
  services/backend/app/main.py
  services/backend/tests/test_security_headers.py
  services/frontend/package-lock.json
  services/frontend/src/hooks.server.ts
Due: no-hardcoded-tokens, pyright-backend, npm-audit, npm-format, npm-lint, npm-check

refactor(frontend): extract HomeTaskItem component from home page (task #480)
  services/frontend/src/lib/components/HomeTaskItem.svelte
  services/frontend/src/routes/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

refactor(mcp-resource): replace inline json.dumps errors with json_error() (task #477)
  .pre-commit-config.yaml
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-mcp-resource

refactor(mcp-resource): replace inline json.dumps errors with json_error() (task #477) (#333)
  .pre-commit-config.yaml
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-mcp-resource

refactor(frontend): extract HomeTaskItem component from home page (task #480) (#332)
  services/frontend/src/lib/components/HomeTaskItem.svelte
  services/frontend/src/routes/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

fix(security): address review issues in HTTP security headers (task #473)
  services/backend/app/main.py
  services/backend/tests/test_security_headers.py
  services/frontend/src/hooks.server.ts
  services/frontend/svelte.config.js
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

feat(security): add HTTP security headers (task #473) (#331)
  services/backend/app/core/security_headers.py
  services/backend/app/main.py
  services/backend/tests/test_security_headers.py
  services/frontend/package-lock.json
  services/frontend/src/hooks.server.ts
  services/frontend/svelte.config.js
Due: no-hardcoded-tokens, pyright-backend, npm-audit, npm-format, npm-lint, npm-check

feat: add real-time event bus with PG LISTEN/NOTIFY and SSE
  services/backend/alembic/versions/0031_add_event_bus_triggers.py
  services/backend/app/api/events.py
  services/backend/app/core/tab_id.py
  services/backend/app/dependencies.py
  services/backend/app/main.py
  services/backend/app/services/event_bus.py
  services/backend/tests/test_event_bus.py
  services/frontend/src/lib/api/client.ts
  services/frontend/src/lib/components/ConnectionStatus.svelte
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/services/eventHandlers.ts
  services/frontend/src/lib/services/eventStream.ts
  services/frontend/src/routes/+layout.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

fix: address code review feedback for event bus reliability
  services/backend/app/core/tab_id.py
  services/backend/app/services/event_bus.py
  services/backend/tests/test_event_bus.py
  services/frontend/src/lib/services/eventHandlers.ts
  services/frontend/src/lib/services/eventStream.ts
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

fix: resolve pyright type errors in event_bus.py
  services/backend/app/services/event_bus.py
Due: no-hardcoded-tokens, pyright-backend

feat: add real-time event bus with PG LISTEN/NOTIFY and SSE (#334)
  services/backend/alembic/versions/0031_add_event_bus_triggers.py
  services/backend/app/api/events.py
  services/backend/app/core/tab_id.py
  services/backend/app/dependencies.py
  services/backend/app/main.py
  services/backend/app/services/event_bus.py
  services/backend/tests/test_event_bus.py
  services/frontend/src/lib/api/client.ts
  services/frontend/src/lib/components/ConnectionStatus.svelte
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/services/eventHandlers.ts
  services/frontend/src/lib/services/eventStream.ts
  services/frontend/src/routes/+layout.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

ci(frontend): improve test efficiency with parallel workers and browser caching
  .github/workflows/frontend-ci.yml
  services/frontend/playwright.config.ts
  services/frontend/tests/helpers/test-utils.ts
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

fix(ci): use percentage for workers, pin action to SHA
  .github/workflows/frontend-ci.yml
  services/frontend/playwright.config.ts
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

fix(ci): revert to sequential workers in CI
  services/frontend/playwright.config.ts
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

refactor: extract batch_create_todos into phase helper functions
  services/backend/app/api/todos.py
Due: no-hardcoded-tokens, pyright-backend

ci(frontend): add selective E2E test execution based on changed files
  .github/workflows/frontend-ci.yml
  services/frontend/scripts/affected-tests.sh
Due: no-hardcoded-tokens

fix(ci): fetch full history for affected-tests diff, bind specs via env var
  .github/workflows/frontend-ci.yml
  services/frontend/scripts/affected-tests.sh
Due: no-hardcoded-tokens

fix: address PR review feedback
  .github/workflows/frontend-ci.yml
  services/frontend/playwright.config.ts
  services/frontend/tests/helpers/test-utils.ts
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

refactor: remove redundant batch_size param from _validate_batch_depends_on
  services/backend/app/api/todos.py
  services/backend/tests/test_event_bus.py
Due: no-hardcoded-tokens, pyright-backend

refactor: extract batch_create_todos into phase helpers (#336)
  services/backend/app/api/todos.py
  services/backend/tests/test_event_bus.py
Due: no-hardcoded-tokens, pyright-backend

ci(frontend): improve test efficiency with parallel workers and caching (#335)
  .github/workflows/frontend-ci.yml
  services/frontend/playwright.config.ts
  services/frontend/scripts/affected-tests.sh
  services/frontend/tests/helpers/test-utils.ts
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

ci: move frontend E2E tests out of PR CI into standalone workflow
  .github/workflows/frontend-ci.yml
  .github/workflows/frontend-e2e.yml
  .github/workflows/test.yml
Due: no-hardcoded-tokens

ci: address review feedback on frontend-e2e workflow
  .github/workflows/frontend-e2e.yml
Due: no-hardcoded-tokens

ci: move frontend E2E tests out of PR CI (#337)
  .github/workflows/frontend-ci.yml
  .github/workflows/frontend-e2e.yml
  .github/workflows/test.yml
Due: no-hardcoded-tokens

feat(mcp-relay): add OAuth-protected public REST API
  .pre-commit-config.yaml
  services/mcp-relay/mcp_relay/api.py
  services/mcp-relay/mcp_relay/cli.py
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/tests/test_api.py
Due: no-hardcoded-tokens

fix(mcp-relay): address security and code review feedback
  services/mcp-relay/mcp_relay/api.py
  services/mcp-relay/tests/test_api.py
Due: no-hardcoded-tokens

fix(mcp-relay): validate JSON body type and content type in send_handler
  services/mcp-relay/mcp_relay/api.py
  services/mcp-relay/tests/test_api.py
Due: no-hardcoded-tokens

feat(mcp-relay): add OAuth-protected public REST API (#338)
  .pre-commit-config.yaml
  services/mcp-relay/mcp_relay/api.py
  services/mcp-relay/mcp_relay/cli.py
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/tests/test_api.py
Due: no-hardcoded-tokens

feat: add MCP Relay admin debug UI
  docker-compose.yml
  services/backend/app/api/relay.py
  services/backend/app/config.py
  services/backend/app/main.py
  services/backend/tests/test_relay.py
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/routes/admin/relay/+page.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check, docker-uv-no-sync

style: format relay page with prettier
  services/frontend/src/routes/admin/relay/+page.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

fix(oauth): register dynamic clients as public in backend
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/tests/test_client_registration.py
Due: pyright-mcp-auth, pyright-sdk

fix: address code review feedback for relay UI
  services/backend/app/api/relay.py
  services/backend/tests/test_relay.py
  services/frontend/src/routes/admin/relay/+page.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check
