Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-audit, npm-format, npm-lint, npm-check

pyright-backend:
  name: pyright (backend)
  entry: bash -c 'cd services/backend && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp-auth:
  name: pyright (mcp-auth)
  entry: bash -c 'cd services/mcp-auth && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp-resource:
  name: pyright (mcp-resource)
  entry: bash -c 'cd services/mcp-resource && uv run pyright'
  language: system
  pass_filenames: false

pyright-sdk:
  name: pyright (taskmanager-sdk)
  entry: bash -c 'cd packages/taskmanager-sdk && uv run pyright'
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm audit --production --audit-level=high'
  language: system
  pass_filenames: false

npm-format:
  name: npm format (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run format'
  language: system
  pass_filenames: false

npm-lint:
  name: npm lint (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run lint'
  language: system
  pass_filenames: false

npm-check:
  name: npm check (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run check'
  language: system
  pass_filenames: false

style: fix prettier formatting
  services/frontend/src/lib/components/DragDropCalendar.svelte
Due: npm-format, npm-lint, npm-check

feat(calendar): add Expand All / Collapse All button (#258)
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/tests/e2e/calendar-expand-collapse.spec.ts
Due: npm-format, npm-lint, npm-check

Add playwright config
  services/frontend/playwright-local.config.ts
Due: npm-format, npm-lint, npm-check

fix: add testIgnore for readme-screenshots.spec.ts to local config
  services/frontend/playwright-local.config.ts
Due: npm-format, npm-lint, npm-check

Add playwright config (#259)
  services/frontend/playwright-local.config.ts
Due: npm-format, npm-lint, npm-check

feat(calendar): enable subtask dragging and expand drop target area
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/tests/e2e/calendar-subtask-drag.spec.ts
Due: npm-format, npm-lint, npm-check

fix: prettier formatting and ensure status filter is not overridden
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/tests/e2e/calendar-subtask-drag.spec.ts
Due: npm-format, npm-lint, npm-check

fix: namespace dndzone IDs to prevent potential collisions
  services/frontend/src/lib/components/DragDropCalendar.svelte
Due: npm-format, npm-lint, npm-check

fix(ci): use machine-readable verdict for review gate
  .github/workflows/claude-reviews.yml
Due: none

feat(calendar): enable subtask dragging and expand drop target (#260)
  .github/workflows/claude-reviews.yml
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/tests/e2e/calendar-subtask-drag.spec.ts
Due: npm-format, npm-lint, npm-check

feat(infra): migrate from nginx to Traefik reverse proxy
  docker-compose.yml
Due: none

fix: add traefik.enable=false to Loki container
  docker-compose.yml
Due: none

feat: migrate from nginx to Traefik reverse proxy (#261)
  docker-compose.yml
Due: none

feat(wiki): add hierarchical pages and tags
  services/backend/alembic/versions/0025_add_wiki_parent_id_and_tags.py
  services/backend/app/api/wiki.py
  services/backend/app/models/wiki_page.py
  services/backend/tests/test_wiki.py
  services/frontend/src/lib/components/WikiTreeView.svelte
  services/frontend/src/lib/stores/wiki.ts
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/wiki/+page.svelte
  services/frontend/src/routes/wiki/[slug]/+page.svelte
  services/frontend/src/routes/wiki/[slug]/edit/+page.svelte
  services/frontend/src/routes/wiki/new/+page.svelte
  services/frontend/tests/e2e/wiki.spec.ts
Due: pyright-backend, npm-format, npm-lint, npm-check

fix: resolve MissingGreenlet, tag injection, and review feedback
  services/backend/app/api/wiki.py
  services/backend/app/models/wiki_page.py
  services/frontend/src/routes/wiki/new/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

fix: cast tag filter value to JSONB for @> operator
  services/backend/app/api/wiki.py
Due: pyright-backend

fix: use jsonb_build_array for tag filter instead of cast
  services/backend/app/api/wiki.py
Due: pyright-backend

fix: validate subtree depth when reparenting wiki pages
  services/backend/app/api/wiki.py
  services/backend/tests/test_wiki.py
Due: pyright-backend

feat(wiki): add hierarchical pages and tags (#264)
  services/backend/alembic/versions/0025_add_wiki_parent_id_and_tags.py
  services/backend/app/api/wiki.py
  services/backend/app/models/wiki_page.py
  services/backend/tests/test_wiki.py
  services/frontend/src/lib/components/WikiTreeView.svelte
  services/frontend/src/lib/stores/wiki.ts
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/wiki/+page.svelte
  services/frontend/src/routes/wiki/[slug]/+page.svelte
  services/frontend/src/routes/wiki/[slug]/edit/+page.svelte
  services/frontend/src/routes/wiki/new/+page.svelte
  services/frontend/tests/e2e/wiki.spec.ts
Due: pyright-backend, npm-format, npm-lint, npm-check

feat(mcp-relay): add debug web UI and REST API for message inspection
  services/mcp-relay/mcp_relay/debug.py
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/pyproject.toml
  services/mcp-relay/tests/test_debug.py
  services/mcp-relay/uv.lock
Due: none

chore(docker): restrict debug UI to localhost via Traefik + port binding
  docker-compose.yml
Due: none

fix(mcp-relay): address CI review issues for debug UI security and routing
  docker-compose.yml
  services/mcp-relay/mcp_relay/debug.py
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/tests/test_debug.py
Due: none

feat(mcp-relay): add debug web UI and REST API for message inspection (#265)
  docker-compose.yml
  services/mcp-relay/mcp_relay/debug.py
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/pyproject.toml
  services/mcp-relay/tests/test_debug.py
  services/mcp-relay/uv.lock
Due: none

feat: add MCP OAuth token refresh script with ntfy alerting
  scripts/mcp-refresh-token.sh
Due: none

fix: remove hardcoded ntfy token, fix secret detection gaps
  .husky/pre-commit
  .pre-commit-config.yaml
  scripts/mcp-refresh-token.sh
Due: none

fix: handle non-JSON auth server errors, catch unquoted token assignments
  .pre-commit-config.yaml
  scripts/mcp-refresh-token.sh
Due: none

fix: exclude test and OAuth files from no-hardcoded-tokens hook
  .pre-commit-config.yaml
Due: none

feat: add MCP OAuth token refresh script with ntfy alerting (#266)
  .husky/pre-commit
  .pre-commit-config.yaml
  scripts/mcp-refresh-token.sh
Due: none

fix(wiki): fix wiki page showing "not found" due to linked-tasks 500 error
  services/backend/Dockerfile
  services/backend/app/api/wiki.py
  services/frontend/src/routes/wiki/[slug]/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

fix: address CI review feedback
  services/backend/Dockerfile
  services/frontend/src/routes/wiki/[slug]/+page.svelte
Due: npm-format, npm-lint, npm-check

fix(wiki): fix page showing not found due to linked-tasks error (#267)
  services/backend/Dockerfile
  services/backend/app/api/wiki.py
  services/frontend/src/routes/wiki/[slug]/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

feat(mcp-auth): auto-register MCP clients with taskmanager backend (#185)
  services/mcp-auth/mcp_auth/taskmanager_oauth_provider.py
  services/mcp-auth/tests/test_client_registration.py
Due: pyright-mcp-auth

fix(mcp-auth): address review feedback on client auto-registration
  services/mcp-auth/mcp_auth/taskmanager_oauth_provider.py
  services/mcp-auth/tests/test_client_registration.py
Due: pyright-mcp-auth

feat(mcp-auth): auto-register MCP clients with backend (#268)
  services/mcp-auth/mcp_auth/taskmanager_oauth_provider.py
  services/mcp-auth/tests/test_client_registration.py
Due: pyright-mcp-auth

feat(oauth): add token revocation endpoint (RFC 7009)
  packages/mcp-resource-framework/mcp_resource_framework/oauth_discovery.py
  packages/mcp-resource-framework/tests/test_oauth_discovery.py
  services/backend/app/api/oauth/token.py
  services/backend/app/dependencies.py
  services/backend/tests/test_oauth.py
Due: pyright-backend

fix(oauth): prevent refreshing revoked tokens
  services/backend/app/api/oauth/token.py
  services/backend/tests/test_oauth.py
Due: pyright-backend

feat(oauth): add token revocation endpoint (RFC 7009) (#269)
  packages/mcp-resource-framework/mcp_resource_framework/oauth_discovery.py
  packages/mcp-resource-framework/tests/test_oauth_discovery.py
  services/backend/app/api/oauth/token.py
  services/backend/app/dependencies.py
  services/backend/tests/test_oauth.py
Due: pyright-backend

feat: add task deduplication to prevent duplicate active todos
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/app/api/todos.py
  services/backend/app/core/errors.py
  services/backend/tests/test_todos.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-resource, pyright-sdk

fix(monitoring): expose Loki port locally and increase ingestion rate limits
  docker-compose.yml
  services/monitoring/loki/loki-config.yml
Due: none

fix(monitoring): expose Loki port locally and increase ingestion rate limits (#271)
  docker-compose.yml
  services/monitoring/loki/loki-config.yml
Due: none

Path conditions:
  pyright-backend: any of: ^services/backend/ and \.py$
  pyright-mcp-auth: any of: ^services/mcp-auth/ and \.py$
  pyright-mcp-resource: any of: ^services/mcp-resource/ and \.py$
  pyright-sdk: any of: ^packages/taskmanager-sdk/ and \.py$
  npm-audit: any of: ^services/frontend/(package\.json|package-lock\.json)$
  npm-format: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-lint: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-check: any of: ^services/frontend/.*\.(js|ts|svelte)$
