Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-tokens, pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-audit, npm-format, npm-lint, npm-check, docker-uv-no-sync

no-hardcoded-tokens:
  name: no hardcoded tokens
  language: pygrep
  entry: (?i)(token|bearer)\w*\s*[=:]\s*["']?[a-zA-Z0-9_./-]{16,}

pyright-backend:
  name: pyright (backend)
  entry: bash -c 'cd services/backend && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp-auth:
  name: pyright (mcp-auth)
  entry: bash -c 'cd services/mcp-auth && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp-resource:
  name: pyright (mcp-resource)
  entry: bash -c 'cd services/mcp-resource && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

pyright-sdk:
  name: pyright (taskmanager-sdk)
  entry: bash -c 'cd packages/taskmanager-sdk && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm audit --production --audit-level=high'
  language: system
  pass_filenames: false

npm-format:
  name: npm format (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run format'
  language: system
  pass_filenames: false

npm-lint:
  name: npm lint (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run lint'
  language: system
  pass_filenames: false

npm-check:
  name: npm check (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && [ -f .env ] || cp .env.example .env && npm run check'
  language: system
  pass_filenames: false

docker-uv-no-sync:
  name: uv run --no-sync in Docker runtime commands
  entry: ./scripts/check-docker-uv-run.sh
  language: script
  pass_filenames: false

feat: add reading engagement features (streak, bookmarks, daily highlight)
  services/backend/alembic/versions/0028_add_bookmark_fields_to_article_interactions.py
  services/backend/app/api/news.py
  services/backend/app/models/article_interaction.py
  services/backend/tests/test_news_engagement.py
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/home/+page.svelte
  services/frontend/src/routes/news/+page.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

refactor: move dashboard to / and task list to /tasks
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/home/+page.svelte
  services/frontend/src/routes/task/[id]/+page.svelte
  services/frontend/src/routes/tasks/+page.svelte
  services/frontend/tests/e2e/auth-flow.spec.ts
  services/frontend/tests/e2e/calendar-expand-collapse.spec.ts
  services/frontend/tests/e2e/calendar-subtask-drag.spec.ts
  services/frontend/tests/e2e/deadline-type.spec.ts
  services/frontend/tests/e2e/home-page.spec.ts
  services/frontend/tests/e2e/list-view-ux.spec.ts
  services/frontend/tests/e2e/project-filter.spec.ts
  services/frontend/tests/e2e/ux-improvements.spec.ts
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

Update OAuth scripts to support multiple MCP servers
  scripts/mcp-device-auth.sh
  scripts/mcp-refresh-token.sh
Due: no-hardcoded-tokens

fix: address code review feedback for news/RSS tools
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-mcp-resource

Widen OAuth authorization page layout for better readability (#287)
  services/backend/app/templates/oauth_authorize.html
  services/frontend/src/lib/components/OAuthResultCard.svelte
  services/frontend/src/routes/oauth/authorize/+page.svelte
  services/frontend/src/routes/oauth/device/+page.svelte
  services/mcp-auth/mcp_auth/templates/authorization_callback.html
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

feat: add news/RSS feed tools to MCP server and SDK (#286)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/conftest.py
  packages/taskmanager-sdk/tests/test_client.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-mcp-resource, pyright-sdk

fix(frontend): close other dropdowns on hover, add Space key support
  services/frontend/src/lib/components/Navigation.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

Address CI review feedback
  scripts/install-cron.sh
  scripts/mcp-device-auth.sh
  scripts/mcp-refresh-token.sh
Due: no-hardcoded-tokens

Add Library dropdown menu grouping Wiki and Snippets (#288)
  services/frontend/src/lib/components/Navigation.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

fix: address CI failures and code review feedback
  services/frontend/src/routes/+page.svelte
  services/frontend/tests/e2e/calendar-drag-drop.spec.ts
  services/frontend/tests/e2e/ux-improvements.spec.ts
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

Add install script for MCP token refresh cron job (#285)
  scripts/install-cron.sh
  scripts/mcp-device-auth.sh
  scripts/mcp-refresh-token.sh
Due: no-hardcoded-tokens

fix: resolve Navigation.svelte formatting for CI compatibility
  services/frontend/src/lib/components/Navigation.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

fix: format Navigation.svelte after merge with main
  services/frontend/src/lib/components/Navigation.svelte
Due: no-hardcoded-tokens, npm-format, npm-lint, npm-check

Refactor home page to dashboard and move tasks to dedicated route (#289)
  services/backend/alembic/versions/0028_add_bookmark_fields_to_article_interactions.py
  services/backend/app/api/news.py
  services/backend/app/models/article_interaction.py
  services/backend/tests/test_news_engagement.py
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/home/+page.svelte
  services/frontend/src/routes/news/+page.svelte
  services/frontend/src/routes/task/[id]/+page.svelte
  services/frontend/src/routes/tasks/+page.svelte
  services/frontend/tests/e2e/auth-flow.spec.ts
  services/frontend/tests/e2e/calendar-drag-drop.spec.ts
  services/frontend/tests/e2e/calendar-expand-collapse.spec.ts
  services/frontend/tests/e2e/calendar-subtask-drag.spec.ts
  services/frontend/tests/e2e/deadline-type.spec.ts
  services/frontend/tests/e2e/home-page.spec.ts
  services/frontend/tests/e2e/list-view-ux.spec.ts
  services/frontend/tests/e2e/project-filter.spec.ts
  services/frontend/tests/e2e/ux-improvements.spec.ts
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

Add hostname to ntfy alerts and skip alerts in interactive mode
  scripts/mcp-refresh-token.sh
Due: no-hardcoded-tokens

Rename HOSTNAME to THIS_HOST and add compatibility comment
  scripts/mcp-refresh-token.sh
Due: no-hardcoded-tokens

Add hostname to ntfy alerts in MCP token refresh script (#290)
  scripts/mcp-refresh-token.sh
Due: no-hardcoded-tokens

fix(auth): reject protocol-relative URLs in return_to validation (task #459)
  services/backend/app/api/auth.py
  services/backend/tests/test_auth.py
Due: no-hardcoded-tokens, pyright-backend

fix(oauth): validate requested scopes against client's registered scopes (task #460)
  services/backend/app/api/oauth/authorize.py
  services/backend/tests/test_oauth_authorize.py
Due: pyright-backend

fix(todos): set completed_date when status changes to completed via PUT (task #462)
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
Due: no-hardcoded-tokens, pyright-backend

fix(todos): scope circular dependency check by user_id (task #461)
  services/backend/app/api/todos.py
  services/backend/tests/test_task_dependencies.py
Due: no-hardcoded-tokens, pyright-backend

fix(auth): reject protocol-relative URLs in return_to validation (task #459) (#291)
  services/backend/app/api/auth.py
  services/backend/tests/test_auth.py
Due: no-hardcoded-tokens, pyright-backend

fix(todos): set completed_date when status changes to completed via PUT (task #462) (#293)
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
Due: no-hardcoded-tokens, pyright-backend

fix(oauth): validate requested scopes against client's registered scopes (task #460) (#292)
  services/backend/app/api/oauth/authorize.py
  services/backend/tests/test_oauth_authorize.py
Due: pyright-backend

refactor: address code review - module-level imports, consolidate tests
  services/backend/tests/test_task_dependencies.py
Due: pyright-backend

fix(todos): scope circular dependency check by user_id (#294)
  services/backend/app/api/todos.py
  services/backend/tests/test_task_dependencies.py
Due: no-hardcoded-tokens, pyright-backend

Add clickable tag filtering to task views
  services/backend/app/api/todos.py
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/task/[id]/+page.svelte
  services/frontend/src/routes/tasks/+page.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

Add backend tests for tag filter on list_todos endpoint
  services/backend/tests/test_todos.py
Due: pyright-backend

Add clickable tag filtering to task views (#295)
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/task/[id]/+page.svelte
  services/frontend/src/routes/tasks/+page.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

fix(news): escape ILIKE wildcards in article search (task #464)
  services/backend/alembic/versions/0025_add_wiki_parent_id_and_tags.py
  services/backend/app/api/news.py
  services/backend/tests/conftest.py
  services/backend/tests/test_news.py
Due: no-hardcoded-tokens, pyright-backend

fix(news): use asyncio.to_thread for blocking DNS resolution (task #465)
  services/backend/app/services/news_fetcher.py
Due: no-hardcoded-tokens, pyright-backend

fix(news): escape ILIKE wildcards in article search (task #464) (#296)
  services/backend/alembic/versions/0025_add_wiki_parent_id_and_tags.py
  services/backend/app/api/news.py
  services/backend/tests/conftest.py
  services/backend/tests/test_news.py
Due: no-hardcoded-tokens, pyright-backend

feat/fix blocking getaddrinfo (#297)
  services/backend/app/services/news_fetcher.py
Due: no-hardcoded-tokens, pyright-backend

fix(todos): prevent tasks with children from becoming subtasks (task #466)
  services/backend/alembic/versions/0025_add_wiki_parent_id_and_tags.py
  services/backend/app/api/todos.py
  services/backend/tests/conftest.py
  services/backend/tests/test_todos.py
Due: no-hardcoded-tokens, pyright-backend

fix(todos): add nesting validation to bulk_update_todos
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
Due: no-hardcoded-tokens, pyright-backend

fix(todos): prevent tasks with children from becoming subtasks (task #466) (#298)
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
Due: no-hardcoded-tokens, pyright-backend

feat(wiki): expose parent_id in MCP and SDK wiki page tools
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/test_client.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-mcp-resource, pyright-sdk

fix: validate parent_id/remove_parent mutual exclusivity
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/test_client.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-mcp-resource, pyright-sdk

feat(wiki): expose parent_id in MCP and SDK wiki page tools (#299)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/test_client.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: no-hardcoded-tokens, pyright-mcp-resource, pyright-sdk

Path conditions:
  no-hardcoded-tokens: any file but: (?x)^(
  package-lock\.json|
  .*\.lock|
  \.env\.example|
  \.secrets\.baseline|
  \.pre-commit-config\.yaml|
  .*test.*|
  .*spec.*|
  .*/oauth/.*|
  .*/oauth_provider.*|
  .*/auth_server\.py|
  .*/taskmanager_sdk/.*
)$

  pyright-backend: any of: ^services/backend/ and \.py$
  pyright-mcp-auth: any of: ^services/mcp-auth/ and \.py$
  pyright-mcp-resource: any of: ^services/mcp-resource/ and \.py$
  pyright-sdk: any of: ^packages/taskmanager-sdk/ and \.py$
  npm-audit: any of: ^services/frontend/(package\.json|package-lock\.json)$
  npm-format: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-lint: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-check: any of: ^services/frontend/.*\.(js|ts|svelte)$
  docker-uv-no-sync: any of: (Dockerfile|docker-compose\.yml)$
