Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-tokens, pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-audit, npm-format, npm-lint, npm-check, docker-uv-no-sync

no-hardcoded-tokens:
  name: no hardcoded tokens
  language: pygrep
  entry: (?i)(token|bearer)\w*\s*[=:]\s*["']?[a-zA-Z0-9_./-]{16,}

pyright-backend:
  name: pyright (backend)
  entry: bash -c 'cd services/backend && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp-auth:
  name: pyright (mcp-auth)
  entry: bash -c 'cd services/mcp-auth && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp-resource:
  name: pyright (mcp-resource)
  entry: bash -c 'cd services/mcp-resource && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

pyright-sdk:
  name: pyright (taskmanager-sdk)
  entry: bash -c 'cd packages/taskmanager-sdk && uv sync --all-extras --quiet && uv run pyright'
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm audit --production --audit-level=high'
  language: system
  pass_filenames: false

npm-format:
  name: npm format (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run format'
  language: system
  pass_filenames: false

npm-lint:
  name: npm lint (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run lint'
  language: system
  pass_filenames: false

npm-check:
  name: npm check (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && [ -f .env ] || cp .env.example .env && npm run check'
  language: system
  pass_filenames: false

docker-uv-no-sync:
  name: uv run --no-sync in Docker runtime commands
  entry: ./scripts/check-docker-uv-run.sh
  language: script
  pass_filenames: false

fix(mcp-relay): add channel name validation to prevent path traversal (task #445)
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/tests/test_server.py
Due: no-hardcoded-tokens

refactor(mcp-relay): address CI review suggestions for channel validation
  services/mcp-relay/mcp_relay/server.py
Due: no-hardcoded-tokens

fix(mcp-relay): add channel name validation to prevent path traversal (task #445) (#300)
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/tests/test_server.py
Due: no-hardcoded-tokens

feat(mcp-relay): add individual message deletion (task #450)
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/tests/test_server.py
Due: no-hardcoded-tokens

feat(mcp-relay): add delete_channel operation to remove stale channels (task #449)
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/tests/test_server.py
Due: no-hardcoded-tokens

fix(mcp-relay): require delete scope for delete_channel tool
  services/mcp-relay/mcp_relay/server.py
Due: no-hardcoded-tokens

fix(mcp-relay): address security review issues in delete_message
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/tests/test_server.py
Due: no-hardcoded-tokens

feat(mcp-relay): add delete_channel operation (task #449) (#302)
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/tests/test_server.py
Due: no-hardcoded-tokens

fix(mcp-relay): use OAuth client_id for delete_message authorization
  services/mcp-relay/mcp_relay/server.py
Due: no-hardcoded-tokens

feat(mcp-relay): add sort order control to read_messages (task #452)
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/tests/test_server.py
Due: no-hardcoded-tokens

fix(mcp-relay): enforce consistent OAuth identity for send and delete
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/tests/test_server.py
Due: no-hardcoded-tokens

feat(mcp-relay): add sort order control to read_messages (task #452) (#303)
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/tests/test_server.py
Due: no-hardcoded-tokens

feat(mcp-relay): add cursor-based pagination to read_messages (task #451)
  services/mcp-relay/mcp_relay/debug.py
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/tests/test_debug.py
  services/mcp-relay/tests/test_server.py
Due: no-hardcoded-tokens

feat(mcp-relay): add cursor-based pagination to read_messages (task #451) (#304)
  services/mcp-relay/mcp_relay/debug.py
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/tests/test_debug.py
  services/mcp-relay/tests/test_server.py
Due: no-hardcoded-tokens

fix(scripts): add hostname fallback in mcp-refresh-token.sh
  scripts/mcp-refresh-token.sh
Due: no-hardcoded-tokens

fix(scripts): update outdated hostname comment
  scripts/mcp-refresh-token.sh
Due: no-hardcoded-tokens

fix(backend): use deque.popleft() instead of list.pop(0) in circular dep check (task #471)
  services/backend/app/api/todos.py
Due: no-hardcoded-tokens, pyright-backend

fix(backend): use exact constraint name matching in news.py duplicate detection (task #472)
  services/backend/app/api/news.py
Due: no-hardcoded-tokens, pyright-backend

fix(mcp-resource-framework): move Lakera project ID to environment variable (task #469)
  packages/mcp-resource-framework/mcp_resource_framework/security/lakera_guard.py
Due: no-hardcoded-tokens

fix(backend): remove unused passlib[bcrypt] dependency (task #463)
  services/backend/pyproject.toml
Due: no-hardcoded-tokens

fix(scripts): add hostname fallback in mcp-refresh-token.sh (#305)
  scripts/mcp-refresh-token.sh
Due: no-hardcoded-tokens

fix(backend): add bcrypt as explicit dependency after removing passlib
  services/backend/pyproject.toml
Due: no-hardcoded-tokens

fix: address review feedback — use module-level constant and document in .env.example
  .env.example
  packages/mcp-resource-framework/mcp_resource_framework/security/lakera_guard.py
Due: no-hardcoded-tokens

fix(backend): use deque.popleft() instead of list.pop(0) in circular dep check (task #471) (#306)
  services/backend/app/api/todos.py
Due: no-hardcoded-tokens, pyright-backend

fix(backend): use exact constraint name matching in news.py duplicate detection (task #472) (#307)
  services/backend/app/api/news.py
Due: no-hardcoded-tokens, pyright-backend

fix(mcp-resource-framework): move Lakera project ID to env var (task #469) (#308)
  .env.example
  packages/mcp-resource-framework/mcp_resource_framework/security/lakera_guard.py
Due: no-hardcoded-tokens

chore: regenerate uv.lock after passlib removal
  services/backend/uv.lock
Due: none

fix(backend): remove unused passlib[bcrypt] dependency (task #463) (#309)
  services/backend/pyproject.toml
  services/backend/uv.lock
Due: no-hardcoded-tokens

feat(mcp-relay): add individual message deletion (task #450) (#301)
  services/mcp-relay/mcp_relay/server.py
  services/mcp-relay/tests/test_server.py
Due: no-hardcoded-tokens

fix(backend): support Bearer token auth for admin endpoints
  services/backend/app/dependencies.py
Due: no-hardcoded-tokens, pyright-backend

test(backend): add admin auth tests for Bearer token and API key paths
  services/backend/tests/test_dependencies.py
Due: pyright-backend

fix(backend): support Bearer token auth for admin endpoints (#310)
  services/backend/app/dependencies.py
  services/backend/tests/test_dependencies.py
Due: no-hardcoded-tokens, pyright-backend

fix(mcp-resource): enable stateless HTTP to prevent session-not-found errors
  services/mcp-resource/mcp_resource/server.py
Due: no-hardcoded-tokens, pyright-mcp-resource

test(mcp-resource): add test for stateless_http=True constructor arg
  services/mcp-resource/tests/test_server.py
Due: pyright-mcp-resource

fix(mcp-resource): enable stateless HTTP to prevent session-not-found errors (#311)
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_server.py
Due: no-hardcoded-tokens, pyright-mcp-resource

feat: add time_horizon, agent fields to frontend and API schemas
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/components/TodoForm.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/lib/utils/agent.ts
  services/frontend/src/routes/task/[id]/+page.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

fix: address code review feedback
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
  services/frontend/src/lib/types.ts
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

fix(scripts): refresh MCP token every 30 min and remove early-exit skip
  scripts/install-cron.sh
  scripts/mcp-refresh-token.sh
Due: no-hardcoded-tokens

feat: add time_horizon and agent fields to frontend (#312)
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/components/TodoForm.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/lib/utils/agent.ts
  services/frontend/src/routes/task/[id]/+page.svelte
Due: no-hardcoded-tokens, pyright-backend, npm-format, npm-lint, npm-check

Path conditions:
  no-hardcoded-tokens: any file but: (?x)^(
  package-lock\.json|
  .*\.lock|
  \.env\.example|
  \.secrets\.baseline|
  \.pre-commit-config\.yaml|
  .*test.*|
  .*spec.*|
  .*/oauth/.*|
  .*/oauth_provider.*|
  .*/auth_server\.py|
  .*/taskmanager_sdk/.*
)$

  pyright-backend: any of: ^services/backend/ and \.py$
  pyright-mcp-auth: any of: ^services/mcp-auth/ and \.py$
  pyright-mcp-resource: any of: ^services/mcp-resource/ and \.py$
  pyright-sdk: any of: ^packages/taskmanager-sdk/ and \.py$
  npm-audit: any of: ^services/frontend/(package\.json|package-lock\.json)$
  npm-format: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-lint: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-check: any of: ^services/frontend/.*\.(js|ts|svelte)$
  docker-uv-no-sync: any of: (Dockerfile|docker-compose\.yml)$
