Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-audit, npm-format, npm-lint, npm-check

Path conditions:
  pyright-backend: any of: ^services/backend/ and \.py$
  pyright-mcp-auth: any of: ^services/mcp-auth/ and \.py$
  pyright-mcp-resource: any of: ^services/mcp-resource/ and \.py$
  pyright-sdk: any of: ^packages/taskmanager-sdk/ and \.py$
  npm-audit: any of: ^services/frontend/(package\.json|package-lock\.json)$
  npm-format: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-lint: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-check: any of: ^services/frontend/.*\.(js|ts|svelte)$

Add mobile-friendly responsive improvements
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/routes/+page.svelte
Due: npm-format, npm-lint, npm-check

Add past due-date warning to MCP create_task and update_task responses (#198)
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-mcp-resource

Add past due-date warning to MCP create_task and update_task responses (#198) (#201)
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-mcp-resource

Fix mobile menu accessibility, state management, and DRY breakpoints
  services/frontend/src/app.scss
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/routes/+page.svelte
Due: npm-format, npm-lint, npm-check

Fix mobile menu a11y announcements, focus timing, and close animation
  services/frontend/src/lib/components/Navigation.svelte
Due: npm-format, npm-lint, npm-check

Add mobile-friendly responsive improvements (#200)
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/routes/+page.svelte
Due: npm-format, npm-lint, npm-check

Add feed source CRUD management and featured filter (#202)
  services/backend/alembic/versions/0016_add_is_featured_to_feed_sources.py
  services/backend/app/api/news.py
  services/backend/app/models/feed_source.py
  services/frontend/src/lib/components/FeedSourceForm.svelte
  services/frontend/src/lib/components/FeedSourceModal.svelte
  services/frontend/src/lib/components/Modal.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/news/sources/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Add comments on tasks with full CRUD support
  packages/taskmanager-sdk/taskmanager_sdk/__init__.py
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/taskmanager_sdk/models.py
  services/backend/alembic/versions/0016_add_comments.py
  services/backend/app/api/comments.py
  services/backend/app/core/errors.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/comment.py
  services/backend/app/models/todo.py
  services/backend/app/models/user.py
  services/backend/tests/test_comments.py
  services/frontend/src/lib/components/CommentList.svelte
  services/frontend/src/lib/stores/todos.ts
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/task/[id]/+page.svelte
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-resource, pyright-sdk, npm-format, npm-lint, npm-check

Add comments on tasks with full CRUD support (#204)
  packages/taskmanager-sdk/taskmanager_sdk/__init__.py
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/taskmanager_sdk/models.py
  services/backend/alembic/versions/0016_add_comments.py
  services/backend/app/api/comments.py
  services/backend/app/core/errors.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/comment.py
  services/backend/app/models/todo.py
  services/backend/app/models/user.py
  services/backend/tests/test_comments.py
  services/frontend/src/lib/components/CommentList.svelte
  services/frontend/src/lib/stores/todos.ts
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/task/[id]/+page.svelte
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-resource, pyright-sdk, npm-format, npm-lint, npm-check

Fix news API: race conditions, auth, response models, type safety, and add tests
  services/backend/app/api/news.py
  services/backend/tests/test_news.py
  services/frontend/src/lib/components/FeedSourceForm.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Add pre-flight checks to create, article count to delete, and error state to UI
  services/backend/app/api/news.py
  services/backend/tests/test_news.py
  services/frontend/src/routes/news/sources/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Fix news API race conditions, error handling, and response consistency
  services/backend/alembic/versions/0017_add_is_featured_index.py
  services/backend/app/api/news.py
  services/backend/app/models/feed_source.py
  services/backend/tests/test_news.py
  services/frontend/src/lib/components/FeedSourceForm.svelte
  services/frontend/src/routes/news/sources/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Improve update endpoint safety and create endpoint error handling
  services/backend/app/api/news.py
Due: pyright-backend

Rebase migrations onto main and add cascade deletion comment
  services/backend/alembic/versions/0017_add_is_featured_to_feed_sources.py
  services/backend/alembic/versions/0018_add_is_featured_index.py
  services/backend/app/api/news.py
Due: pyright-backend

Add feed source CRUD management and featured filter (#202) (#203)
  services/backend/alembic/versions/0017_add_is_featured_to_feed_sources.py
  services/backend/alembic/versions/0018_add_is_featured_index.py
  services/backend/app/api/news.py
  services/backend/app/models/feed_source.py
  services/backend/tests/test_news.py
  services/frontend/src/lib/components/FeedSourceForm.svelte
  services/frontend/src/lib/components/FeedSourceModal.svelte
  services/frontend/src/lib/components/Modal.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/news/sources/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Add security hardening, CSRF protection, test coverage, and maintainability improvements
  README.md
  services/backend/app/api/auth.py
  services/backend/app/api/oauth/github.py
  services/backend/app/api/webauthn.py
  services/backend/app/core/csrf.py
  services/backend/app/core/session.py
  services/backend/app/main.py
  services/backend/tests/test_webauthn.py
  services/mcp-auth/Dockerfile
  services/mcp-auth/pyproject.toml
  services/mcp-auth/tests/test_jwt_auth.py
  services/mcp-auth/uv.lock
  services/mcp-resource/Dockerfile
  services/mcp-resource/pyproject.toml
Due: pyright-backend, pyright-mcp-auth

Fix CSRF middleware type annotations, Referer parsing, and test CORS origins
  services/backend/app/config.py
  services/backend/app/core/csrf.py
Due: pyright-backend

Add security hardening, test coverage, and maintainability improvements (#205)
  README.md
  services/backend/app/api/auth.py
  services/backend/app/api/oauth/github.py
  services/backend/app/api/webauthn.py
  services/backend/app/config.py
  services/backend/app/core/csrf.py
  services/backend/app/core/session.py
  services/backend/app/main.py
  services/backend/tests/test_webauthn.py
  services/mcp-auth/Dockerfile
  services/mcp-auth/pyproject.toml
  services/mcp-auth/tests/test_jwt_auth.py
  services/mcp-auth/uv.lock
  services/mcp-resource/Dockerfile
  services/mcp-resource/pyproject.toml
Due: pyright-backend, pyright-mcp-auth

Add ability to mark completed tasks as incomplete
  services/backend/app/api/todos.py
  services/frontend/src/app.scss
  services/frontend/src/routes/task/[id]/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Add ability to mark completed tasks as incomplete (#206)
  services/backend/app/api/todos.py
  services/frontend/src/app.scss
  services/frontend/src/routes/task/[id]/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Add featured source filter to feed page and fix dark mode toggle contrast
  services/backend/app/api/news.py
  services/frontend/src/routes/news/+page.svelte
  services/frontend/src/routes/news/sources/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Add parent task links for subtasks
  services/backend/app/api/todos.py
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/task/[id]/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Fix IDOR vulnerability in parent task query and add tests
  CLAUDE.md
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
Due: pyright-backend

Add parent task display to task detail views (#208)
  CLAUDE.md
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/task/[id]/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Add force-fetch endpoint for feed sources with configurable time range
  services/backend/app/api/news.py
  services/backend/app/services/news_fetcher.py
  services/backend/tests/test_news.py
  services/frontend/src/routes/news/sources/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Show subtasks in list and calendar views (Jira-style)
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/stores/todos.ts
  services/frontend/src/routes/+page.svelte
Due: npm-format, npm-lint, npm-check

Add featured source filter to feed page and fix dark mode toggle contrast (#207)
  services/backend/app/api/news.py
  services/backend/app/services/news_fetcher.py
  services/backend/tests/test_news.py
  services/frontend/src/routes/news/+page.svelte
  services/frontend/src/routes/news/sources/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Fix BOLA vulnerability in subtask query and address review feedback
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/stores/todos.ts
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Fix Prettier formatting in subtask display components
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/routes/+page.svelte
Due: npm-format, npm-lint, npm-check

Show subtasks in list and calendar views (Jira-style) (#209)
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/stores/todos.ts
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Add /home route for new tab and iOS home screen view
  services/frontend/src/routes/home/+page.svelte
Due: npm-format, npm-lint, npm-check

Fix uv run permission errors in MCP Docker containers
  .pre-commit-config.yaml
  docker-compose.yml
  scripts/check-docker-uv-run.sh
  services/mcp-auth/Dockerfile
  services/mcp-resource/Dockerfile
Due: none

Fix timezone fragility, race condition, and add date handling docs
  CLAUDE.md
  services/frontend/src/routes/home/+page.svelte
Due: npm-format, npm-lint, npm-check

Fix uv run permission errors in MCP Docker containers (#211)
  .pre-commit-config.yaml
  docker-compose.yml
  scripts/check-docker-uv-run.sh
  services/mcp-auth/Dockerfile
  services/mcp-resource/Dockerfile
Due: none

Add home page E2E tests and fix Prettier formatting
  services/frontend/src/routes/home/+page.svelte
  services/frontend/tests/e2e/home-page.spec.ts
Due: npm-format, npm-lint, npm-check

Minimize old review comments and use strikethrough for fixed items
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-security-review.yml
Due: none

Fix updated_at epoch bug and add mobile calendar tap support
  services/backend/alembic/versions/0019_add_updated_at_server_default.py
  services/backend/app/models/comment.py
  services/backend/app/models/todo.py
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/routes/task/[id]/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Minimize old review comments and use strikethrough for fixed items (#212)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-security-review.yml
Due: none

CI Fix
  services/frontend/tests/e2e/home-page.spec.ts
  services/frontend/tests/helpers/test-utils.ts
Due: npm-format, npm-lint, npm-check
