Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-audit, npm-format, npm-lint, npm-check

pyright-backend:
  name: pyright (backend)
  entry: bash -c 'cd services/backend && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp-auth:
  name: pyright (mcp-auth)
  entry: bash -c 'cd services/mcp-auth && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp-resource:
  name: pyright (mcp-resource)
  entry: bash -c 'cd services/mcp-resource && uv run pyright'
  language: system
  pass_filenames: false

pyright-sdk:
  name: pyright (taskmanager-sdk)
  entry: bash -c 'cd packages/taskmanager-sdk && uv run pyright'
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm audit --production --audit-level=high'
  language: system
  pass_filenames: false

npm-format:
  name: npm format (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run format'
  language: system
  pass_filenames: false

npm-lint:
  name: npm lint (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run lint'
  language: system
  pass_filenames: false

npm-check:
  name: npm check (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run check'
  language: system
  pass_filenames: false

Add recurring tasks feature with UI components and store (#156)
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/components/RecurringTaskForm.svelte
  services/frontend/src/lib/components/RecurringTaskModal.svelte
  services/frontend/src/lib/components/TodoForm.svelte
  services/frontend/src/lib/stores/recurringTasks.ts
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/recurring-tasks/+page.svelte
Due: npm-format, npm-lint, npm-check

Add subtasks feature with full-stack implementation
  services/backend/alembic/versions/0004_add_subtasks.py
  services/backend/app/api/todos.py
  services/backend/app/models/todo.py
  services/frontend/src/lib/components/SubtaskList.svelte
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/stores/todos.ts
  services/frontend/src/lib/types.ts
Due: pyright-backend, npm-format, npm-lint, npm-check

Remove SSL certificates from git tracking and update .gitignore
  .gitignore
  services/db/certs/server.crt
Due: none

Fix CI test failures by excluding screenshot tests and stabilizing calendar test
  services/frontend/package.json
  services/frontend/playwright.config.ts
  services/frontend/tests/e2e/calendar-drag-drop.spec.ts
  services/frontend/tests/e2e/readme-screenshots.spec.ts
Due: npm-audit, npm-format, npm-lint, npm-check

Fix security vulnerability in subtask parent_id authorization
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
Due: pyright-backend

Add subtasks feature with full-stack implementation (#157)
  .gitignore
  services/backend/alembic/versions/0004_add_subtasks.py
  services/backend/app/api/todos.py
  services/backend/app/models/todo.py
  services/backend/tests/test_todos.py
  services/db/certs/server.crt
  services/frontend/package.json
  services/frontend/playwright.config.ts
  services/frontend/src/lib/components/SubtaskList.svelte
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/stores/todos.ts
  services/frontend/src/lib/types.ts
  services/frontend/tests/e2e/calendar-drag-drop.spec.ts
  services/frontend/tests/e2e/readme-screenshots.spec.ts
Due: pyright-backend, npm-audit, npm-format, npm-lint, npm-check

Reorganize navigation menu with dropdown consolidation
  services/frontend/src/lib/components/Navigation.svelte
Due: npm-format, npm-lint, npm-check

Fix E2E tests for navigation changes and calendar selector
  services/frontend/tests/e2e/auth-flow.spec.ts
  services/frontend/tests/e2e/calendar-drag-drop.spec.ts
Due: npm-format, npm-lint, npm-check

Fix logout E2E test by using hover instead of click
  services/frontend/tests/e2e/auth-flow.spec.ts
Due: npm-format, npm-lint, npm-check

Reorganize navigation menu with dropdown consolidation (#158)
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/tests/e2e/auth-flow.spec.ts
  services/frontend/tests/e2e/calendar-drag-drop.spec.ts
Due: npm-format, npm-lint, npm-check

Improve test coverage and update dependencies
  packages/taskmanager-sdk/uv.lock
  services/backend/app/services/news_fetcher.py
  services/backend/tests/test_dependencies.py
  services/backend/tests/test_oauth_device.py
  services/backend/uv.lock
  services/frontend/package-lock.json
  services/mcp-auth/uv.lock
  services/mcp-resource/uv.lock
Due: pyright-backend, npm-audit

Fix GitHub Actions workflow_call trigger
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

Improve test coverage and update dependencies (#159)
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  packages/taskmanager-sdk/uv.lock
  services/backend/app/services/news_fetcher.py
  services/backend/tests/test_dependencies.py
  services/backend/tests/test_oauth_device.py
  services/backend/uv.lock
  services/frontend/package-lock.json
  services/mcp-auth/uv.lock
  services/mcp-resource/uv.lock
Due: pyright-backend, npm-audit

Fix security vulnerability and improve test coverage
  .gitignore
  services/backend/tests/conftest.py
  services/backend/tests/test_auth.py
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-resource/mcp_resource/__pycache__/__init__.cpython-313.pyc
  services/mcp-resource/mcp_resource/__pycache__/server.cpython-313.pyc
  services/mcp-resource/mcp_resource/__pycache__/token_verifier.cpython-313.pyc
  services/mcp-resource/mcp_resource/__pycache__/validation.cpython-313.pyc
  services/mcp-resource/tests/__pycache__/__init__.cpython-313.pyc
  services/mcp-resource/tests/__pycache__/conftest.cpython-313-pytest-9.0.2.pyc
  services/mcp-resource/tests/__pycache__/test_mcp_tools.cpython-313-pytest-9.0.2.pyc
  services/mcp-resource/tests/__pycache__/test_server.cpython-313-pytest-9.0.2.pyc
  services/mcp-resource/tests/__pycache__/test_token_verifier.cpython-313-pytest-9.0.2.pyc
Due: pyright-backend, pyright-mcp-auth

Fix security vulnerability and improve test coverage (#160)
  .gitignore
  services/backend/tests/conftest.py
  services/backend/tests/test_auth.py
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-resource/mcp_resource/__pycache__/__init__.cpython-313.pyc
  services/mcp-resource/mcp_resource/__pycache__/server.cpython-313.pyc
  services/mcp-resource/mcp_resource/__pycache__/token_verifier.cpython-313.pyc
  services/mcp-resource/mcp_resource/__pycache__/validation.cpython-313.pyc
  services/mcp-resource/tests/__pycache__/__init__.cpython-313.pyc
  services/mcp-resource/tests/__pycache__/conftest.cpython-313-pytest-9.0.2.pyc
  services/mcp-resource/tests/__pycache__/test_mcp_tools.cpython-313-pytest-9.0.2.pyc
  services/mcp-resource/tests/__pycache__/test_server.cpython-313-pytest-9.0.2.pyc
  services/mcp-resource/tests/__pycache__/test_token_verifier.cpython-313-pytest-9.0.2.pyc
Due: pyright-backend, pyright-mcp-auth

Add Lakera Guard project ID to API requests
  packages/mcp-resource-framework/mcp_resource_framework/security/lakera_guard.py
  services/mcp-resource/tests/test_lakera_guard.py
Due: pyright-mcp-resource

Add Lakera Guard project ID to API requests (#161)
  packages/mcp-resource-framework/mcp_resource_framework/security/lakera_guard.py
  services/mcp-resource/tests/test_lakera_guard.py
Due: pyright-mcp-resource

Add image attachments feature for todo items
  .env.example
  .gitignore
  docker-compose.yml
  services/backend/Dockerfile
  services/backend/alembic/versions/0005_add_attachments.py
  services/backend/app/api/attachments.py
  services/backend/app/config.py
  services/backend/app/core/errors.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/attachment.py
  services/backend/app/models/todo.py
  services/backend/app/models/user.py
  services/backend/app/services/storage.py
  services/backend/pyproject.toml
  services/backend/uv.lock
  services/frontend/src/lib/api/client.ts
  services/frontend/src/lib/components/AttachmentList.svelte
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/stores/todos.ts
  services/frontend/src/lib/types.ts
Due: pyright-backend, npm-format, npm-lint, npm-check

Fix security vulnerabilities in attachment upload feature
  services/backend/app/api/attachments.py
  services/backend/app/services/storage.py
  services/backend/pyproject.toml
  services/backend/uv.lock
Due: pyright-backend

Add image attachments feature for todo items (#162)
  .env.example
  .gitignore
  docker-compose.yml
  services/backend/Dockerfile
  services/backend/alembic/versions/0005_add_attachments.py
  services/backend/app/api/attachments.py
  services/backend/app/config.py
  services/backend/app/core/errors.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/attachment.py
  services/backend/app/models/todo.py
  services/backend/app/models/user.py
  services/backend/app/services/storage.py
  services/backend/pyproject.toml
  services/backend/uv.lock
  services/frontend/src/lib/api/client.ts
  services/frontend/src/lib/components/AttachmentList.svelte
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/stores/todos.ts
  services/frontend/src/lib/types.ts
Due: pyright-backend, npm-format, npm-lint, npm-check

Enhance MCP tools with subtasks, attachments, and core task operations
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-mcp-resource

Fix API contract violation by using public SDK methods
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-mcp-resource, pyright-sdk

Enhance MCP tools with subtasks, attachments, and core task operations (#163)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-mcp-resource, pyright-sdk

Update task form styling to match view panel design
  services/frontend/src/lib/components/TodoForm.svelte
Due: npm-format, npm-lint, npm-check

Update task form styling to match view panel design (#164)
  services/frontend/src/lib/components/TodoForm.svelte
Due: npm-format, npm-lint, npm-check

Fix security vulnerabilities and add comprehensive test coverage
  services/backend/app/api/oauth/token.py
  services/backend/app/dependencies.py
  services/backend/tests/test_attachments.py
  services/backend/tests/test_oauth_authorize.py
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/mcp_auth/templates/authorization_callback.html
  services/mcp-auth/pyproject.toml
  services/mcp-auth/uv.lock
Due: pyright-backend, pyright-mcp-auth

Fix security vulnerabilities and add comprehensive test coverage (#165)
  services/backend/app/api/oauth/token.py
  services/backend/app/dependencies.py
  services/backend/tests/test_attachments.py
  services/backend/tests/test_oauth_authorize.py
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/mcp_auth/templates/authorization_callback.html
  services/mcp-auth/pyproject.toml
  services/mcp-auth/uv.lock
Due: pyright-backend, pyright-mcp-auth

Modernize frontend styling with dark mode support
  services/frontend/src/app.scss
  services/frontend/src/lib/components/AttachmentList.svelte
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/components/SubtaskList.svelte
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/components/TodoForm.svelte
  services/frontend/src/routes/news/+page.svelte
Due: npm-format, npm-lint, npm-check

Modernize frontend styling with dark mode support (#167)
  services/frontend/src/app.scss
  services/frontend/src/lib/components/AttachmentList.svelte
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/components/SubtaskList.svelte
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/components/TodoForm.svelte
  services/frontend/src/routes/news/+page.svelte
Due: npm-format, npm-lint, npm-check

Fix news feed type labeling in seed script
  services/backend/scripts/seed_news_feeds.py
Due: pyright-backend

Fix news feed type labeling in seed script (#168)
  services/backend/scripts/seed_news_feeds.py
Due: pyright-backend

Add position and archived_at fields for manual ordering
  services/backend/alembic/versions/0006_add_position_and_archived_at.py
  services/backend/app/api/projects.py
  services/backend/app/api/todos.py
  services/backend/app/models/project.py
  services/backend/app/models/todo.py
  services/frontend/src/lib/stores/projects.ts
  services/frontend/src/lib/stores/todos.ts
  services/frontend/src/lib/types.ts
Due: pyright-backend, npm-format, npm-lint, npm-check

Fix security and consistency issues from PR review
  services/backend/app/api/projects.py
  services/backend/app/api/todos.py
  services/frontend/src/lib/types.ts
Due: pyright-backend, npm-format, npm-lint, npm-check

Fix Alembic migration chain - use correct parent revision
  services/backend/alembic/versions/0006_add_position_and_archived_at.py
Due: pyright-backend

Fix alembic files
  services/backend/alembic/env.py
Due: pyright-backend

Add position and archived_at fields for manual ordering (#169)
  services/backend/alembic/env.py
  services/backend/alembic/versions/0006_add_position_and_archived_at.py
  services/backend/app/api/projects.py
  services/backend/app/api/todos.py
  services/backend/app/models/project.py
  services/backend/app/models/todo.py
  services/frontend/src/lib/stores/projects.ts
  services/frontend/src/lib/stores/todos.ts
  services/frontend/src/lib/types.ts
Due: pyright-backend, npm-format, npm-lint, npm-check

Add AI agent integration fields and MCP tools for task automation
  docs/agent-integration-improvements.md
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/alembic/versions/0007_add_agent_fields.py
  services/backend/alembic/versions/ffb35ffdc790_make_access_tokens_refresh_token_.py
  services/backend/app/api/projects.py
  services/backend/app/api/todos.py
  services/backend/app/models/todo.py
  services/backend/app/schemas/__init__.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-resource, pyright-sdk

Add AI agent integration fields and MCP tools for task automation (#170)
  docs/agent-integration-improvements.md
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/alembic/versions/0007_add_agent_fields.py
  services/backend/alembic/versions/ffb35ffdc790_make_access_tokens_refresh_token_.py
  services/backend/app/api/projects.py
  services/backend/app/api/todos.py
  services/backend/app/models/todo.py
  services/backend/app/schemas/__init__.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-resource, pyright-sdk

Add user settings page for email and password management
  services/backend/app/api/auth.py
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/routes/settings/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Add security improvements for user settings endpoints
  services/backend/app/api/auth.py
  services/frontend/src/routes/settings/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Path conditions:
  pyright-backend: any of: ^services/backend/ and \.py$
  pyright-mcp-auth: any of: ^services/mcp-auth/ and \.py$
  pyright-mcp-resource: any of: ^services/mcp-resource/ and \.py$
  pyright-sdk: any of: ^packages/taskmanager-sdk/ and \.py$
  npm-audit: any of: ^services/frontend/(package\.json|package-lock\.json)$
  npm-format: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-lint: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-check: any of: ^services/frontend/.*\.(js|ts|svelte)$
