Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-audit, npm-format, npm-lint, npm-check

Path conditions:
  pyright-backend: any of: ^services/backend/ and \.py$
  pyright-mcp-auth: any of: ^services/mcp-auth/ and \.py$
  pyright-mcp-resource: any of: ^services/mcp-resource/ and \.py$
  pyright-sdk: any of: ^packages/taskmanager-sdk/ and \.py$
  npm-audit: any of: ^services/frontend/(package\.json|package-lock\.json)$
  npm-format: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-lint: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-check: any of: ^services/frontend/.*\.(js|ts|svelte)$

Add tests for updated_at fix and mobile calendar tap
  services/backend/tests/test_comments.py
  services/backend/tests/test_todos.py
  services/frontend/tests/e2e/calendar-drag-drop.spec.ts
Due: pyright-backend, npm-format, npm-lint, npm-check

Require tests before commits/PRs in development guidelines
  CLAUDE.md
Due: none

Add /home route for new tab and iOS home screen (#210)
  CLAUDE.md
  services/frontend/src/routes/home/+page.svelte
  services/frontend/tests/e2e/home-page.spec.ts
  services/frontend/tests/helpers/test-utils.ts
Due: npm-format, npm-lint, npm-check

Fix updated_at epoch bug and add mobile calendar tap (#213)
  CLAUDE.md
  services/backend/alembic/versions/0019_add_updated_at_server_default.py
  services/backend/app/models/comment.py
  services/backend/app/models/todo.py
  services/backend/tests/test_comments.py
  services/backend/tests/test_todos.py
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/routes/task/[id]/+page.svelte
  services/frontend/tests/e2e/calendar-drag-drop.spec.ts
Due: pyright-backend, npm-format, npm-lint, npm-check

Fix security, code quality, and documentation issues from code review
  CLAUDE.md
  docs/archive/COOKIE_FIX_SUMMARY.md
  docs/archive/DATABASE_SCHEMA_FIX.md
  docs/archive/DEPLOYMENT_FIX.md
  docs/archive/QUICK_FIX.md
  services/backend/app/api/news.py
  services/backend/app/api/todos.py
  services/backend/app/services/github_oauth.py
  services/backend/app/services/news_fetcher.py
Due: pyright-backend

cryptography version bump
  services/mcp-resource/uv.lock
Due: none

Harden SSRF protection and add security tests
  services/backend/app/api/news.py
  services/backend/app/services/news_fetcher.py
  services/backend/tests/test_ssrf_protection.py
Due: pyright-backend

Replace post-connection IP check with pre-connection SSRFProtectionTransport
  services/backend/app/services/github_oauth.py
  services/backend/app/services/news_fetcher.py
  services/backend/tests/test_ssrf_protection.py
Due: pyright-backend

Fix security, code quality, and doc issues from code review (#214)
  CLAUDE.md
  docs/archive/COOKIE_FIX_SUMMARY.md
  docs/archive/DATABASE_SCHEMA_FIX.md
  docs/archive/DEPLOYMENT_FIX.md
  docs/archive/QUICK_FIX.md
  services/backend/app/api/news.py
  services/backend/app/api/todos.py
  services/backend/app/services/github_oauth.py
  services/backend/app/services/news_fetcher.py
  services/backend/tests/test_ssrf_protection.py
  services/mcp-resource/uv.lock
Due: pyright-backend

Show subtasks as independent calendar/list items with parent header
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/utils/colors.ts
  services/frontend/src/routes/+page.svelte
Due: npm-format, npm-lint, npm-check

Show subtasks as independent calendar/list items with parent header (#215)
  services/frontend/src/app.scss
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/utils/colors.ts
  services/frontend/src/routes/+page.svelte
Due: npm-format, npm-lint, npm-check

Add featured feed toggle and task completion to /home page
  services/frontend/src/routes/home/+page.svelte
  services/frontend/src/routes/task/[id]/+page.svelte
Due: npm-format, npm-lint, npm-check

Add featured feed toggle and task completion to /home page (#216)
  services/frontend/src/routes/home/+page.svelte
  services/frontend/src/routes/task/[id]/+page.svelte
Due: npm-format, npm-lint, npm-check

Add Grafana/Loki/Prometheus monitoring stack
  docker-compose.yml
  services/backend/app/main.py
  services/backend/pyproject.toml
  services/backend/uv.lock
  services/monitoring/grafana/provisioning/dashboards/dashboards.yml
  services/monitoring/grafana/provisioning/datasources/datasources.yml
  services/monitoring/loki/loki-config.yml
  services/monitoring/prometheus/prometheus.yml
  services/monitoring/promtail/promtail-config.yml
Due: pyright-backend

Fix monitoring stack issues: tests, config, docs, and security
  .env.example
  Makefile
  docker-compose.yml
  services/backend/app/main.py
  services/backend/tests/test_metrics.py
Due: pyright-backend

Add Grafana/Loki/Prometheus monitoring stack (#217)
  .env.example
  Makefile
  docker-compose.yml
  services/backend/app/main.py
  services/backend/pyproject.toml
  services/backend/tests/test_metrics.py
  services/backend/uv.lock
  services/monitoring/grafana/provisioning/dashboards/dashboards.yml
  services/monitoring/grafana/provisioning/datasources/datasources.yml
  services/monitoring/loki/loki-config.yml
  services/monitoring/prometheus/prometheus.yml
  services/monitoring/promtail/promtail-config.yml
Due: pyright-backend

Add admin Loki log ingestion summary page (#218)
  services/backend/app/api/admin_loki.py
  services/backend/app/config.py
  services/backend/app/main.py
  services/backend/tests/test_admin_loki.py
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/routes/admin/loki/+page.svelte
  services/monitoring/loki/nginx-loki.conf
Due: pyright-backend, npm-format, npm-lint, npm-check

Add estimated_hours param to update_task MCP tool
  services/mcp-resource/mcp_resource/server.py
Due: pyright-mcp-resource

Fix review feedback: narrow exception handling, sanitize errors, add test
  services/backend/app/api/admin_loki.py
  services/backend/tests/test_admin_loki.py
Due: pyright-backend

Add estimated_hours param to update_task MCP tool (#219)
  services/mcp-resource/mcp_resource/server.py
Due: pyright-mcp-resource

Add implementation plan for service account authentication
  docs/service-account-authentication.md
Due: none

Fix missing nested subtask validation on generic todo creation endpoint
  services/backend/app/api/todos.py
Due: pyright-backend

Implement Phase 1: service account identity and admin CRUD API
  services/backend/alembic/versions/0020_add_service_account_fields.py
  services/backend/app/api/service_accounts.py
  services/backend/app/main.py
  services/backend/app/models/user.py
  services/backend/tests/test_service_accounts.py
Due: pyright-backend

Add test for nested subtask validation on POST /api/todos
  services/backend/tests/test_todos.py
Due: pyright-backend

Fix missing nested subtask validation on generic creation endpoint (#220)
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
Due: pyright-backend

Fix service account security and consistency issues
  services/backend/app/api/service_accounts.py
Due: pyright-backend

Add implementation plan for service account authentication (#221)
  docs/service-account-authentication.md
  services/backend/alembic/versions/0020_add_service_account_fields.py
  services/backend/app/api/service_accounts.py
  services/backend/app/main.py
  services/backend/app/models/user.py
  services/backend/tests/test_service_accounts.py
Due: pyright-backend

Add deadline_type enum field to task data model
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/taskmanager_sdk/models.py
  services/backend/alembic/versions/0020_add_deadline_type.py
  services/backend/app/api/todos.py
  services/backend/app/models/todo.py
  services/frontend/src/lib/types.ts
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-resource, pyright-sdk, npm-format, npm-lint, npm-check

Add use_enum_values config and enum validation tests for todo schemas
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
Due: pyright-backend

Add default value to SDK Todo.deadline_type for API consistency
  packages/taskmanager-sdk/taskmanager_sdk/models.py
  packages/taskmanager-sdk/tests/conftest.py
  packages/taskmanager-sdk/tests/test_models.py
Due: pyright-sdk

Add deadline_type validation in MCP resource server create_task
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-mcp-resource

Implement Phase 2: Client Credentials tokens carry service account identity
  services/backend/app/api/oauth/token.py
  services/backend/tests/test_client_credentials_identity.py
Due: pyright-backend

Add scope validation and is_active check for OAuth tokens
  services/backend/app/api/oauth/token.py
  services/backend/app/dependencies.py
  services/backend/tests/test_client_credentials_identity.py
Due: pyright-backend

Add text opt-in page, privacy policy, and terms & conditions
  services/frontend/src/routes/+layout.server.ts
  services/frontend/src/routes/+layout.svelte
  services/frontend/src/routes/privacy/+page.svelte
  services/frontend/src/routes/terms/+page.svelte
  services/frontend/src/routes/text-optin/+page.svelte
Due: npm-format, npm-lint, npm-check

Add opt-in image as public static asset
  services/frontend/static/opt-in.png
Due: none

Fix Prettier formatting and add name input maxlength
  services/frontend/src/routes/privacy/+page.svelte
  services/frontend/src/routes/terms/+page.svelte
  services/frontend/src/routes/text-optin/+page.svelte
Due: npm-format, npm-lint, npm-check

Add text opt-in page, privacy policy, and terms pages (#225)
  services/frontend/src/routes/+layout.server.ts
  services/frontend/src/routes/+layout.svelte
  services/frontend/src/routes/privacy/+page.svelte
  services/frontend/src/routes/terms/+page.svelte
  services/frontend/src/routes/text-optin/+page.svelte
  services/frontend/static/opt-in.png
Due: npm-format, npm-lint, npm-check

Fix non-deterministic scope ordering in client credentials grant
  services/backend/app/api/oauth/token.py
Due: pyright-backend

Implement Phase 2: Client Credentials tokens carry service account identity (#224)
  services/backend/app/api/oauth/token.py
  services/backend/app/dependencies.py
  services/backend/tests/test_client_credentials_identity.py
Due: pyright-backend
