Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, eslint, prettier-check, npm-audit

.pre-commit-config.yaml:

# Pre-commit hooks for code quality and security
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # =============================================================================
  # General hooks (all files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: mixed-line-ending

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            package-lock\.json|
            .*\.lock|
            \.env\.example
          )$

  # =============================================================================
  # Python hooks (MCP servers and SDK)
  # =============================================================================
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^(services/backend|services/mcp-auth|services/mcp-resource|packages/taskmanager-sdk)/
      - id: ruff-format
        files: ^(services/backend|services/mcp-auth|services/mcp-resource|packages/taskmanager-sdk)/

  # Python type checking
  - repo: local
    hooks:
      - id: pyright-backend
        name: pyright (backend)
        entry: bash -c 'cd services/backend && uv run pyright'
        language: system
        files: ^services/backend/
        types: [python]
        pass_filenames: false

      - id: pyright-mcp-auth
        name: pyright (mcp-auth)
        entry: bash -c 'cd services/mcp-auth && uv run pyright'
        language: system
        files: ^services/mcp-auth/
        types: [python]
        pass_filenames: false

      - id: pyright-mcp-resource
        name: pyright (mcp-resource)
        entry: bash -c 'cd services/mcp-resource && uv run pyright'
        language: system
        files: ^services/mcp-resource/
        types: [python]
        pass_filenames: false

      - id: pyright-sdk
        name: pyright (taskmanager-sdk)
        entry: bash -c 'cd packages/taskmanager-sdk && uv run pyright'
        language: system
        files: ^packages/taskmanager-sdk/
        types: [python]
        pass_filenames: false

  # =============================================================================
  # Node.js hooks (web-app)
  # =============================================================================
  - repo: local
    hooks:
      - id: eslint
        name: eslint (web-app)
        entry: bash -c 'cd services/web-app && npm run lint'
        language: system
        files: ^services/web-app/.*\.(js|ts|astro)$
        pass_filenames: false

      - id: prettier-check
        name: prettier (web-app)
        entry: bash -c 'cd services/web-app && npm run format:check'
        language: system
        files: ^services/web-app/
        pass_filenames: false

      - id: npm-audit
        name: npm audit (frontend)
        entry: bash -c 'cd frontend && npm audit --production --audit-level=high'
        language: system
        files: ^frontend/(package\.json|package-lock\.json)$
        pass_filenames: false

  # =============================================================================
  # Docker linting
  # =============================================================================
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3008', '--ignore', 'DL3013']

Improve UI/UX and refactor frontend code for better maintainability
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/utils/dates.ts
  services/frontend/src/lib/utils/priority.ts
  services/frontend/src/routes/+layout.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/oauth-clients/+page.svelte
  services/frontend/src/routes/projects/+page.svelte
  services/frontend/src/routes/trash/+page.svelte
  services/frontend/static/favicon.svg
Due: none

Improve UI/UX and refactor frontend code for better maintainability (#137)
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/lib/utils/dates.ts
  services/frontend/src/lib/utils/priority.ts
  services/frontend/src/routes/+layout.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/oauth-clients/+page.svelte
  services/frontend/src/routes/projects/+page.svelte
  services/frontend/src/routes/trash/+page.svelte
  services/frontend/static/favicon.svg
Due: none

Extract MCP OAuth frameworks into reusable packages
  packages/mcp-auth-framework/README.md
  packages/mcp-auth-framework/mcp_auth_framework/__init__.py
  packages/mcp-auth-framework/mcp_auth_framework/rate_limiting.py
  packages/mcp-auth-framework/mcp_auth_framework/responses.py
  packages/mcp-auth-framework/mcp_auth_framework/storage/__init__.py
  packages/mcp-auth-framework/mcp_auth_framework/storage/base.py
  packages/mcp-auth-framework/mcp_auth_framework/storage/memory.py
  packages/mcp-auth-framework/mcp_auth_framework/storage/postgres.py
  packages/mcp-auth-framework/mcp_auth_framework/validation.py
  packages/mcp-auth-framework/pyproject.toml
  packages/mcp-auth-framework/uv.lock
  packages/mcp-resource-framework/README.md
  packages/mcp-resource-framework/mcp_resource_framework/__init__.py
  packages/mcp-resource-framework/mcp_resource_framework/auth/__init__.py
  packages/mcp-resource-framework/mcp_resource_framework/auth/ssrf_protection.py
  packages/mcp-resource-framework/mcp_resource_framework/auth/token_verifier.py
  packages/mcp-resource-framework/mcp_resource_framework/middleware.py
  packages/mcp-resource-framework/mcp_resource_framework/security/__init__.py
  packages/mcp-resource-framework/mcp_resource_framework/security/lakera_guard.py
  packages/mcp-resource-framework/mcp_resource_framework/validation.py
  packages/mcp-resource-framework/pyproject.toml
  packages/mcp-resource-framework/uv.lock
  services/mcp-auth/Dockerfile
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/mcp_auth/taskmanager_oauth_provider.py
  services/mcp-auth/pyproject.toml
  services/mcp-auth/tests/test_device_flow.py
  services/mcp-resource/Dockerfile
  services/mcp-resource/mcp_resource/__init__.py
  services/mcp-resource/mcp_resource/__pycache__/__init__.cpython-313.pyc
  services/mcp-resource/mcp_resource/__pycache__/server.cpython-313.pyc
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/pyproject.toml
  services/mcp-resource/tests/__pycache__/test_mcp_tools.cpython-313-pytest-9.0.2.pyc
  services/mcp-resource/tests/__pycache__/test_server.cpython-313-pytest-9.0.2.pyc
  services/mcp-resource/tests/__pycache__/test_token_verifier.cpython-313-pytest-9.0.2.pyc
  services/mcp-resource/tests/test_lakera_guard.py
  services/mcp-resource/tests/test_mcp_tools.py
  services/mcp-resource/tests/test_server.py
  services/mcp-resource/tests/test_token_verifier.py
Due: pyright-mcp-auth, pyright-mcp-resource

Extract MCP OAuth frameworks into reusable packages (#138)
  packages/mcp-auth-framework/README.md
  packages/mcp-auth-framework/mcp_auth_framework/__init__.py
  packages/mcp-auth-framework/mcp_auth_framework/rate_limiting.py
  packages/mcp-auth-framework/mcp_auth_framework/responses.py
  packages/mcp-auth-framework/mcp_auth_framework/storage/__init__.py
  packages/mcp-auth-framework/mcp_auth_framework/storage/base.py
  packages/mcp-auth-framework/mcp_auth_framework/storage/memory.py
  packages/mcp-auth-framework/mcp_auth_framework/storage/postgres.py
  packages/mcp-auth-framework/mcp_auth_framework/validation.py
  packages/mcp-auth-framework/pyproject.toml
  packages/mcp-auth-framework/uv.lock
  packages/mcp-resource-framework/README.md
  packages/mcp-resource-framework/mcp_resource_framework/__init__.py
  packages/mcp-resource-framework/mcp_resource_framework/auth/__init__.py
  packages/mcp-resource-framework/mcp_resource_framework/auth/ssrf_protection.py
  packages/mcp-resource-framework/mcp_resource_framework/auth/token_verifier.py
  packages/mcp-resource-framework/mcp_resource_framework/middleware.py
  packages/mcp-resource-framework/mcp_resource_framework/security/__init__.py
  packages/mcp-resource-framework/mcp_resource_framework/security/lakera_guard.py
  packages/mcp-resource-framework/mcp_resource_framework/validation.py
  packages/mcp-resource-framework/pyproject.toml
  packages/mcp-resource-framework/uv.lock
  services/mcp-auth/Dockerfile
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/mcp_auth/taskmanager_oauth_provider.py
  services/mcp-auth/pyproject.toml
  services/mcp-auth/tests/test_device_flow.py
  services/mcp-resource/Dockerfile
  services/mcp-resource/mcp_resource/__init__.py
  services/mcp-resource/mcp_resource/__pycache__/__init__.cpython-313.pyc
  services/mcp-resource/mcp_resource/__pycache__/server.cpython-313.pyc
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/pyproject.toml
  services/mcp-resource/tests/__pycache__/test_mcp_tools.cpython-313-pytest-9.0.2.pyc
  services/mcp-resource/tests/__pycache__/test_server.cpython-313-pytest-9.0.2.pyc
  services/mcp-resource/tests/__pycache__/test_token_verifier.cpython-313-pytest-9.0.2.pyc
  services/mcp-resource/tests/test_lakera_guard.py
  services/mcp-resource/tests/test_mcp_tools.py
  services/mcp-resource/tests/test_server.py
  services/mcp-resource/tests/test_token_verifier.py
Due: pyright-mcp-auth, pyright-mcp-resource

Add registration codes to control user registration
  services/backend/alembic/versions/0003_add_registration_codes.py
  services/backend/app/api/auth.py
  services/backend/app/api/registration_codes.py
  services/backend/app/core/errors.py
  services/backend/app/dependencies.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/registration_code.py
  services/backend/app/models/user.py
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/admin/registration-codes/+page.svelte
  services/frontend/src/routes/register/+page.svelte
Due: pyright-backend

Fix critical race condition in registration code validation
  services/backend/alembic/versions/0001_initial_schema.py
  services/backend/alembic/versions/0003_add_registration_codes.py
  services/backend/app/api/auth.py
  services/backend/app/api/registration_codes.py
  services/backend/app/config.py
  services/backend/tests/test_registration_codes.py
Due: pyright-backend

Add registration codes to control user registration (#141)
  services/backend/alembic/versions/0001_initial_schema.py
  services/backend/alembic/versions/0003_add_registration_codes.py
  services/backend/app/api/auth.py
  services/backend/app/api/registration_codes.py
  services/backend/app/config.py
  services/backend/app/core/errors.py
  services/backend/app/dependencies.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/registration_code.py
  services/backend/app/models/user.py
  services/backend/tests/test_registration_codes.py
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/admin/registration-codes/+page.svelte
  services/frontend/src/routes/register/+page.svelte
Due: pyright-backend

Fix OAuth device authorization flow bugs and add comprehensive tests
  services/backend/app/api/auth.py
  services/backend/app/api/oauth/device.py
  services/backend/app/api/oauth/token.py
  services/backend/tests/test_oauth.py
  services/frontend/src/routes/oauth/device/+page.svelte
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/tests/test_device_flow.py
Due: pyright-backend, pyright-mcp-auth

Add automatic CI triggers and local test database setup
  .github/workflows/python-ci.yml
  Makefile
Due: none

Auto-create Docker volume in test-db-setup
  Makefile
Due: none

Add production deployment workflow and database backup tools
  .github/workflows/deploy-production.yml
  .gitignore
  Makefile
  docs/DEPLOYMENT.md
Due: none

Fix E2E tests: Add test database setup and conditional registration code
  services/backend/.env.test
  services/backend/app/api/oauth/clients.py
  services/backend/app/api/projects.py
  services/backend/app/api/recurring_tasks.py
  services/backend/app/api/registration_codes.py
  services/backend/app/api/todos.py
  services/backend/app/api/trash.py
  services/backend/pyproject.toml
  services/backend/scripts/reset_test_db.py
  services/backend/tests/conftest.py
  services/backend/tests/test_oauth.py
  services/backend/tests/test_registration_codes.py
  services/backend/uv.lock
  services/db/certs/server.crt
  services/frontend/.env.example
  services/frontend/.env.test
  services/frontend/package-lock.json
  services/frontend/playwright.config.ts
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/utils/dates.ts
  services/frontend/src/routes/register/+page.svelte
  services/frontend/tests/e2e/auth-flow.spec.ts
  services/frontend/tests/e2e/calendar-drag-drop.spec.ts
Due: pyright-backend

Fix OAuth device flow bugs and E2E tests (#143)
  .github/workflows/deploy-production.yml
  .github/workflows/python-ci.yml
  .gitignore
  Makefile
  docs/DEPLOYMENT.md
  services/backend/.env.test
  services/backend/app/api/auth.py
  services/backend/app/api/oauth/clients.py
  services/backend/app/api/oauth/device.py
  services/backend/app/api/oauth/token.py
  services/backend/app/api/projects.py
  services/backend/app/api/recurring_tasks.py
  services/backend/app/api/registration_codes.py
  services/backend/app/api/todos.py
  services/backend/app/api/trash.py
  services/backend/pyproject.toml
  services/backend/scripts/reset_test_db.py
  services/backend/tests/conftest.py
  services/backend/tests/test_oauth.py
  services/backend/tests/test_registration_codes.py
  services/backend/uv.lock
  services/db/certs/server.crt
  services/frontend/.env.example
  services/frontend/.env.test
  services/frontend/package-lock.json
  services/frontend/playwright.config.ts
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/utils/dates.ts
  services/frontend/src/routes/oauth/device/+page.svelte
  services/frontend/src/routes/register/+page.svelte
  services/frontend/tests/e2e/auth-flow.spec.ts
  services/frontend/tests/e2e/calendar-drag-drop.spec.ts
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/tests/test_device_flow.py
Due: pyright-backend, pyright-mcp-auth

Add project filter, test data seeding, and staging environment setup
  Makefile
  TESTING.md
  services/backend/scripts/README.md
  services/backend/scripts/seed_test_data.py
  services/frontend/package.json
  services/frontend/scripts/README.md
  services/frontend/scripts/dev-with-certs.sh
  services/frontend/scripts/fetch-certs.sh
  services/frontend/src/app.scss
  services/frontend/src/lib/components/ProjectFilter.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/vite.config.ts
Due: pyright-backend

Add project filter, test data seeding, and staging environment setup (#144)
  Makefile
  TESTING.md
  services/backend/scripts/README.md
  services/backend/scripts/seed_test_data.py
  services/frontend/package.json
  services/frontend/scripts/README.md
  services/frontend/scripts/dev-with-certs.sh
  services/frontend/scripts/fetch-certs.sh
  services/frontend/src/app.scss
  services/frontend/src/lib/components/ProjectFilter.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/vite.config.ts
Due: pyright-backend

Fix frontend Docker build and pre-commit hooks
  .pre-commit-config.yaml
  services/frontend/.env.production
  services/frontend/scripts/README.md
  services/frontend/vite.config.ts
Due: none

Fix frontend Docker build and pre-commit hooks (#145)
  .pre-commit-config.yaml
  services/frontend/.env.production
  services/frontend/scripts/README.md
  services/frontend/vite.config.ts
Due: none

Add AI/LLM security news aggregator with RSS feeds and filtering
  docs/news-aggregator.md
  services/backend/alembic/versions/5c158407e4ae_increase_author_field_to_1000_chars.py
  services/backend/alembic/versions/5f4bcf257fc7_increase_author_field_length_in_articles.py
  services/backend/alembic/versions/9103b4db1955_add_type_field_to_feed_sources.py
  services/backend/alembic/versions/b89c89fb2390_add_news_aggregator_tables.py
  services/backend/app/api/news.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/article.py
  services/backend/app/models/article_interaction.py
  services/backend/app/models/feed_source.py
  services/backend/app/models/user.py
  services/backend/app/services/__init__.py
  services/backend/app/services/news_fetcher.py
  services/backend/app/services/scheduler.py
  services/backend/pyproject.toml
  services/backend/scripts/__init__.py
  services/backend/scripts/seed_news_feeds.py
  services/backend/scripts/test_fetch_news.py
  services/backend/uv.lock
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/news/+page.svelte
  services/frontend/src/routes/news/sources/+page.svelte
Due: pyright-backend

Add feed sources data export for production deployment
  services/backend/data/README.md
  services/backend/data/feed_sources.json
  services/backend/data/feed_sources.sql
Due: none

Fix node type checking
  .github/workflows/frontend-ci.yml
  services/frontend/src/routes/news/+page.svelte
Due: none

Fix node formatting, update precommit hooks
  .pre-commit-config.yaml
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/routes/news/+page.svelte
  services/frontend/src/routes/news/sources/+page.svelte
Due: none

Fix playwright startup in CI
  .github/workflows/frontend-ci.yml
Due: none

Remove unnecessary copy step
  .github/workflows/frontend-ci.yml
Due: none

Fix cookie package security vulnerability via npm override
  services/frontend/package-lock.json
  services/frontend/package.json
Due: none

More fixes
  .github/workflows/frontend-ci.yml
  .pre-commit-config.yaml
  services/backend/alembic/versions/5c158407e4ae_increase_author_field_to_1000_chars.py
  services/backend/alembic/versions/5f4bcf257fc7_increase_author_field_length_in_articles.py
  services/backend/alembic/versions/9103b4db1955_add_type_field_to_feed_sources.py
  services/backend/alembic/versions/b89c89fb2390_add_news_aggregator_tables.py
  services/backend/app/api/news.py
  services/backend/app/services/news_fetcher.py
  services/backend/scripts/reset_test_db.py
  services/backend/scripts/seed_test_data.py
  services/backend/tests/test_recurring_tasks.py
Due: pyright-backend

Add AI/LLM Security News Aggregator (#146)
  .github/workflows/frontend-ci.yml
  .pre-commit-config.yaml
  docs/news-aggregator.md
  services/backend/alembic/versions/5c158407e4ae_increase_author_field_to_1000_chars.py
  services/backend/alembic/versions/5f4bcf257fc7_increase_author_field_length_in_articles.py
  services/backend/alembic/versions/9103b4db1955_add_type_field_to_feed_sources.py
  services/backend/alembic/versions/b89c89fb2390_add_news_aggregator_tables.py
  services/backend/app/api/news.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/article.py
  services/backend/app/models/article_interaction.py
  services/backend/app/models/feed_source.py
  services/backend/app/models/user.py
  services/backend/app/services/__init__.py
  services/backend/app/services/news_fetcher.py
  services/backend/app/services/scheduler.py
  services/backend/data/README.md
  services/backend/data/feed_sources.json
  services/backend/data/feed_sources.sql
  services/backend/pyproject.toml
  services/backend/scripts/__init__.py
  services/backend/scripts/reset_test_db.py
  services/backend/scripts/seed_news_feeds.py
  services/backend/scripts/seed_test_data.py
  services/backend/scripts/test_fetch_news.py
  services/backend/tests/test_recurring_tasks.py
  services/backend/uv.lock
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/news/+page.svelte
  services/frontend/src/routes/news/sources/+page.svelte
Due: pyright-backend

Fix cookie package security vulnerability via npm override (#150)
  services/frontend/package-lock.json
  services/frontend/package.json
Due: none

Update documentation for accuracy and consistency
  .env.example
  CLAUDE.md
  QUICK_START.md
  README.md
  services/frontend/README.md
Due: none

Update documentation for accuracy and consistency (#151)
  .env.example
  CLAUDE.md
  QUICK_START.md
  README.md
  services/frontend/README.md
Due: none

Code optimization, security updates, and comprehensive OAuth tests
  services/backend/alembic/versions/ffb35ffdc790_make_access_tokens_refresh_token_.py
  services/backend/app/api/news.py
  services/backend/app/api/projects.py
  services/backend/app/api/recurring_tasks.py
  services/backend/app/api/registration_codes.py
  services/backend/app/api/todos.py
  services/backend/app/api/trash.py
  services/backend/app/dependencies.py
  services/backend/app/models/oauth.py
  services/backend/app/schemas/__init__.py
  services/backend/pyproject.toml
  services/backend/tests/test_oauth.py
  services/backend/uv.lock
  services/frontend/src/hooks.server.ts
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/stores/projects.ts
  services/frontend/src/lib/stores/todos.ts
  services/frontend/src/lib/utils/logger.ts
  services/frontend/src/routes/+layout.server.ts
  services/frontend/src/routes/+page.svelte
  services/mcp-auth/pyproject.toml
  services/mcp-auth/uv.lock
  services/mcp-resource/pyproject.toml
  services/mcp-resource/uv.lock
Due: pyright-backend

Add Playwright screenshot generation for README
  docs/screenshots/.gitkeep
  services/frontend/tests/e2e/readme-screenshots.spec.ts
  services/frontend/tests/helpers/test-utils.ts
Due: none

Code optimization, security updates, and comprehensive OAuth tests (#152)
  services/backend/alembic/versions/ffb35ffdc790_make_access_tokens_refresh_token_.py
  services/backend/app/api/news.py
  services/backend/app/api/projects.py
  services/backend/app/api/recurring_tasks.py
  services/backend/app/api/registration_codes.py
  services/backend/app/api/todos.py
  services/backend/app/api/trash.py
  services/backend/app/dependencies.py
  services/backend/app/models/oauth.py
  services/backend/app/schemas/__init__.py
  services/backend/pyproject.toml
  services/backend/tests/test_oauth.py
  services/backend/uv.lock
  services/frontend/src/hooks.server.ts
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/stores/projects.ts
  services/frontend/src/lib/stores/todos.ts
  services/frontend/src/lib/utils/logger.ts
  services/frontend/src/routes/+layout.server.ts
  services/frontend/src/routes/+page.svelte
  services/mcp-auth/pyproject.toml
  services/mcp-auth/uv.lock
  services/mcp-resource/pyproject.toml
  services/mcp-resource/uv.lock
Due: pyright-backend

Add README screenshots and configure Playwright for dev environment
  README.md
  docs/screenshots/dashboard-full.png
  docs/screenshots/dashboard.png
  docs/screenshots/login-page.png
  docs/screenshots/register-page.png
  docs/screenshots/settings-page.png
  services/frontend/playwright.screenshots.config.ts
  services/frontend/tests/e2e/readme-screenshots.spec.ts
Due: none

Add Playwright screenshot generation for README (#153)
  README.md
  docs/screenshots/.gitkeep
  docs/screenshots/dashboard-full.png
  docs/screenshots/dashboard.png
  docs/screenshots/login-page.png
  docs/screenshots/register-page.png
  docs/screenshots/settings-page.png
  services/frontend/playwright.screenshots.config.ts
  services/frontend/tests/e2e/readme-screenshots.spec.ts
  services/frontend/tests/helpers/test-utils.ts
Due: none

Fix deployment workflow by removing host dependency installation
  .github/workflows/deploy-production.yml
Due: none

Fix deployment workflow by removing host dependency installation (#154)
  .github/workflows/deploy-production.yml
Due: none

Fix security vulnerabilities: CORS, debug mode, and secret key validation
  .env.example
  services/backend/app/config.py
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-auth, pyright-mcp-resource

Fix security vulnerabilities: CORS, debug mode, and secret key validation (#155)
  .env.example
  services/backend/app/config.py
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-auth, pyright-mcp-resource

Add frontend support for recurring tasks feature
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/components/RecurringTaskForm.svelte
  services/frontend/src/lib/components/RecurringTaskModal.svelte
  services/frontend/src/lib/components/TodoForm.svelte
  services/frontend/src/lib/stores/recurringTasks.ts
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/recurring-tasks/+page.svelte
Due: none

Fix memory leaks and add weekday validation for recurring tasks
  services/frontend/src/lib/components/RecurringTaskForm.svelte
  services/frontend/src/lib/components/TodoForm.svelte
  services/frontend/src/routes/recurring-tasks/+page.svelte
Due: none
