Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-audit, npm-format, npm-lint, npm-check

pyright-backend:
  name: pyright (backend)
  entry: bash -c 'cd services/backend && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp-auth:
  name: pyright (mcp-auth)
  entry: bash -c 'cd services/mcp-auth && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp-resource:
  name: pyright (mcp-resource)
  entry: bash -c 'cd services/mcp-resource && uv run pyright'
  language: system
  pass_filenames: false

pyright-sdk:
  name: pyright (taskmanager-sdk)
  entry: bash -c 'cd packages/taskmanager-sdk && uv run pyright'
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm audit --production --audit-level=high'
  language: system
  pass_filenames: false

npm-format:
  name: npm format (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run format'
  language: system
  pass_filenames: false

npm-lint:
  name: npm lint (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run lint'
  language: system
  pass_filenames: false

npm-check:
  name: npm check (frontend)
  entry: bash -c 'source $HOME/.nvm/nvm.sh && cd services/frontend && npm run check'
  language: system
  pass_filenames: false

Address CI and review feedback
  services/backend/alembic/versions/0023_add_wiki_revisions_and_soft_delete.py
  services/backend/app/api/wiki.py
  services/backend/app/models/wiki_page.py
  services/backend/tests/test_wiki.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-backend, pyright-mcp-resource

Add wiki search snippets, append mode, revisions, batch linking, and slug feedback (#248)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/alembic/versions/0023_add_wiki_revisions_and_soft_delete.py
  services/backend/app/api/wiki.py
  services/backend/app/models/__init__.py
  services/backend/app/models/wiki_page.py
  services/backend/tests/test_wiki.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-backend, pyright-mcp-resource, pyright-sdk

Add MCP device authorization flow script
  scripts/mcp-device-auth.sh
Due: none

Harden MCP device auth script based on review feedback
  scripts/mcp-device-auth.sh
Due: none

feat(api): support dependency creation in batch task creation (task #442)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/app/api/todos.py
  services/backend/tests/test_task_dependencies.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-resource, pyright-sdk

Add MCP device authorization flow script (#249)
  scripts/mcp-device-auth.sh
Due: none

feat(api): support subtask creation in batch task creation (task #443)
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-backend, pyright-mcp-resource

feat(api): support subtask creation in batch task creation (task #443) (#252)
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-backend, pyright-mcp-resource

feat(api): support wiki page linking in batch task creation (task #444)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/test_client.py
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-backend, pyright-mcp-resource, pyright-sdk

feat(api): support wiki page linking in batch task creation (task #444) (#253)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/test_client.py
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-backend, pyright-mcp-resource, pyright-sdk

Optimize CI: path filters, concurrency, sharding, and parallel tests
  .github/workflows/backend-ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-reviews.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/test.yml
  services/backend/pyproject.toml
  services/backend/tests/conftest.py
  services/backend/uv.lock
  services/frontend/playwright.config.ts
Due: pyright-backend, npm-format, npm-lint, npm-check

Fix Prettier formatting in playwright.config.ts
  services/frontend/playwright.config.ts
Due: npm-format, npm-lint, npm-check

Fix concurrency groups for reusable workflows
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

Remove direct triggers from reusable workflows
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

feat(api): support estimated_hours in batch task creation (task #441)
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-backend, pyright-mcp-resource

Optimize CI: path filters, concurrency, sharding, and parallel tests (#254)
  .github/workflows/backend-ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-reviews.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/test.yml
  services/backend/pyproject.toml
  services/backend/tests/conftest.py
  services/backend/uv.lock
  services/frontend/playwright.config.ts
Due: pyright-backend, npm-format, npm-lint, npm-check

feat(api): support estimated_hours in batch task creation (task #441) (#250)
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-backend, pyright-mcp-resource

feat(api): support dependency creation in batch task creation (#251)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/app/api/todos.py
  services/backend/tests/test_task_dependencies.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-backend, pyright-mcp-resource, pyright-sdk

fix(mcp): resolve category matching for task creation (task #439)
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
Due: pyright-backend

feat(ci): add review gate and branch protection
  .github/workflows/claude-reviews.yml
Due: none

feat(ci): add review gate and branch protection (#256)
  .github/workflows/claude-reviews.yml
Due: none

fix(mcp): address review feedback for category matching (task #439)
  services/backend/app/api/todos.py
  services/backend/tests/test_todos.py
Due: pyright-backend

fix(mcp): fix savepoint and schema for category matching (task #439)
  services/backend/alembic/versions/0024_make_project_name_unique_per_user.py
  services/backend/app/api/todos.py
  services/backend/app/models/project.py
Due: pyright-backend

fix(mcp): expunge pending project before IntegrityError re-query (task #439)
  services/backend/app/api/todos.py
  services/backend/app/models/project.py
Due: pyright-backend

fix(mcp): add per-user project cap for auto-creation (task #439)
  services/backend/app/api/todos.py
Due: pyright-backend

test(todos): add test for project cap enforcement in category auto-creation
  services/backend/tests/test_todos.py
Due: pyright-backend

fix(todos): use SELECT FOR UPDATE to prevent project cap race condition
  services/backend/app/api/todos.py
Due: pyright-backend

fix(mcp): resolve category matching for task creation (task #439) (#255)
  services/backend/alembic/versions/0024_make_project_name_unique_per_user.py
  services/backend/app/api/todos.py
  services/backend/app/models/project.py
  services/backend/tests/test_todos.py
Due: pyright-backend

fix: address code review feedback for OAuth discovery
  packages/mcp-resource-framework/mcp_resource_framework/oauth_discovery.py
  packages/mcp-resource-framework/tests/test_oauth_discovery.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-mcp-resource

fix(cors): omit Access-Control-Allow-Origin for disallowed origins
  packages/mcp-auth-framework/mcp_auth_framework/cors.py
Due: none

feat(framework): add reusable OAuth discovery endpoint registration
  packages/mcp-resource-framework/mcp_resource_framework/__init__.py
  packages/mcp-resource-framework/mcp_resource_framework/oauth_discovery.py
  packages/mcp-resource-framework/tests/__init__.py
  packages/mcp-resource-framework/tests/test_oauth_discovery.py
  services/mcp-relay/mcp_relay/server.py
  services/mcp-resource/mcp_resource/server.py
Due: pyright-mcp-resource

fix(ci): add Suggestions section to review prompts and cors tests
  .github/workflows/claude-reviews.yml
  packages/mcp-auth-framework/tests/test_cors.py
Due: none

feat(calendar): add Expand All / Collapse All button
  services/frontend/src/lib/components/DragDropCalendar.svelte
Due: npm-format, npm-lint, npm-check

fix(calendar): format expand all button with prettier
  services/frontend/src/lib/components/DragDropCalendar.svelte
Due: npm-format, npm-lint, npm-check

fix(calendar): address code review feedback
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/tests/e2e/calendar-expand-collapse.spec.ts
Due: npm-format, npm-lint, npm-check

fix(test): use today's date and avoid brittle class selectors
  services/frontend/tests/e2e/calendar-expand-collapse.spec.ts
Due: npm-format, npm-lint, npm-check

fix(test): make calendar expand tests more resilient on CI
  services/frontend/tests/e2e/calendar-expand-collapse.spec.ts
Due: npm-format, npm-lint, npm-check

fix(test): add explicit task-loaded waits before overflow assertions
  services/frontend/tests/e2e/calendar-expand-collapse.spec.ts
Due: npm-format, npm-lint, npm-check

fix(calendar): ensure Svelte reactivity tracks todosByDate/subtasksByDate
  services/frontend/src/lib/components/DragDropCalendar.svelte
Due: npm-format, npm-lint, npm-check

Path conditions:
  pyright-backend: any of: ^services/backend/ and \.py$
  pyright-mcp-auth: any of: ^services/mcp-auth/ and \.py$
  pyright-mcp-resource: any of: ^services/mcp-resource/ and \.py$
  pyright-sdk: any of: ^packages/taskmanager-sdk/ and \.py$
  npm-audit: any of: ^services/frontend/(package\.json|package-lock\.json)$
  npm-format: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-lint: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-check: any of: ^services/frontend/.*\.(js|ts|svelte)$
