Repository brooksmcmillin/taskmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-audit, npm-format, npm-lint, npm-check

Path conditions:
  pyright-backend: any of: ^services/backend/ and \.py$
  pyright-mcp-auth: any of: ^services/mcp-auth/ and \.py$
  pyright-mcp-resource: any of: ^services/mcp-resource/ and \.py$
  pyright-sdk: any of: ^packages/taskmanager-sdk/ and \.py$
  npm-audit: any of: ^services/frontend/(package\.json|package-lock\.json)$
  npm-format: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-lint: any of: ^services/frontend/.*\.(js|ts|svelte)$
  npm-check: any of: ^services/frontend/.*\.(js|ts|svelte)$

Fix multiple alembic heads causing CI migration failure
  services/backend/alembic/versions/0013_add_oauth_providers.py
Due: pyright-backend

Rebase OAuth migration after 0013_add_project_stats_index from main
  services/backend/alembic/versions/0014_add_oauth_providers.py
Due: pyright-backend

Add GitHub OAuth social login integration (#166)
  .env.example
  services/backend/alembic/versions/0014_add_oauth_providers.py
  services/backend/app/api/oauth/github.py
  services/backend/app/config.py
  services/backend/app/core/errors.py
  services/backend/app/main.py
  services/backend/app/models/__init__.py
  services/backend/app/models/oauth_provider.py
  services/backend/app/models/user.py
  services/backend/app/services/github_oauth.py
  services/backend/app/services/token_encryption.py
  services/backend/tests/test_github_oauth.py
  services/frontend/src/routes/login/+page.svelte
  services/frontend/src/routes/register/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Add project creation and dependency management MCP tools
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/test_client.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-mcp-resource, pyright-sdk

Fix CIMD intercepting registered OAuth clients like Claude mobile
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/mcp_auth/taskmanager_oauth_provider.py
  services/mcp-auth/tests/test_cimd.py
Due: pyright-mcp-auth

Fix CIMD intercepting registered OAuth clients like Claude mobile (#183)
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/mcp_auth/taskmanager_oauth_provider.py
  services/mcp-auth/tests/test_cimd.py
Due: pyright-mcp-auth

Add project creation and dependency management MCP tools (#182)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/test_client.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/tests/test_mcp_tools.py
Due: pyright-mcp-resource, pyright-sdk

Fix MCP query bugs: category filter, category persistence, and search
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/backend/app/api/search.py
  services/backend/app/api/todos.py
Due: pyright-backend, pyright-sdk

Fix SDK test to match renamed search query parameter
  packages/taskmanager-sdk/tests/test_client.py
Due: pyright-sdk

Fix MCP query bugs: category filter, create, and search (#184)
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/tests/test_client.py
  services/backend/app/api/search.py
  services/backend/app/api/todos.py
Due: pyright-backend, pyright-sdk

Reduce code duplication with shared helpers and cleanup
  packages/mcp-auth-framework/mcp_auth_framework/cors.py
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/frontend/src/lib/stores/todos.ts
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/mcp_auth/taskmanager_oauth_provider.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/pyproject.toml
  services/mcp-resource/uv.lock
Due: pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-format, npm-lint, npm-check

Reduce code duplication with shared helpers and cleanup (#187)
  packages/mcp-auth-framework/mcp_auth_framework/cors.py
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  services/frontend/src/lib/stores/todos.ts
  services/mcp-auth/mcp_auth/auth_server.py
  services/mcp-auth/mcp_auth/taskmanager_oauth_provider.py
  services/mcp-resource/mcp_resource/server.py
  services/mcp-resource/pyproject.toml
  services/mcp-resource/uv.lock
Due: pyright-mcp-auth, pyright-mcp-resource, pyright-sdk, npm-format, npm-lint, npm-check

Add pyright to CI and trigger Claude reviews on PR updates
  .github/workflows/backend-ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-security-review.yml
  .github/workflows/python-ci.yml
  packages/taskmanager-sdk/pyproject.toml
  services/mcp-auth/pyproject.toml
  services/mcp-resource/pyproject.toml
Due: none

Add pyright to CI and trigger Claude reviews on PR updates (#188)
  .github/workflows/backend-ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-security-review.yml
  .github/workflows/python-ci.yml
  packages/taskmanager-sdk/pyproject.toml
  services/mcp-auth/pyproject.toml
  services/mcp-resource/pyproject.toml
Due: none

Remove dead code, debug logs, and deduplicate OAuth client creation
  services/backend/app/api/oauth/clients.py
  services/backend/app/api/oauth/device.py
  services/frontend/src/lib/components/Toast.svelte
  services/frontend/src/lib/components/TodoModal.svelte
  services/frontend/src/lib/utils/colors.ts
  services/frontend/src/lib/utils/dates.ts
  services/frontend/src/routes/news/sources/+page.svelte
  services/frontend/src/routes/register/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Remove dead code, debug logs, and deduplicate OAuth client creation (#189)
  services/backend/app/api/oauth/clients.py
  services/backend/app/api/oauth/device.py
  services/frontend/src/lib/components/Toast.svelte
  services/frontend/src/lib/components/TodoModal.svelte
  services/frontend/src/lib/utils/colors.ts
  services/frontend/src/lib/utils/dates.ts
  services/frontend/src/routes/news/sources/+page.svelte
  services/frontend/src/routes/register/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Remove unused python-jose dependency from backend
  services/backend/pyproject.toml
  services/backend/uv.lock
Due: none

Remove unused python-jose dependency from backend (#190)
  services/backend/pyproject.toml
  services/backend/uv.lock
Due: none

Add token validation/introspection during OAuth callback flow (#186)
  services/mcp-auth/mcp_auth/taskmanager_oauth_provider.py
  services/mcp-auth/tests/test_token_validation.py
Due: pyright-mcp-auth

Fix token prefixing and simplify scopes validation
  services/mcp-auth/mcp_auth/taskmanager_oauth_provider.py
  services/mcp-auth/tests/test_token_validation.py
Due: pyright-mcp-auth

Add token validation/introspection during OAuth callback flow (#191)
  services/mcp-auth/mcp_auth/taskmanager_oauth_provider.py
  services/mcp-auth/tests/test_token_validation.py
Due: pyright-mcp-auth

Add due date filter to list and calendar views
  services/backend/app/api/todos.py
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/components/DueDateFilter.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Fix due date filter: type export, code duplication, and backend guard
  services/backend/app/api/todos.py
  services/frontend/src/lib/components/DueDateFilter.svelte
  services/frontend/src/lib/utils/dueDateFilter.ts
  services/frontend/src/routes/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Add due date filter to list and calendar views (#192)
  services/backend/app/api/todos.py
  services/frontend/src/lib/components/DragDropCalendar.svelte
  services/frontend/src/lib/components/DueDateFilter.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/lib/utils/dueDateFilter.ts
  services/frontend/src/routes/+page.svelte
Due: pyright-backend, npm-format, npm-lint, npm-check

Add 9 tests for critical OAuth token endpoint coverage gaps
  services/backend/tests/test_oauth.py
Due: pyright-backend

Add 9 tests for critical OAuth token endpoint coverage gaps (#193)
  services/backend/tests/test_oauth.py
Due: pyright-backend

Fix mcp-resource Docker build by adding missing mcp-auth-framework dependency (#194)
  services/mcp-resource/Dockerfile
Due: none

Fix mcp-resource Docker build by adding missing mcp-auth-framework dependency (#194) (#194)
  services/mcp-resource/Dockerfile
Due: none

Remove username field, use email as sole user identifier
  packages/taskmanager-sdk/.env.example
  packages/taskmanager-sdk/README.md
  packages/taskmanager-sdk/examples/test_script.py
  packages/taskmanager-sdk/openapi.yaml
  packages/taskmanager-sdk/taskmanager_sdk/__init__.py
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/taskmanager_sdk/models.py
  packages/taskmanager-sdk/tests/conftest.py
  packages/taskmanager-sdk/tests/test_client.py
  packages/taskmanager-sdk/tests/test_models.py
  services/backend/alembic/versions/0015_remove_username.py
  services/backend/app/api/auth.py
  services/backend/app/api/oauth/github.py
  services/backend/app/api/registration_codes.py
  services/backend/app/api/webauthn.py
  services/backend/app/config.py
  services/backend/app/core/errors.py
  services/backend/app/models/user.py
  services/backend/scripts/seed_test_data.py
  services/backend/tests/conftest.py
  services/backend/tests/test_attachments.py
  services/backend/tests/test_auth.py
  services/backend/tests/test_bcrypt_compat.py
  services/backend/tests/test_db_queries.py
  services/backend/tests/test_dependencies.py
  services/backend/tests/test_github_oauth.py
  services/backend/tests/test_registration_codes.py
  services/backend/tests/test_todos.py
  services/backend/tests/test_trash.py
  services/frontend/src/lib/api/webauthn.ts
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/admin/registration-codes/+page.svelte
  services/frontend/src/routes/login/+page.svelte
  services/frontend/src/routes/oauth/authorize/+page.svelte
  services/frontend/src/routes/oauth/device/+page.svelte
  services/frontend/src/routes/register/+page.svelte
  services/frontend/tests/e2e/auth-flow.spec.ts
  services/frontend/tests/helpers/test-utils.ts
Due: pyright-backend, pyright-sdk, npm-format, npm-lint, npm-check

Remove username field, use email as sole user identifier (#195)
  packages/taskmanager-sdk/.env.example
  packages/taskmanager-sdk/README.md
  packages/taskmanager-sdk/examples/test_script.py
  packages/taskmanager-sdk/openapi.yaml
  packages/taskmanager-sdk/taskmanager_sdk/__init__.py
  packages/taskmanager-sdk/taskmanager_sdk/client.py
  packages/taskmanager-sdk/taskmanager_sdk/models.py
  packages/taskmanager-sdk/tests/conftest.py
  packages/taskmanager-sdk/tests/test_client.py
  packages/taskmanager-sdk/tests/test_models.py
  services/backend/alembic/versions/0015_remove_username.py
  services/backend/app/api/auth.py
  services/backend/app/api/oauth/github.py
  services/backend/app/api/registration_codes.py
  services/backend/app/api/webauthn.py
  services/backend/app/config.py
  services/backend/app/core/errors.py
  services/backend/app/models/user.py
  services/backend/scripts/seed_test_data.py
  services/backend/tests/conftest.py
  services/backend/tests/test_attachments.py
  services/backend/tests/test_auth.py
  services/backend/tests/test_bcrypt_compat.py
  services/backend/tests/test_db_queries.py
  services/backend/tests/test_dependencies.py
  services/backend/tests/test_github_oauth.py
  services/backend/tests/test_registration_codes.py
  services/backend/tests/test_todos.py
  services/backend/tests/test_trash.py
  services/frontend/src/lib/api/webauthn.ts
  services/frontend/src/lib/components/Navigation.svelte
  services/frontend/src/lib/types.ts
  services/frontend/src/routes/admin/registration-codes/+page.svelte
  services/frontend/src/routes/login/+page.svelte
  services/frontend/src/routes/oauth/authorize/+page.svelte
  services/frontend/src/routes/oauth/device/+page.svelte
  services/frontend/src/routes/register/+page.svelte
  services/frontend/tests/e2e/auth-flow.spec.ts
  services/frontend/tests/helpers/test-utils.ts
Due: pyright-backend, pyright-sdk, npm-format, npm-lint, npm-check

Derive WebAuthn rp_id and origin from frontend_url
  services/backend/app/config.py
Due: pyright-backend

Derive WebAuthn rp_id and origin from frontend_url (#196)
  services/backend/app/config.py
Due: pyright-backend

Add full-page task view at /task/[id] with linkable task IDs (#197)
  services/frontend/src/lib/components/SubtaskList.svelte
  services/frontend/src/lib/components/TaskDetailPanel.svelte
  services/frontend/src/routes/task/[id]/+page.svelte
Due: npm-format, npm-lint, npm-check

Add error logging and user feedback when full task fetch fails
  services/frontend/src/lib/components/TaskDetailPanel.svelte
Due: npm-format, npm-lint, npm-check

Extract get_project_info helper and createCrudStore factory to reduce duplication
  services/backend/app/api/todos.py
  services/backend/app/db/queries.py
  services/frontend/src/lib/stores/createCrudStore.ts
  services/frontend/src/lib/stores/projects.ts
  services/frontend/src/lib/stores/recurringTasks.ts
  services/frontend/src/lib/stores/todos.ts
Due: pyright-backend, npm-format, npm-lint, npm-check

Update libraries, fix documents
  services/backend/pyproject.toml
  services/backend/uv.lock
  services/mcp-auth/README.md
  services/mcp-resource/README.md
Due: none

Extract get_project_info helper and createCrudStore factory (#198)
  services/backend/app/api/todos.py
  services/backend/app/db/queries.py
  services/backend/pyproject.toml
  services/backend/uv.lock
  services/frontend/src/lib/stores/createCrudStore.ts
  services/frontend/src/lib/stores/projects.ts
  services/frontend/src/lib/stores/recurringTasks.ts
  services/frontend/src/lib/stores/todos.ts
  services/mcp-auth/README.md
  services/mcp-resource/README.md
Due: pyright-backend, npm-format, npm-lint, npm-check

Update docs
  QUICK_START.md
  TESTING.md
Due: none

Update docs (#199)
  QUICK_START.md
  TESTING.md
Due: none
